<%= form_for(@admin_customer_item_side) do |f| %>

    <%= render 'shared/error_messages', record: @admin_customer_item_side %>

    <div class="field">
      <%= f.label :item %>
      <br/>
      <%= f.text_field :item %>
    </div>
    <div class="field">
      <%= f.label :part %>
      <br/>
      <%= f.text_field :part %>
    </div>

    <div class="field">
      <%= f.label :image_custom, 'Custom Kimbra Part:' %>
      <%= f.file_field :image_custom %>
      <br/>
      <%= f.label :remote_image_custom_url, 'or Part URL' %>
      <%= f.text_field :remote_image_custom_url %>
    </div>
    <%= f.hidden_field :image_custom_cache %>

    <div class="field">
      <%= f.label :image_stock, 'Portrait:' %>
      <%= f.file_field :image_stock %>
      <br/>
      <%= f.label :remote_image_stock_url, 'or Portrait URL' %>
      <%= f.text_field :remote_image_stock_url %>
    </div>
    <%= f.hidden_field :image_stock_cache %>

    <div class="actions">
      <%= f.submit :id => 'my_submit' %>
      <%= spinner %>
    </div>
<% end %>