<%= form_for(@admin_customer_item_side) do |f| %>
  <% if @admin_customer_item_side.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_customer_item_side.errors.count, "error") %> prohibited this admin_customer_item_side from being saved:</h2>

      <ul>
      <% @admin_customer_item_side.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item %><br />
    <%= f.text_field :item %>
  </div>
  <div class="field">
    <%= f.label :part %><br />
    <%= f.text_field :part %>
  </div>
  <div class="field">
    <%= f.label :image_stock %><br />
    <%= f.text_field :image_stock %>
  </div>
  <div class="field">
    <%= f.label :image_custom %><br />
    <%= f.text_field :image_custom %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
