<%= "Side #{label}" %>
<table>
  <thead>
  <th></th>
  <th>x</th>
  <th>y</th>
  <th>width</th>
  <th>height</th>
  </thead>
  <%= render "piece_layout/show", :piece_layout => item_side.part.piece_layout %>
  <%= render "part_layout/show", :part_layout => item_side.part.part_layout %>
</table><br/><br/>

<table>
  <tr>
    <td><b>Image stock:</b></td>
    <td><%= image_tag(item_side.image_stock_url.to_s, :title => item_side.image_title(item_side.image_stock)) %></td>
    <td><b>Image custom:</b></td>
    <td><%= image_tag(item_side.image_custom_url.to_s, :title => item_side.image_title(item_side.image_custom)) %></td>
  </tr>
</table>