<div class="offer-actions">
  <span class="price"><%= number_to_currency(offer.price) %></span>

  <p class="shopping-item">
    <span id='<%= "shopping_item_#{offer.id}" %>'></span>
  </p>

  <div class="row">

    <div class="pull-left">
      <%= render 'shopping/items/add_to_cart', attrs: {offer_id: offer.id} %>

    </div>

    <% if offer.adjust_picture? %>

        <% if is_studio? %>
            <% edit_url = '#' %>
        <% else %>
            <% if offer.has_picture? %>
                <% if offer.items.size > 1 %>
                    <% edit_url = minisite_offer_items_path(offer) %>
                <% else %>
                    <% edit_url = edit_minisite_item_side_path(offer.items.first.front) %>
                <% end %>
            <% end %>
        <% end %>
        <% if controller_name == 'offers' and action_name == 'index_custom' %>
            <% adjust_span = "span3" %>
        <% else %>
            <% adjust_span = "span5" %>
        <% end %>

        <% key = in_my_collection?(offer) ? 'adjust_photo' : 'adjust_photo_add' %>
        <div class="pull-left">
          <%= button_icon_to t(".#{key}.name"),
                             edit_url,
                             method:       :get,
                             id:           "adjust#{offer.id}",
                             title:        t(".#{key}.title"),
                             icon_class:   'icon-edit icon-white',
                             button_class: 'btn btn-small btn-success',
                             form_class:   'button_to form-inline' %>
        </div>

    <% end %>

    <% if is_admin? or (controller_name == 'offers' and action_name == 'index_custom') %>
        <% confirm = offer.in_cart?(@cart) ? '.delete.confirm_in_cart' : '.delete.confirm' %>
        <div class="pull-left">

          <%= button_icon_to t(".delete.name"), minisite_email_offer_path(offer.email, offer),
                             method:       :delete,
                             remote:       true,
                             id:           "delete#{offer.id}",
                             title:        t(".delete.title"),
                             confirm:      t(confirm),
                             icon_class:   'icon-trash icon-white',
                             button_class: 'btn btn-small btn-danger delete',
                             form_class:   'form-inline button_to' %>
        </div>
    <% end %>
  </div>

</div>
