<div class="show-all">

  <% url = @admin_customer_offer.id.nil? ? minisite_offers_path(@admin_customer_email) : minisite_offer_path(@admin_customer_offer) %>
  <%= form_for(@admin_customer_offer, :url => url, :html => {:multipart => true}) do |f| %>

      <%= render 'shared/error_messages', record: @admin_customer_offer %>

      <div class="portraits">
        <% @admin_customer_offer.portraits.each do |portrait| %>
            <table class='portrait-pick'>
              <tr>
                <td>
                  <%= link_to cw_div_image(portrait), portrait_minisite_offer_path(@admin_customer_offer, portrait.id), :remote => true %>
                </td>
              </tr>
            </table>
        <% end %>
      </div>
      <h4>Preview</h4>

      <table>
        <tr>
          <td>
            <div id="portrait_item">

            </div>
          </td>
          <td align="top">
            <% %w[x y w h].each do |attr| %>
              <%= f.text_field "crop_#{attr}" %><br>
            <% end %>

            <div id='part_item_preview'>

            </div>
          </td>
        </tr>
      </table>

      <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name, :readonly => true %>
      </div>
      <div class="field">
        <b>Kimbra Piece:</b>
        <%= cw_div_image(@admin_customer_offer.piece) %>
      </div>
      <div class="field">
        <b>Custom Piece:</b><br>
        <%= cw_div_image(@admin_customer_offer, :image => 'image_front', :version => :original) %>
      </div>
      <% if @admin_customer_offer.back.present? %>
          <div class="field">
            <b>Custom Piece Side 2:</b><br>
            <%= cw_div_image(@admin_customer_offer, :image => 'image_back', :version => :original) %>
          </div>
      <% end %>

      <div class="actions">
        <%= f.submit :id => 'my_submit' %>
        <%= spinner %>
      </div>
  <% end %>
</div>