<div class="media">
  <%= image_tag(piece.image.url_cache_buster,
                :title    => piece.name,
                :alt      => piece.name,
                :class    => "img-rounded media-object pull-left",
                :editable => "true",
                :label    => "Image") %>

  <div class="media-body pull-left">

    <h4 class="media-heading"><%= piece.name %></h4>

    <%= render 'piece_description', piece: piece %>

    <br>
    <span class="price"><%= number_to_currency(piece.price) %></span>

    <p class="shopping-item">
      <span id='<%= "shopping_item_#{@shopping_item.piece_id}" %>'></span>
    </p>
    <% unless @show_status_only %>
        <div class="offer-actions">
          <%= render 'shopping/items/add_to_cart', attrs: {piece_id: piece.id} %>
        </div>
    <% end %>

  </div>
</div>

