<div class="offer_show">

  <p>
    <i>The setting for this piece is the  <%= @admin_customer_offer.name %>.</i>
  </p>

  <% if @admin_customer_offer.back.present? %>
      <p>
        <b>Front</b>
        <%= image_tag @admin_customer_offer.image_front_url.to_s + '?' + SecureRandom.hex(8) %>
      </p>

      <p>
        <b>Back</b>
        <%= image_tag @admin_customer_offer.image_back_url.to_s + '?' + SecureRandom.hex(8) %>
      </p>
  <% else %>
      <p>
        <%# TODO refactor this cache buster to be more rails-like. %>
        <%= image_tag @admin_customer_offer.image_url.to_s + '?' + SecureRandom.hex(8) %>
      </p>
  <% end %>

  <p class="price"><%= number_to_currency(@admin_customer_offer.price) %></p>

  <%= form_for(@shopping_item, :remote => true) do |f| %>
      <p>
        <%= f.hidden_field :offer_id %>
        <%= f.hidden_field :cart_id %>
        <%= submit_tag 'Add to Cart', :id => 'my_submit', :class => 'likeabutton' %>
        <span id="spinner" style="display:none"></span>
      </p>
  <% end %>

  <span id='shopping_item'></span>

  <% @admin_customer_offer.piece.try(:short_description).to_s.split(". ").each do |sentence| %>
      <p><%= sentence.strip %><%= "." unless sentence.strip.last == '.' %></p>
  <% end %>

  <%= content_tag :p do %>
      <% @admin_customer_offer.piece.try(:short_description).to_s.split(". ").each do |sentence| %>
          <%= sentence.strip %><%= "." unless sentence.strip.last == '.' %><br/>
      <% end %>
  <% end if @admin_customer_offer.piece.try(:short_description).present? %>

  <%= content_tag :p do %>
      <% @admin_customer_offer.piece.try(:description_markup).to_s.split(". ").each do |sentence| %>
          <%= sentence.strip %><%= "." unless sentence.strip.last == '.' %>
          <br/>
      <% end %>
  <% end if @admin_customer_offer.piece.try(:description_markup).present? %>

  <p>
    <% if @admin_customer_offer.has_picture? %>
        <% if @admin_customer_offer.items.size > 1 %>
            <% edit_url = minisite_offer_items_path(@admin_customer_offer) %>
        <% else %>
            <% edit_url = edit_minisite_item_side_path(@admin_customer_offer.items.first.front) %>
        <% end %>
        <%= link_to t(:minisite_items_show_link), edit_url %>
    <% end %>
  </p>

</div>