<% if @admin_customer_offer.has_picture? %>
    <% if @admin_customer_offer.items.size > 1 %>
        <% edit_url = minisite_offer_items_path(@admin_customer_offer) %>
    <% else %>
        <% edit_url = edit_minisite_item_side_path(@admin_customer_offer.items.first.front) %>
    <% end %>
<% end %>

<div class="media">

  <% if @admin_customer_offer.back.present? %>
      <p>
        <b><%= t('.front') %></b>
        <%= link_to @admin_customer_offer.image_front.to_image_cache_buster, edit_url, class: "pull-left", title: t('.adjust_photo.title') %>
      </p>

      <p>
        <b><%= t('.back') %></b>
        <%= link_to @admin_customer_offer.image_back.to_image_cache_buster, edit_url, class: "pull-left", title: t('.adjust_photo.title') %>
      </p>
  <% else %>
      <p>
        <%= link_to @admin_customer_offer.image.to_image_cache_buster, edit_url, class: "pull-left", title: t('.adjust_photo.title') %>
      </p>
  <% end %>

  <div class="media-body">

    <h4 class="media-heading">
      <%= link_to_facebook(@admin_customer_offer) %>
      <%= link_to_pinterest(@admin_customer_offer) %>
      <%= @admin_customer_offer.name %>
    </h4>

    <% if @admin_customer_offer.frozen_offer? %>
        <b><%= icon_minisite('icon-shopping-cart') %>&nbsp;<%= t('in_shopping_cart') %></b><br>
    <% end %>

    <%= render 'minisite/piece_description', offer: @admin_customer_offer %>

  </div>
</div>

<p class="price"><%= number_to_currency(@admin_customer_offer.price) %></p>

<p class="shopping-item">
  <span id='<%= "shopping_item_#{@admin_customer_offer.id}" %>'></span>
</p>

<% unless @show_status_only %>

    <div>
      <%= render 'minisite/buttons', offer: @admin_customer_offer %>
    </div>

<% end %>

