<div class="offer_show">

  <% if @admin_customer_offer.has_picture? %>
      <% if @admin_customer_offer.items.size > 1 %>
          <% edit_url = minisite_offer_items_path(@admin_customer_offer) %>
      <% else %>
          <% edit_url = edit_minisite_item_side_path(@admin_customer_offer.items.first.front) %>
      <% end %>
  <% end %>

  <p>
    <i><%= @admin_customer_offer.name %></i>
  </p>

  <% if @admin_customer_offer.back.present? %>
      <p>
        <b>Front</b>
        <%= link_to @admin_customer_offer.image_front.to_image_cache_buster, edit_url%>
      </p>

      <p>
        <b>Back</b>
        <%= link_to @admin_customer_offer.image_back.to_image_cache_buster, edit_url%>
      </p>
  <% else %>
      <p>
        <%= link_to @admin_customer_offer.image.to_image_cache_buster, edit_url%>
      </p>
  <% end %>

  <p class="price"><%= number_to_currency(@admin_customer_offer.price) %></p>

  <% unless @show_status_only %>
      <% if is_client? %>
          <%= form_for(@shopping_item, :remote => true) do |f| %>
              <p>
                <%= f.hidden_field :offer_id %>
                <%= f.hidden_field :cart_id %>
                <%= submit_tag 'Add to Cart', :id => 'my_submit', :class => 'likeabutton' %>
                <span id="spinner" style="display:none"></span>
              </p>
          <% end %>
      <% end %>
      <%= button_to 'Adjust picture', edit_url, method: :get %>
  <% end %>

  <span id='shopping_item'></span>

  <%= content_tag :p do %>
      <% @admin_customer_offer.piece.try(:short_description).to_s.split(". ").each do |sentence| %>
          <%= sentence.strip %><%= "." unless sentence.strip.last == '.' %>
          <br/>
      <% end %>
  <% end if @admin_customer_offer.piece.try(:short_description).present? %>

  <%= content_tag :p do %>
      <% @admin_customer_offer.piece.try(:description_markup).to_s.split(". ").each do |sentence| %>
          <%= sentence.strip %><%= "." unless sentence.strip.last == '.' %>
          <br/>
      <% end %>
  <% end if @admin_customer_offer.piece.try(:description_markup).present? %>

</div>