<div class='row'>
  <h4 id="myTitle">
    <% if @admin_customer_friend.new_record? %>
        <%= t('.title') %>
    <% else %>
        <%= t('.title_friend', name: @admin_customer_friend.name) %>
    <% end %>
    <% if Rails.env.development? %>
        <!-- Button to trigger modal -->
        <a href="#myModal" role="button" class="btn" data-toggle="modal" title="<%= t('.new_friend.title') %>">
          <%= t('.new_friend.name') %>
        </a>

    <% end %>
  </h4>
</div>
<% if @admin_customer_offers.size > 0 %>
    <% @admin_customer_offers.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |offer| %>
        <div class='row'>
          <% if offer.width.to_i < 250 %>
              <%= render 'minisite/narrow_image', offer: offer, studio: @studio %>
          <% else %>
              <%= render 'minisite/wide_image', offer: offer, studio: @studio %>
          <% end %>
        </div>
    <% end %>
<% end %>

<div class='row'>

  <% if Rails.env.development? %>

      <%= render 'minisite/friends/form' %>

  <% end %>
</div>