<% shopping_cart_list, clickplus_list = @admin_customer_email.offers_lists %>

<% if shopping_cart_list.size > 0 %>
    <div class="row span12 centered">

    <h3><%= t('.shopping_cart_list') %></h3>
    <% shopping_cart_list.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |offer| %>
        <% if offer.width.to_i < 250 %>
            <%= render 'minisite/narrow_image', offer: offer, studio: @studio %>
        <% else %>
            <%= render 'minisite/wide_image', offer: offer, studio: @studio %>
        <% end %>
    <% end %>
    </div>
<% end %>

<% if clickplus_list.size > 0 %>
    <div class="row span12 centered">
    <h3><%= t('.clickplus_list_html') %></h3>
    <% clickplus_list.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |offer| %>
        <% if offer.width.to_i < 250 %>
            <%= render 'minisite/narrow_image', offer: offer, studio: @studio %>
        <% else %>
            <%= render 'minisite/wide_image', offer: offer, studio: @studio %>
        <% end %>
    <% end %>
    </div>
<% end %>
<% if is_client? %>
    <!-- only clients allowed to upload and select new piece -->
    <div class="row-fluid">
      <%= link_to(t(".upload_photo"), minisite_email_portraits_path(@admin_customer_email), method: :get, title: t('.upload_photo_title')) %>
    </div>
<% elsif is_admin? %>
    <div class="row-fluid">
      <% btn_message = @admin_customer_email.sent_at? ? "This email already sent on #{time_short_index @admin_customer_email.sent_at}. Click to send again." : 'If all offers are fixed, click me to send the offer email!' %>
      <%= button_to btn_message, send_offers_admin_customer_email_url(@admin_customer_email), method: :post %>
    </div>
<% end %>
<br>

