<div class='row-fluid'>
  <%= render 'dev_debug' if Rails.env.development? %>
  <h4 id="myTitle">
    <% if @admin_customer_friend.new_record? %>
        <%= t('.title') %>
    <% else %>
        <%= t('.title_friend_html', name: @admin_customer_friend.name) %>
    <% end %>
    <!-- Button to trigger modal -->
    <a href="#myModal" class="btn btn-mini" role="button" data-toggle="modal" title="<%= t('.new_friend.title') %>">
      <%= t('.new_friend.name') %>
    </a>

  </h4>
</div>

<% ids_in_work_queue = DelayedJob.in_queue('on_create_delay') %>
<% if @admin_customer_offers.size > 0 %>
    <% @admin_customer_offers.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |offer| %>
        <% if ids_in_work_queue and ids_in_work_queue.include?(offer.id) %>
            <!-- offer in work queue -->
        <% else %>
            <div id="<%= "div_offer_#{offer.id}" %>" class='row-fluid'>
              <%= render 'offer', offer: offer, studio: @studio %>
            </div>
        <% end %>
    <% end %>
<% end %>

<div class='row-fluid'>
  <!-- rename my friend collection list -->
  <%= render 'minisite/friends/form' %>
</div>