<div class='row'>
  <%= "email:#{@admin_customer_offers.first.email.id} offers:#{@admin_customer_email.offers.size} custom:#{@admin_customer_offers.size}" if Rails.env.development? %>
  <h4 id="myTitle">
    <% if @admin_customer_friend.new_record? %>
        <%= t('.title') %>
    <% else %>
        <%= t('.title_friend_html', name: @admin_customer_friend.name) %>
    <% end %>
    <!-- Button to trigger modal -->
    <a href="#myModal" class="btn" role="button" data-toggle="modal" title="<%= t('.new_friend.title') %>">
      <%= t('.new_friend.name') %>
    </a>

  </h4>
</div>

<% if @admin_customer_offers.size > 0 %>
    <% @admin_customer_offers.sort { |a, b| a.width.to_i <=> b.width.to_i }.each do |offer| %>
        <div id="<%="index_custom_offer_#{offer.id}"%>" class='row'>
            <%= render 'offer', offer: offer, studio: @studio %>
        </div>
    <% end %>
<% end %>

<div class='row'>
  <!-- rename my friend collection list -->
  <%= render 'minisite/friends/form' %>
</div>