<h1>Listing minisite_showrooms</h1>

<table>
  <tr>
    <th>Offer</th>
    <th>Client</th>
    <th>Studio</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @showrooms.each do |minisite_showroom| %>
  <tr>
    <td><%= minisite_showroom.offer %></td>
    <td><%= minisite_showroom.client %></td>
    <td><%= minisite_showroom.studio %></td>
    <td><%= link_to 'Show', minisite_showroom %></td>
    <td><%= link_to 'Edit', edit_minisite_showroom_path(minisite_showroom) %></td>
    <td><%= link_to 'Destroy', minisite_showroom, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Showroom', new_minisite_showroom_path %>
