<%= form_for(@shopping_item, :remote => true) do |f| %>
  <p>
    <%= f.hidden_field :offer_id %>
    <%= f.hidden_field :cart_id  %>
    <%= submit_tag 'Add to Cart', :id => 'my_submit' %>
    <span id="spinner" style="display:none"></span>
  </p>
<% end %>
<div id='shopping_item'></div>

<p>
  <b>Offer:</b>
  <%= render 'admin/customer/offers/show', :offer => @admin_customer_offer %>
</p>

<p>
  <b>Client:</b>
  <%= render 'my_studio/clients/show', :client => @client %>
</p>

<p>
  <b>Studio:</b>
  <%= render "studios/show", :studio => @studio %>
</p>