<style type="text/css">
  body {
      background-color: <%= @showroom.studio.try(:minisite).try(:bgcolor) %>;
      font-family: <%= @showroom.studio.try(:minisite).try(:font_family) %>;
      color: <%= @showroom.studio.try(:minisite).try(:font_color) %>;
  }
</style>

<% content_for :page_title, "#{@showroom.studio.name} Photo Jewelry Offer" %>

<p id="notice"><%= notice %></p>

<img src="<%= @showroom.studio.minisite.image %>" title="<%= @showroom.studio.name %>">

<p>
  <h3><%=  link_to t(:minisite_showrooms_show_add_to_cart), root_url  %></h3>
</p>
<p>
  <b>Offer:</b>
  <%= render 'admin/customer/offers/show', :offer => @showroom.offer %>
</p>

<p>
  <b>Client:</b>
  <%= render 'my_studio/clients/show', :client => @showroom.client %>
</p>

<p>
  <b>Studio:</b>
  <%= render "studios/show", :studio => @showroom.studio %>
</p>


<%= link_to 'Edit', edit_minisite_showroom_path(@showroom) %> |
<%= link_to 'Back', minisite_showrooms_path %>

<p><%= Time.now %></p>