<p id="notice"><%= notice %></p>

<p>
  <b>Offer:</b>
  <%= render 'admin/customer/offers/show', :offer => @showroom.offer %>
</p>

<p>
  <b>Client:</b>
  <%= render 'my_studio/clients/show', :client => @showroom.client %>
</p>

<p>
  <b>Studio:</b>
  <%= render "studios/show", :studio => @showroom.studio %>
</p>


<%= link_to 'Edit', edit_minisite_showroom_path(@showroom) %> |
<%= link_to 'Back', minisite_showrooms_path %>

<%= SassAccessor.set 'bg_color' => '#efefef' %>