<p>
  <b>Portraits:</b>
  <%= @face.portrait %>
</p>

<p>
  <b>Center:</b>
  <%= "#{@face.center_x} #{@face.center_y}" %>
</p>

<p>
  <b>Eye left x:</b>
  <%= @face.eye_left_x %>
</p>

<p>
  <b>Eye right x:</b>
  <%= @face.eye_right_x %>
</p>

<p>
  <b>Mouth left x:</b>
  <%= @face.mouth_left_x %>
</p>

<p>
  <b>Mouth center x:</b>
  <%= @face.mouth_center_x %>
</p>

<p>
  <b>Mouth right x:</b>
  <%= @face.mouth_right_x %>
</p>

<p>
  <b>Nose x:</b>
  <%= @face.nose_x %>
</p>

<p>
  <b>Ear left x:</b>
  <%= @face.ear_left_x %>
</p>

<p>
  <b>Ear right x:</b>
  <%= @face.ear_right_x %>
</p>

<p>
  <b>Chin x:</b>
  <%= @face.chin_x %>
</p>

<p>
  <b>Yaw:</b>
  <%= @face.yaw %>
</p>

<p>
  <b>Roll:</b>
  <%= @face.roll %>
</p>

<p>
  <b>Tag attributes:</b>
  <%= @face.tag_attributes %>
</p>


<%= link_to 'Edit', edit_my_studio_portrait_face_path(@face) %> |
<%= link_to 'Back', my_studio_portrait_faces_path %>
