<p id="notice"><%= notice %></p>

<p>
  <b>Portraits:</b>
  <%= @my_studio_portrait_face.portraits %>
</p>

<p>
  <b>Center:</b>
  <%= @my_studio_portrait_face.center %>
</p>

<p>
  <b>Eye left x:</b>
  <%= @my_studio_portrait_face.eye_left_x %>
</p>

<p>
  <b>Eye right x:</b>
  <%= @my_studio_portrait_face.eye_right_x %>
</p>

<p>
  <b>Mouth left x:</b>
  <%= @my_studio_portrait_face.mouth_left_x %>
</p>

<p>
  <b>Mouth center x:</b>
  <%= @my_studio_portrait_face.mouth_center_x %>
</p>

<p>
  <b>Mouth right x:</b>
  <%= @my_studio_portrait_face.mouth_right_x %>
</p>

<p>
  <b>Nose x:</b>
  <%= @my_studio_portrait_face.nose_x %>
</p>

<p>
  <b>Ear left x:</b>
  <%= @my_studio_portrait_face.ear_left_x %>
</p>

<p>
  <b>Ear right x:</b>
  <%= @my_studio_portrait_face.ear_right_x %>
</p>

<p>
  <b>Chin x:</b>
  <%= @my_studio_portrait_face.chin_x %>
</p>

<p>
  <b>Yaw:</b>
  <%= @my_studio_portrait_face.yaw %>
</p>

<p>
  <b>Roll:</b>
  <%= @my_studio_portrait_face.roll %>
</p>

<p>
  <b>Tag attributes:</b>
  <%= @my_studio_portrait_face.tag_attributes %>
</p>


<%= link_to 'Edit', edit_my_studio_portrait_face_path(@my_studio_portrait_face) %> |
<%= link_to 'Back', my_studio_portrait_faces_path %>
