<table>

  <tr>
    <td><b>Kimbra Piece:</b></td>
    <td><%= image_tag(@item.offer.piece.image_url(:list).to_s) %></td>
    <td><b>Kimbra Part:</b></td>
    <td><%= image_tag(@item.part.image_part_url(:list).to_s) %></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>

</table>

<%= render 'admin/customer/item_sides/show', :item_side => @item.front, :label => '1' %>
<%= render 'admin/customer/item_sides/show', :item_side => @item.back, :label => '2' if @item.back.present? %>

<% unless @show_status_only %>
    <%= link_to t(:edit), edit_admin_customer_email_offer_item_path(@offer.email, @offer, @item), class: 'btn btn-success' %> |
    <%= link_to t(:back), admin_customer_email_offer_items_path(@offer.email, @offer), class: 'btn btn-primary' %>
<% end %>