<h1><%= t(:admin_customer_items_edit_title) %></h1>

<div class='platypus-form-container'>

  <div class='show'>
  <%= render 'form' %>


    <%= link_to t(:show), admin_customer_email_offer_item_path(@offer.email, @offer, @item) %> |
    <%= link_to t(:back), admin_customer_email_offer_items_path(@offer.email, @offer) %>
  </div>
</div>
<%= render 'admin/customer/items/side_menu', :item => @item %>