<h1><%=t(:admin_customer_items_index_title)%></h1>

<%= link_to t(:admin_customer_items_new_link), new_admin_customer_email_offer_item_path(@offer.email, @offer) %>
<br/>
<%= link_to t(:back), admin_customer_email_offer_path(@offer.email, @offer) %>

<table>
  <tr>
    <th>Offer</th>
    <th>Part</th>
    <th>Image stock</th>
    <th>Image item</th>
    <th>Width</th>
    <th>Height</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |admin_customer_item| %>
  <tr>
    <td><%= link_to 'Offer', admin_customer_email_offer_path(admin_customer_item.offer.email, admin_customer_item.offer) %></td>
    <td><%= link_to 'Part', admin_merchandise_piece_part_path(admin_customer_item.part.piece, admin_customer_item.part) %></td>
    <td><%= image_tag admin_customer_item.image_stock_url.to_s %></td>
    <td><%= image_tag admin_customer_item.image_item_url.to_s %></td>
    <td><%= admin_customer_item.width %></td>
    <td><%= admin_customer_item.height %></td>
    <td><%= link_to t(:show), admin_customer_email_offer_item_path(@offer.email, @offer, admin_customer_item) %></td>
    <td><%= link_to t(:edit), edit_admin_customer_email_offer_item_path(@offer.email, @offer, admin_customer_item) %></td>
    <td><%= link_to t(:destroy), admin_customer_email_offer_item_path(@offer.email, @offer, admin_customer_item), confirm: t(:link_destroy_confirm), method: :delete %></td>
  </tr>
<% end %>
</table>

