
<p>
  <b>Offer:</b>
  <%= image_tag(@item.offer.piece.image_url(:list).to_s) %>
</p>

<p>
  <b>Part:</b>
  <%= image_tag(@item.part.image_part_url(:list).to_s) %>
</p>

<p>
  <b>Image stock:</b>
  <%= image_tag(@item.image_stock_url.to_s) %>
</p>

<p>
  <b>Image item:</b>
  <%= image_tag(@item.image_item_url.to_s) %>
</p>

<p>
  <b>Width:</b>
  <%= @item.width %>
</p>

<p>
  <b>Height:</b>
  <%= @item.height %>
</p>

<%= link_to t(:edit), edit_admin_customer_email_offer_item_path(@offer.email, @offer, @item) %> |
<%= link_to t(:back), admin_customer_email_offer_items_path(@offer.email, @offer) %>
