<div class='sub-form' title='Part Layout Info'>
  <div>
    <h3><%= t(:my_studio_clients_form_title) %></h3>

    <%= f.fields_for :part, part do |g| %>

        <%= g.hidden_field :id %>

        <%= g.fields_for :part_layout, part.part_layout do |h| %>

            <%= h.fields_for :layout, part.part_layout.layout do |i| %>
                <div class="control-group form-inline">
                  <%= i.label :x %>
                  <%= i.number_field :x, class:"input-mini" %>
                  <%= i.label :y %>
                  <%= i.number_field :y, class:"input-mini"  %>
                  <%= i.label :w, 'Width' %>
                  <%= i.number_field :w, class:"input-mini"  %>
                  <%= i.label :h, 'Height' %>
                  <%= i.number_field :h, class:"input-mini"  %>
                </div>
            <% end %>
        <% end %>
    <% end %>
  </div>
</div>
