<div class='shopping-item-index'>
  You have <%= @cart.try(:items).try(:size) %> pieces in your cart. |

  <% url = if @cart.purchase.present?
             edit_shopping_cart_purchase_path(@cart)
           elsif @cart.address.present?
             new_shopping_cart_purchase_path(@cart)
           else
             new_shopping_address_path
           end %>
  <%= link_to 'Checkout', url, :class => 'button-link' %>
</div>
<br>
<div class='cart-show'>
  <%= render 'shopping/items/index', :items => @cart.items %>
</div>

<%= link_to 'Edit', edit_shopping_cart_path(@cart) %> |
<%= link_to 'Back', shopping_carts_path %>
