<div class='row-fluid'>
  <h4><%= t('.title') %></h4>
  <%= t('.count_html', pieces: pluralize(@cart.quantity, 'piece')) %>

  <% url = if @cart.purchase.present?
             edit_shopping_cart_purchase_path(@cart)
           elsif @cart.address.present?
             edit_shopping_cart_address_path(@cart, @cart.address)
           else
             new_shopping_cart_address_path(@cart)
           end %>
  <% if @cart.try(:items).try(:size).to_i > 0 %>
      <!-- should be a form with Cart.id -->

      <%= link_to_spinner t('.checkout.name'),
                          url,
                          id:         "checkout",
                          title:      t('.checkout.title'),
                          class:      "btn btn-success",
                          icon_class: 'icon-shopping-cart icon-white' %>
  <% end %>
  <%= render 'minisite/offers/dev_debug' if Rails.env.development? %>
</div>

<%= render('shopping/items/index', cart: @cart, show_status_only: false) %>
