<%= form_for(@phone) do |f| %>

    <%= render 'shared/error_messages', record: @phone %>

    <div class="field">
      <%= f.label :phone_type %>
      <br/>
      <%= f.text_field :phone_type %>
    </div>
    <div class="field">
      <%= f.label :number %>
      <br/>
      <%= f.text_field :number %>
    </div>
    <div class="field">
      <%= f.label :phonable_type %>
      <br/>
      <%= f.text_field :phonable_type %>
    </div>
    <div class="field">
      <%= f.label :phoneable %>
      <br/>
      <%= f.text_field :phoneable %>
    </div>
    <div class="field">
      <%= f.label :primary %>
      <br/>
      <%= f.check_box :primary %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
