<h2>Listing phones</h2>

<table>
  <tr>
    <th>Phone type</th>
    <th>Number</th>
    <th>Phonable type</th>
    <th>Phoneable</th>
    <th>Primary</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phones.each do |phone| %>
  <tr>
    <td><%= phone.phone_type %></td>
    <td><%= phone.number %></td>
    <td><%= phone.phonable_type %></td>
    <td><%= phone.phoneable %></td>
    <td><%= phone.primary %></td>
    <td><%= link_to 'Show', phone %></td>
    <td><%= link_to 'Edit', edit_phone_path(phone) %></td>
    <td><%= link_to 'Destroy', phone, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone', new_phone_path %>
