<% if Rails.env.development? %>
<h3>devise/confirmations/new.html</h3>
<% end %>
<h1><%=translate(:confirmations_new_title)%></h1>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit translate(:confirmations_new_submit) %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>