<p>
  <b>Client Name:</b>
  <%= @studio_client.name %>
</p>

<p>
  <b>Client Email:</b>
  <%= @studio_client.email %>
</p>

<p>
  <b>Client Phone number:</b>
  <%= @studio_client.phone_number %>
</p>

<p>
  <b>Client Active:</b>
  <%= @studio_client.active %>
</p>

<p>
  <b>Address:</b>
  <%= @studio_client.address %>
</p>


<%= link_to 'Edit', edit_studio_client_path(@studio_client) %> |
<%= link_to 'Back', studio_clients_path %>
