<h1>Listing studio_pictures</h1>
<h3> For <%= @shoot.try(:name) %></h3>
<%= link_to 'New Picture', new_studio_shoot_picture_path(@shoot) %>

<table>
  <tr>
    <th>Description</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studio_pictures.each do |studio_picture| %>
  <tr>
    <td><%= studio_picture.description %></td>
    <td><%= studio_picture.active %></td>
    <td><%= image_tag_list(studio_picture) %></td>
    <td><%= link_to 'Show', studio_shoot_picture_path(@shoot, studio_picture) %></td>
    <td><%= link_to 'Edit', edit_studio_shoot_picture_path(@shoot, studio_picture) %></td>
    <td><%= link_to 'Destroy', studio_shoot_picture_path(@shoot, studio_picture), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', studio_shoots_path %>
