<p>
  <b>Shoot:</b>
  <%= @studio_picture.try(:shoot).try(:name) %>
</p>

<p>
  <b>Description:</b>
  <%= @studio_picture.description %>
</p>

<p>
  <b>Active:</b>
  <%= @studio_picture.active %>
</p>

<p>
  <%= image_tag_thumb(@studio_picture) %>
</p>

<%= link_to 'Edit', edit_studio_shoot_picture_path(@shoot, @studio_picture) %> |
<%= link_to 'Back', studio_shoot_pictures_path(@shoot) %>
