<%= form_for(@shopping_item) do |f| %>

    <%= render 'shared/error_messages', record: @shopping_item, h2_msg: 'stopped this item from being saved:' %>

    <div class="field">
      <%= f.label :cart %>
      <br/>
      <%= f.text_field :cart %>
    </div>
    <div class="field">
      <%= f.label :offer %>
      <br/>
      <%= f.text_field :offer %>
    </div>
    <div class="field">
      <%= f.label :quantity %>
      <br/>
      <%= f.number_field :quantity %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
