<div id='shopping_item_index'>
  <table class='shopping-item-index' align='center'>

    <thead>
    <th>Piece</th>
    <th>&nbsp;</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Total</th>
    <th>&nbsp;</th>
    </thead>
    <tbody>
    <% total = 0 %>
    <% items.each do |item| %>
        <tr>
          <td class='shopping-item-index left'>
            <%= item.try(:offer).try(:name) %>
          </td>
          <td class='shopping-item-index'>
            <%= link_to image_tag(item.offer.image_url.to_s,
                                  :title => item.offer.name,
                                  :alt => item.offer.name,
                                  :width => item.offer.width/3,
                                  :height => item.offer.height/3,
                                  :class => "w280",
                                  :editable => "true",
                                  :label => "Image",
                                  :border => 0),
                        minisite_offer_url(item.offer),
                        {:style => "text-decoration: none;"} %>
          </td>
          <td class='shopping-item-index right'>
            <%= number_to_currency item.price.to_f %>
          </td>
          <td class='shopping-item-index right'>
            <%= item.quantity.to_i %>
          </td>
          <td class='shopping-item-index right'>
            <%= number_to_currency(item.price.to_f * item.quantity.to_i) %>
          </td>
          <td class='shopping-item-index right'>
            <%= link_to 'Remove 1', remove_one_shopping_item_path(item), :method => :post, confirm: 'Are you sure?', :remote => true %>&nbsp; &nbsp;
            <%= link_to 'Remove all', shopping_item_path(item), :method => :delete, confirm: 'Are you sure?', :remote => true %>
          </td>
        </tr>
    <% end if items and items.present? %>
    <% if total %>
        <tr>
          <td class='shopping-item-index left'>Shipping</td>
          <td class='shopping-item-index'>&nbsp;</td>
          <td class='shopping-item-index right'><%= number_to_currency(9.95) %></td>
          <td class='shopping-item-index'>&nbsp;</td>
        </tr>
        <tr>
          <% total += 15.00 %>
          <td class='shopping-item-index left total'>Total</td>
          <td class='shopping-item-index total'>&nbsp;</td>
          <td class='shopping-item-index total'>&nbsp;</td>
          <td class='shopping-item-index right total'><%= @cart.quantity %></td>
          <td class='shopping-item-index right total'><%= number_to_currency(@cart.total) %></td>
          <td class='shopping-item-index total'>&nbsp;</td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>