<div id='shopping_item_index'>
  <table class='shopping-item-index' align='center' width='100%'>
    <thead>
    <th class='shopping-item-index left'>Piece</th>
    <th class='shopping-item-index'>&nbsp;</th>
    <th class='shopping-item-index'>Price</th>
    <th class='shopping-item-index'>Quantity</th>
    <th class='shopping-item-index'>Total</th>
    </thead>
    <tbody>
    <% total = 0 %>
    <% cart.items.each do |item| %>
        <% if item.offer %>
            <tr>
              <td class='shopping-item-index left'>
                <%= item.try(:offer).try(:name) %>
              </td>
              <td class='shopping-item-index'>
                <%= link_to image_tag(item.offer.image_url.to_s,
                                      :title  => item.offer.name,
                                      :alt    => item.offer.name,
                                      :width  => 150,
                                      #   :height => '30%',
                                      :class  => "img-rounded",
                                      #   :editable => "true",
                                      #   :label => "Image",
                                      :border => 0),
                            minisite_offer_url(item.offer),
                            {:style => "text-decoration: none;"} %>
              </td>
              <td class='shopping-item-index right'>
                <%= number_to_currency item.price.to_f %>
              </td>
              <td class="shopping-item-index <%= show_status_only ? 'right' : 'left' %>">
                <% if show_status_only %>
                    <%= item.quantity %>
                <% else %>
                    <% if item.offer.piece.category == "Photo Rings" %>
                        <div class="span2">
                          <%= select_tag(:ring_size, options_for_select(%w(6 7 8 9 10 11 12 13), item.option_selected)) %>
                          <%= label_tag(:ring_size) %>
                        </div>
                        <br>
                    <% end %>
                    <%= text_field_tag :quantity, item.quantity, size: 3 %>
                    <%= link_to 'update', shopping_item_path(item),
                                class: :update_quantity %>
                <% end %>
              </td>
              <td class='shopping-item-index right'>
                <%= number_to_currency item.extension %>
              </td>
            </tr>
        <% else %>
            <% Rails.logger.info("ORPHAN OFFER::Shopping Cart item=>#{item.inspect}") %>
        <% end %>
    <% end if cart.items && cart.items.present? %>
    <tr>
      <td colspan=5>&nbsp;</td>
    </tr>
    <tr>
      <td class='shopping-item-index left'>Shipping</td>
      <td class='shopping-item-index'><%= cart.shipping ? cart.shipping.shipping_option : 'no shipping selected yet' %> </td>
      <td class='shopping-item-index'>&nbsp;</td>
      <td class='shopping-item-index'>&nbsp;</td>
      <td class='shopping-item-index right'><%= cart.shipping ? number_to_currency(cart.shipping.total_cents / 100.0) : 'n/a' %></td>
    </tr>
    <tr>
      <td class='shopping-item-index left'>Tax</td>
      <td class='shopping-item-index'><%= cart.purchase ? cart.purchase.tax_short_description : 'tax calculated at checkout' %> </td>
      <td class='shopping-item-index'>&nbsp;</td>
      <td class='shopping-item-index'>&nbsp;</td>
      <td class='shopping-item-index right'><%= cart.purchase ? number_to_currency(cart.purchase.tax) : 'n/a' %></td>
    </tr>
    <tr>
      <td class='shopping-item-index left total'>Total</td>
      <td class='shopping-item-index total'>&nbsp;</td>
      <td class='shopping-item-index total'>&nbsp;</td>
      <td class='shopping-item-index right total'><%= cart.quantity %></td>
      <td class='shopping-item-index right total'><%= number_to_currency(cart.total) %></td>
    </tr>
    </tbody>
  </table>
</div>