<div id='shopping_item_index' class="row">
  <table class='table table-bordered rounded'>
    <thead>
    <th>Piece</th>
    <th>&nbsp;</th>
    <th class="right">Price</th>
    <th>Quantity</th>
    <th class="right">Total</th>
    </thead>
    <tbody>
    <% total = 0 %>
    <% cart.items.each do |item| %>
        <% if item.offer %>
            <tr>
              <td>
                <%= item.try(:offer).try(:name) %>
                <% if item.try(:option) %>
                    <br>
                    <%= "#{item.option.to_s.titleize} #{item.option_selected}" %>
                <% end %>
              </td>
              <td>
                <%= link_to image_tag(item.offer.image_url.to_s,
                                      :title  => item.offer.name,
                                      :alt    => item.offer.name,
                                      :width  => 150,
                                      :class  => "img-rounded",
                                      :border => 0),
                            minisite_email_offer_url(item.offer.email.tracking, item.offer),
                            {:style => "text-decoration: none;"} %>
              </td>
              <td class='right'>
                <%= number_to_currency item.price.to_f %>
              </td>
              <td class="<%= show_status_only ? 'right' : 'left' %>">
                <% if show_status_only %>
                    <%= item.quantity %>
                <% else %>
                    <% option, options = options_for_shopping_item(item) %>
                    <% if option %>
                        <div class="input-append">
                          <%= select_tag(option, options, class: 'input-small') %>
                          <span class="add-on"><%= option.to_s.titleize %></span>
                        </div>
                    <% end %>
                    <div class="input-append spin">
                      <%= text_field_tag :quantity, item.quantity, class: 'span1' %>
                      <button href="<%= shopping_cart_item_path(item.cart, item) %>"
                              id='<%="my_submit_update#{item.id}"%>'
                              title="<%=t('.update.title')%>"
                              class='update_quantity btn btn-success'
                              type="button">
                              <%= t('.update.name') %>
                              </button>
                      <%= spinner(id: "update#{item.id}") %>
                    </div>
                <% end %>
              </td>
              <td class='right'>
                <%= number_to_currency item.extension %>
              </td>
            </tr>
        <% else %>
            <% Rails.logger.info("ORPHAN OFFER::Shopping Cart item=>#{item.inspect}") %>
        <% end %>
    <% end %>
    <tr>
      <td colspan=5>&nbsp;</td>
    </tr>
    <tr>
      <td>Shipping</td>
      <td><%= cart.shipping ? cart.shipping.shipping_option_name : 'no shipping selected yet' %> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class='right'><%= cart.shipping ? number_to_currency(cart.invoice_shipping_total) : 'n/a' %></td>
    </tr>
    <tr>
      <td>Tax</td>
      <td><%= cart.purchase ? cart.tax_short_description : 'tax calculated at checkout' %> </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class='right'><%= cart.purchase ? number_to_currency(cart.invoice_tax_total) : 'n/a' %></td>
    </tr>
    <tr>
      <td class='total'>Total</td>
      <td class='total'>&nbsp;</td>
      <td class='total'>&nbsp;</td>
      <td class='right total'><%= cart.quantity %></td>
      <td class='right total'><%= number_to_currency(cart.invoice_total) %></td>
    </tr>
    </tbody>
  </table>
</div>