<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= @item.cart %>
</p>

<p>
  <b>Offer:</b>
  <%= @item.offer %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>


<%= link_to 'Edit', edit_shopping_item_path(@shopping_item) %> |
<%= link_to 'Back', shopping_items_path %>
