<% if Rails.env.development? %>
<h3>devise/registrations/edit.html (only shows in development)</h3>
<% end %>

<h1><%="#{translate(:edit)} #{resource_name.to_s.humanize}" %></h1>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit translate(:registrations_edit_submit) %></div>
<% end %>

<h3><%=translate(:registrations_edit_cancel)%></h3>

<p>Unhappy? <%= link_to translate(:registrations_edit_cancel), registration_path(resource_name), :confirm => translate(:link_destroy_confirm), :method => :delete %>.</p>

<%= link_to translate(:back), :back %>
