<div>
  <h3>Minisite Info</h3>
  <%= f.fields_for :minisite, minisite do |g| %>
      <div class="field">
        <%= g.label 'Page background color' %>
        <br/>
        <%= g.text_field :bgcolor, class: 'short' %>
      </div>

      <div class="image-thumb">
        <%= image_tag_thumb(minisite) %>
      </div>
      <div class="field">
        <%= g.label :image, 'Studio logo' %>
        <%= g.file_field :image %>
        <%= g.label :remote_image_url, 'or Logo URL' %>
        <%= g.text_field :remote_image_url %>
      </div>
      <div><%= g.hidden_field :image_cache %></div>
      <div class="field">
        <%= g.label :font_family %>
        <br/>
        <%= g.text_field :font_family, class: 'short' %>
      </div>
      <div class="field">
        <%= g.label :font_color %>
        <br/>
        <%= g.text_field :font_color, class: 'short' %>
      </div>
      <!--
      <div class="field">
        <%# g.label :theme %>
        <br/>
        <%# g.text_field :theme %>
      </div>
      -->
  <% end %>
</div>