<legend><%= t('.legend') %></legend>
<%= f.fields_for :minisite, minisite do |g| %>

    <div class="control-group">
      <%= g.label :image, class: 'control-label' %>
      <div class="controls">
        <%= g.file_field :image, class:'input-medium btn-small', validate: false %>
        <span class="help-inline"><%= t(".image_help") %></span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :remote_image_url, class: 'control-label' %>
      <div class="controls">
        <%= g.text_field :remote_image_url %>
        <span class="help-inline"><%= t(".remote_image_help") %></span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :font_family, class: 'control-label' %>
      <div class="controls">
        <%= select_tag 'studio[minisite_attributes][font_family]',
                       options_for_select(MyStudio::Minisite::FONTS.collect{|n|[n,n]}, minisite.try(:font_family)),
                       {id: 'studio_minisite_attributes_font_family'} %>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :font_color, class: 'control-label' %>
      <div class="controls">
        <%= g.text_field :font_color, class: 'short' %>
        <span class="help-inline"><%= t(".font_color_help") %></span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :bgcolor, class: 'control-label' %>
      <div class="controls">
        <%= g.text_field :bgcolor, class: 'short' %>
        <span class="help-inline"><%= t(".bgcolor_help") %></span>
      </div>
    </div>

    <div><%= g.hidden_field :image_cache %></div>

<% end %>