<legend><%= t('.legend') %></legend>
<%= f.fields_for :minisite, minisite do |g| %>

    <div class="control-group">
      <%= g.label :image, class: "control-label" %>
      <div class="controls">
        <%= g.file_field :image, class:'input-medium btn-small' %>
        <span class="help-inline">Click Browse to upload your logo image file from your computer.</span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :remote_image_url, 'or Logo URL', class: "control-label" %>
      <div class="controls">
        <%= g.text_field :remote_image_url %>
        <span class="help-inline">Or paste in the direct web address of your existing logo image file.</span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :font_family, class: "control-label" %>
      <div class="controls">
        <%= select_tag 'studio[minisite_attributes][font_family]',
                       options_for_select(MyStudio::Minisite::FONTS.collect{|n|[n,n]}, minisite.try(:font_family)),
                       {id: 'studio_minisite_attributes_font_family'} %>
      </div>
    </div>

    <div class="control-group">
      <%= g.label :font_color, class: "control-label" %>
      <div class="controls">
        <%= g.text_field :font_color, class: 'short' %>
        <span class="help-inline">Use web-safe color name or hex code. Eg, olive or #d3b492.</span>
      </div>
    </div>

    <div class="control-group">
      <%= g.label 'Background color', class: "control-label" %>
      <div class="controls">
        <%= g.text_field :bgcolor, class: 'short' %>
        <span class="help-inline">Use web-safe color name or hex code. Eg, olive or #d3b492.</span>
      </div>
    </div>

    <div><%= g.hidden_field :image_cache %></div>

<% end %>