<h3><%= t(:my_studio_minisites_show_title) %></h3>
<p>
  <span>Background Color:</span>
  <%= minisite.bgcolor %>
</p>
<p>
  <span>Font family:</span>
  <%= minisite.font_family %>
</p>

<p>
  <span>Font color:</span>
  <%= minisite.font_color %>
</p>

<p>
  <span>Theme:</span>
  <%= minisite.theme %>
</p>

<div class='image-thumb'>
  <p>
    <span>Logo:</span>
    <%= image_tag_thumb(minisite) %>
  </p>
</div>