<%= render 'shared/error_messages', record: @part %>
<div class='show'>
  <% url = @part.id.nil? ? admin_merchandise_piece_parts_path(@piece) : admin_merchandise_piece_part_path(@piece, @part) %>
  <%= form_for(@part, :url => url, :html => {:multipart => true}) do |f| %>

      <div class="field">
        <%= f.label :piece %>
        <%= @part.piece.name %>
      </div>

      <div class="field">
        <%= f.label :order, 'Assemble Process' %>
        <%= f.number_field :order %>
      </div>

      <div class="field">
        <%= f.label :portrait %>
        <%= f.text_field :portrait %>
      </div>
      <div class="field">
        <%= f.label :image_part %>
        <%= f.text_field :image_part %>
      </div>
      <div class="field">
        <%= f.label :image %>
        <%= f.text_field :image %>
      </div>
      <div class="field">
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div class="actions">
        <%= f.submit :id => 'my_submit' %>
        <span id="spinner" style="display:none"></span>
      </div>
      <div class="fieldset">
        Custom Kimbra Part Background Image Size:
        <div class="field" style="color:red;">
          <%= f.label :width %>
          <%= f.number_field :width %>
          <%= f.label :height %>
          <%= f.number_field :height %>
        </div>
      </div>

      <%= f.fields_for :part_layout, @part.part_layout do |g| %>

          <%= g.fields_for :layout, @part.part_layout.layout do |l| %>
              <div class="fieldset">
                Custom Kimbra Part Picture Viewport for Background Image:
                <div class="field" style="color:green;">
                  <%= l.label :x %>
                  <%= l.number_field :x %>
                  <%= l.label :y %>
                  <%= l.number_field :y %>
                  <%= l.label :w %>
                  <%= l.number_field :w %>
                  <%= l.label :h %>
                  <%= l.number_field :h %>
                </div>

              </div>

          <% end %>

      <% end %>

      <%= f.fields_for :piece_layout, @part.piece_layout do |g| %>

          <%= g.fields_for :layout, @part.piece_layout.layout do |l| %>
              <div class="fieldset">
                Size of custom part image:
                <div class="field" style="color:green;">
                  <%= l.label :x %>
                  <%= l.number_field :x %>
                  <%= l.label :y %>
                  <%= l.number_field :y %>
                  <%= l.label :w %>
                  <%= l.number_field :w %>
                  <%= l.label :h %>
                  <%= l.number_field :h %>
                </div>

              </div>

          <% end %>

      <% end %>

  <% end %>

</div>

<%= render 'admin/merchandise/parts/side_menu', :part => @part %>


