<div class="platypus-form span6">

  <%= render 'shared/error_messages', record: @part %>
  <% url = @part.id.nil? ? admin_merchandise_piece_parts_path(@piece) : admin_merchandise_piece_part_path(@piece, @part) %>
  <%= form_for(@part, url: url, html: {multipart: true, class: "form-horizontal"}) do |f| %>

      <div class="control-group">
        <label class="checkbox">
          <%= f.check_box :active %> Active?
        </label>
      </div>

      <div class="control-group">
        <%= f.label :order, 'Assemble Process', class: "control-label" %>
        <div class="controls">
          <%= f.number_field :order %>
        </div>
      </div>

      <%= f.hidden_field :image_part_cache %>
      <div class="control-group">
        <%= f.label :image_part, class: "control-label" %>
        <div class="controls">
          <%= f.file_field :image_part %>
        </div>
      </div>

      <%= f.hidden_field :image_cache %>
      <div class="control-group">
        <%= f.label :image, class: "control-label" %>
        <div class="controls">
          <%= f.file_field :image %>
        </div>
      </div>

      <div class="fieldset">
        Custom Kimbra Part Background Image Size:
        <div class="control-group form-inline" style="color:red;">
            <%= f.label :width, class: 'inline' %>
            <%= f.number_field :width, class: 'input-mini' %>
            <%= f.label :height, class: 'inline' %>
            <%= f.number_field :height, class: 'input-mini' %>
        </div>
      </div>

      <% @part.piece_layout ||= PieceLayout.new %>
      <%= f.fields_for :piece_layout, @part.piece_layout do |g| %>

          <%= g.fields_for :layout, @part.piece_layout.layout do |l| %>
              <div class="fieldset">
                My Collection Info (piece_layout)<br>
                Portrait Viewport onto the Kimbra Piece (offer.image_front):
                <div class="control-group form-inline" style="color:green;">
                  <%= l.label :x %>
                  <%= l.number_field :x, class: 'input-mini' %>
                  <%= l.label :y %>
                  <%= l.number_field :y, class: 'input-mini' %>
                  <%= l.label :w %>
                  <%= l.number_field :w, class: 'input-mini' %>
                  <%= l.label :h %>
                  <%= l.number_field :h, class: 'input-mini' %>
                  <%= l.label :degrees %>
                  <%= l.text_field :degrees, class: 'input-mini', value: number_with_precision(@part.piece_layout.layout.degrees, :precision => 2) %>
                </div>

              </div>

          <% end %>

      <% end %>

      <% @part.part_layout ||= PartLayout.new %>
      <%= f.fields_for :part_layout, @part.part_layout do |g| %>

          <%= g.fields_for :layout, @part.part_layout.layout do |l| %>
              <div class="fieldset">
                Adjust Picture Info(part_layout)<br>
                Portrait Viewport onto the Kimbra Part (part.imagepart):
                <div class="control-group form-inline" style="color:green;">
                  <%= l.label :x %>
                  <%= l.number_field :x, class: 'input-mini' %>
                  <%= l.label :y %>
                  <%= l.number_field :y, class: 'input-mini' %>
                  <%= l.label :w %>
                  <%= l.number_field :w, class: 'input-mini' %>
                  <%= l.label :h %>
                  <%= l.number_field :h, class: 'input-mini' %>
                </div>

              </div>

          <% end %>

      <% end %>

      <div class="form-actions">
        <%= f.submit :id => 'my_submit' %>
        <%= spinner %>
      </div>


  <% end %>
  <!-- platypus-form -->
</div>

<div class="span3">
  <%= render 'admin/merchandise/parts/side_menu', :part => @part %>
</div>

