<div class="row span12">

  <div class='span7'>

    <p>
      <span>Piece:</span>
      <%= @part.piece.name %>
    </p>

    <p>
      <span>Kimbra Piece<br> Viewport for portrait (offer.image_front)<br></span>
      x:<%= @part.piece_layout.layout.x %>
      y:<%= @part.piece_layout.layout.y %>
      width:<%= @part.piece_layout.layout.w %>
      height:<%= @part.piece_layout.layout.h %>
      degrees:<%= @part.piece_layout.layout.degrees %>
    </p>
    <p>
      <span>Kimbra Piece Background Image Size:<br></span>
      <span>Width:</span>
      <%= @part.piece.width %>
      <span>Height:</span>
      <%= @part.piece.height %>
    </p>

    <p>
      <span>Kimbra Part<br> Viewport for portrait (part.image_part)<br></span>
      x:<%= @part.viewport[:x] %>
      y:<%= @part.viewport[:y] %>
      width:<%= @part.viewport[:w] %>
      height:<%= @part.viewport[:h] %>
    </p>

    <p>
      <span>Kimbra Part Background Image Size:<br></span>
      <span>Width:</span>
      <%= @part.width %>
      <span>Height:</span>
      <%= @part.height %>
    </p>

    <p>
      <span>Order:</span>
      <%= @part.order %>
    </p>

    <p>
      <span>Current Status:</span>
      <%= current_status(@part.active) %>
    </p>

    <%= link_to t(:edit), edit_admin_merchandise_piece_part_path(@piece, @part), class: "btn btn-success" %> |
    <%= link_to t(:back), admin_merchandise_piece_parts_path(@piece), class: "btn btn-primary" %>

  </div>

  <div class="span3">
    <%= render 'admin/merchandise/parts/side_menu', :part => @part %>
  </div>

</div>