<div class='show'>

  <p>
    <b>Piece:</b>
    <%= @part.piece.name %>
  </p>

  <p>
    <b>Portrait Position</b>
    x:<%= @part.item_x %>
    y:<%= @part.item_y %>
    width:<%= @part.item_width %>
    height:<%= @part.item_height %>
  </p>

  <p>
    <b>Part Size:</b>
    <b>Width:</b>
    <%= @part.width %>
    <b>Height:</b>
    <%= @part.height %>
  </p>

  <p>
    <b>Order:</b>
    <%= @part.order %>
  </p>

  <p>
    <b>Active:</b>
    <%= @part.active %>
  </p>


  <%= link_to t(:edit), edit_admin_merchandise_piece_part_path(@piece, @part) %> |
  <%= link_to t(:back), admin_merchandise_piece_parts_path(@piece) %>
</div>
<%= render 'admin/merchandise/parts/side_menu', :part => @part %>
