<div class="row span12">

  <div class='span7'>

    <p>
      <span>Piece:</span>
      <%= @part.piece.name %>
    </p>

    <p>
      <span>Custom Kimbra Part Picture Viewport for Background Image</span>
      x:<%= @part.viewport[:x] %>
      y:<%= @part.viewport[:y] %>
      width:<%= @part.viewport[:w] %>
      height:<%= @part.viewport[:h] %>
    </p>

    <p>
      <span>Custom Kimbra Part Background Image Size:</span>
      <span>Width:</span>
      <%= @part.width %>
      <span>Height:</span>
      <%= @part.height %>
    </p>

    <p>
      <span>Order:</span>
      <%= @part.order %>
    </p>

    <p>
      <span>Current Status:</span>
      <%= current_status(@part.active) %>
    </p>

    <%= link_to t(:edit), edit_admin_merchandise_piece_part_path(@piece, @part), class: "btn btn-success" %> |
    <%= link_to t(:back), admin_merchandise_piece_parts_path(@piece), class: "btn btn-primary" %>

  </div>

  <div class="span3">
    <%= render 'admin/merchandise/parts/side_menu', :part => @part %>
  </div>

</div>