<%= form_for(@item_side, url: minisite_item_side_path(@item_side), html: {multipart: true}) do |f| %>

    <%= render 'shared/error_messages', record: @item_side %>

    <div class="span8">

      <div class='preview'>
        <h3><%= t '.title' %></h3>
        <table cellpadding='20px' class="table">
          <tbody>
          <tr>
            <td align='right'>
              <div id='portrait_item' class='jcrop'>
                <!-- Constrain stock image to be 300px wide. Height varies according to part. This is done in the css. -->
                <%= image_tag @item_side.session_portrait.image_url(:face), id: 'cropbox' %>
              </div>
            </td>
            <td align="top">
              <!-- Constrain preview images to be 300px wide in this div. Height varies according to part. Can't do this bit in the css. -->
              <% orig_width = @item_side.part.width.to_f %>
              <% orig_height = @item_side.part.height.to_f %>
              <% dest_width = 300.0 %>
              <% dest_height = (dest_width * orig_height) / orig_width %>
              <div id='part_item_preview' style='width:300px; height:<%=dest_height%>px;' class='jcrop'>
                <%= image_tag @item_side.part.image_part_url, id: 'part_template' %>
                <%= image_tag @item_side.portrait.image_url(:face), id: 'preview' %>
              </div>

              <p>
                <%= t '.p1_html' %>
              </p>

            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="form-actions">
        <% if is_client? %>
            <% if @cart and @cart.find_item(@offer.id).present? %>
                <strong><%= t('.in_cart') %></strong><br>
            <% end %>
            <% css_create = 'btn btn-primary' %>
            <!-- only a client can save their own piece -->
            <% if in_my_collection?(@offer) %>
                <%= f.submit t('.save.name'), id: 'my_submit', class: 'btn btn-primary', title: t('.save.title') %>
                <% css_create = 'btn' %>
            <% end %>
            <%= f.submit t('.create_offer.name'), id: 'my_submit_create', class: css_create, title: t('.create_offer.title') %>
        <% else %>
            <!-- admin and studio can only save to the current offer -->
            <%= f.submit t('.save.name'), id: 'my_submit', class: 'btn btn-primary', title: t('.save.title') %>
        <% end %>
        <%= link_to t(:cancel), url_for_cancel_workflow(@offer), class: 'btn' %>
        <span id="spinner" style="display:none" class='spinner'></span>
      </div>

      <div id="portrait_form">

      </div>

      <div id='hidden_fields'>
        <%= f.fields_for :portrait, @item_side.portrait do |p| %>
            <%= p.hidden_field :id, :value => @item_side.portrait.id %>
        <% end %>
        <% %w[x y w h].each do |attr| %>
            <%= f.hidden_field "crop_#{attr}" %>
        <% end %>
      </div>

    </div>

    <div class="span3 pull-right">
      <div>
        <i><%= t '.portraits_click' %></i>
      </div>
      <% @admin_customer_offer.portraits.each do |portrait| %>
          <div class="portrait-pick-vertical">
            <%= link_to cw_image_only(portrait), portrait_minisite_item_side_path(@item_side, portrait.id), :remote => true, class: "rounded" %>
          </div>
      <% end %>
    </div>


<% end %>

<%= javascript_tag do %>
    // Pass dimensions of the piece template to javascript for PortraitCropper in portraits.js to pick up.
    window.portraitWidth     = <%= @item_side.portrait.width %>;
    window.portraitHeight    = <%= @item_side.portrait.height %>;
    window.partWidth         = <%= @item_side.part.width %>;
    window.viewportWidth   = <%= @item_side.part.part_layout.layout.w %>;
    window.viewportHeight  = <%= @item_side.part.part_layout.layout.h %>;
    window.viewportOffsetX = <%= @item_side.part.part_layout.layout.x %>;
    window.viewportOffsetY = <%= @item_side.part.part_layout.layout.y %>;

    // Create the jCrop object on the page when portrait has finished loading.
    $('#preview').imagesLoaded( wait(500, function(){new PortraitCropper()}) );

    // Show spinner when any portrait clicked.
    $('.portraits').click(function () {
    $('#spinner').toggle();
    });
<% end %>