<%= form_for(@item_side, :url => minisite_item_side_path(@item_side), html: {multipart: true}) do |f| %>

    <% if @item_side.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@item_side.errors.count, "error") %> prohibited this admin_customer_item_side from being
            saved:
          </h2>
          <ul>
            <% @item_side.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class='preview'>
      <h3>Move or resize selection by dragging</h3>
      <table cellpadding='20px'>
        <tr>
          <td align='right'>
            <div id="portrait_item">
              <!-- Constrain stock image to be 300px wide. Height varies according to part. This is done in the css. -->
              <%= image_tag @item_side.portrait.image_url(:face), id: 'cropbox' %>
            </div>
          </td>
          <td align="top">

            <% v = @item_side.part.piece_layout.layout.size.inspect %>
            <%= f.hidden_field @item_side.part.piece_layout.layout.size, :value => v %>
            <!-- Constrain preview images to be 300px wide in this div. Height varies according to part. Can't do this bit in the css. -->
            <div id='part_item_preview' style='width:300px; height:<%= 300.0 / @item_side.part.width * @item_side.part.height %>px;'>
              <%= image_tag @item_side.part.image_part_url, id: 'part_template' %>
              <%= image_tag @item_side.portrait.image_url(:face), id: 'preview' %>
            </div>

          </td>
        </tr>
      </table>
    </div>

    <div class="actions">
      <%= f.submit :id => 'my_submit' %>
      <span id="spinner" style="display:none"></span>
    </div>

    <div id="portrait_form">

    </div>

    <!-- Studio Portraits and current charm portrait -->
    <div class="portraits">
      <h3><i>Click to replace with different portrait</i></h3>
      <table class='portrait-pick'>
        <tr>
          <% @admin_customer_offer.portraits.each do |portrait| %>
              <td>
                <%= link_to cw_div_image_only(portrait), portrait_minisite_item_side_path(@item_side, portrait.id), :remote => true %>
              </td>
          <% end %>
        </tr>
      </table>
    </div>

    <div id='hidden_fields'>
      <%= f.fields_for :portrait, @item_side.portrait do |p| %>
          <%= p.hidden_field :id, :value => @item_side.portrait.id %>
      <% end %>
      <% %w[x y w h].each do |attr| %>
          <%= f.hidden_field "crop_#{attr}" %>
      <% end %>

    </div>

    <!-- remove for now, think should go on different page
    <!-- upload a file for new portrait
    <div class="field">
       f.label :image_stock, 'Portrait:' %>
       f.file_field :image_stock %>
      <br/>
       f.label :remote_image_stock_url, 'or Portrait URL' %>
       f.text_field :remote_image_stock_url %>
    </div>
     f.hidden_field :image_stock_cache %>
    -->

<% end %>

<%= javascript_tag do %>
    // Pass dimensions of the piece template to javascript for PortraitCropper in portraits.js to pick up.
    window.portraitWidth     = <%= @item_side.portrait.width %>;
    window.pieceWidth        = <%= @item_side.part.width %>;
    window.partLayoutWidth   = <%= @item_side.part.part_layout.layout.w %>;
    window.partLayoutHeight  = <%= @item_side.part.part_layout.layout.h %>;
    window.partLayoutOffsetX = <%= @item_side.part.part_layout.layout.x %>;
    window.partLayoutOffsetY = <%= @item_side.part.part_layout.layout.y %>;

    // Create the jCrop object on the page.
    $(document).ready(function() {
    new PortraitCropper();
    setTimeout('jcrop.animateTo(setSelect)',2500)
    })

<% end %>