<div id='title_bar'>
  <h3><%= t(:my_studio_dashboards_emails_title) %></h3>
</div>
<div class='panel_contents'>

  <% if sessions.collect { |s| s.emails.count }.sum.to_i == 0 %>
      <h2 class='motivation'>&#x2718; No emails this past week - no portraits uploaded?</h2>
  <% else %>
      <table id='dashboard_emails'>
        <tr>
          <% if current_user.admin? %>
              <th>studio</th>
          <% end %>
          <th>photo session</th>
          <th>client</th>
          <th class='right'>how many<br/>offers</th>
          <th>sent</th>
          <th>last read</th>
          <th>clicked through</th>
          <th class='right'>purchased</th>
        </tr>
        <% sessions.each do |session| %>
            <% session.emails.each do |email| %>
                <tr>
                  <% if current_user.admin? %>
                      <td><%= session.studio.name %></td>
                  <% end %>
                  <td><%= link_to session.name, my_studio_session_path(session) %></td>
                  <td><%= session.try(:client).try(:name) %> <%= '<br/>(unsubscribed from emails)'.html_safe if Unsubscribe.exists?(email: session.client.email) %></td>
                  <td style='text-align:right;'><%= email.try(:offers).try(:count) %></td>
                  <td><%= email.sent_at ? "#{time_ago_in_words email.sent_at} ago" : 'not yet' %></td>
                  <td><%= email.opened_at ? "#{time_ago_in_words email.opened_at} ago" : 'not yet' %></td>
                  <td><%= email.visited_at ? "#{time_ago_in_words email.visited_at} ago" : 'not yet' %></td>
                  <td style='text-align:right;'><%= email.offers.select { |o| o.purchased_at.present? }.count %></td>
                </tr>
            <% end %>
        <% end %>
  <% end %>

  </table>
</div>