<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/offer_emails' %>

<div class="page-header">
<h3><%= t('.title') %></h3>

<div class='panel-container'>

  <% if sessions.empty? %>
      <h4>&#x2713; This will display your Offer Emails sent to your clients.</h4>
  <% elsif sessions.collect { |s| s.emails.count }.sum.to_i == 0 %>
      <h4>&#x2718; No emails this past week - no portraits uploaded?</h4>
  <% else %>
      <table class="table table-striped table-bordered datatables-hidden" id='offer_emails_table'>
        <thead>
        <tr>
          <th>photo session</th>
          <th>client</th>
          <th>how many<br/>offers</th>
          <th>sent</th>
          <th>sent for datatables</th>
          <th>last read</th>
          <th>last read for datatables</th>
          <th>clicked through</th>
          <th>clicked through for datatables</th>
          <th>purchased</th>
          <th>shipped</th>
          <th>shipped for datatables</th>
          <% if current_user.admin? %>
              <th>studio</th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <%= empty_email_table_rows if sessions.blank? %>
        <% sessions.each do |session| %>
            <% session.emails.each do |email| %>
                <tr>
                  <td><%= link_to session.name, my_studio_session_path(session) %></td>
                  <td><%= session.try(:client).try(:name) %> <%= '<br/>(unsubscribed from emails)'.html_safe if Unsubscribe.exists?(email: session.client.email) %></td>
                  <td><%= email.try(:offers).try(:count) %></td>
                  <td><%= email.sent_at ? "#{time_ago_in_words email.sent_at} ago" : '' %></td>
                  <td><%= email.sent_at.to_s(:javascript) if email.sent_at %></td>
                  <td><%= email.opened_at ? "#{time_ago_in_words email.opened_at} ago" : '' %></td>
                  <td><%= email.opened_at.to_s(:javascript) if email.opened_at %></td>
                  <td><%= email.visited_at ? "#{time_ago_in_words email.visited_at} ago" : '' %></td>
                  <td><%= email.visited_at.to_s(:javascript) if email.visited_at %></td>
                  <td><%= email.offers.select { |o| o.purchased_at.present? }.count.to_words %></td>
                  <td><%= email.most_recent_shipment_at.nil? ? '' : "#{time_ago_in_words(email.most_recent_shipment_at)} ago" %></td>
                  <td><%= email.most_recent_shipment_at.to_s(:javascript) if email.most_recent_shipment_at %></td>
                  <% if current_user.admin? %>
                      <td><%= session.studio.name %></td>
                  <% end %>
                </tr>
            <% end %>
        <% end %>
        </tbody>
      </table>
  <% end %>

</div>
</div>