<div id='title_bar'>
  <h3><%= t(:my_studio_dashboards_ready_title) %></h3>
</div>

<div class='panel-container'>
  <% if emails.present? %>
      <table class="table">
        <thead>
        <tr>
          <% if is_admin? %>
              <th>Actions</th>
              <th>been waiting</th>
          <% end %>
          <th>photo session</th>
          <% if is_admin? %>
              <th>studio</th>
          <% end %>
          <th>client</th>
          <th>how many<br/>offers</th>
        </tr>
        </thead>
        <tbody>
        <% emails.each do |email| %>
            <tr>
              <% if is_admin? %>
                  <td><%= email.in_send_offers_queue? ? 'queued' : link_to('Edit Portraits', minisite_email_offers_path(email.tracking)) %></td>
                  <td><%= time_ago_in_words email.created_at %></td>
              <% end %>

              <td><%= link_to email.my_studio_session.name, my_studio_session_path(email.my_studio_session) %></td>

              <% if is_admin? %>
                  <td><%= email.my_studio_session.studio.name %></td>
              <% end %>

              <td><%= email.my_studio_session.try(:client).try(:name) %> <%= '<br/>(unsubscribed from emails)'.html_safe if Unsubscribe.exists?(email: email.my_studio_session.client.email) %></td>
              <td><%= email.try(:offers).try(:count).to_words %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% else %>
      <p>None</p>
  <% end %>
</div>