<div id='title_bar'>
  <h3><%= t(:my_studio_dashboards_ready_title) %></h3>
</div>
<div class='panel_contents'>
  <% ready_emails = sessions.collect { |s| s.emails.where('sent_at is NULL and active = ?', true) }.flatten %>
  <% if ready_emails.present? %>
      <table>
        <tr>
          <% if current_user.admin? %>
              <th>studio</th>
          <% end %>
          <th>photo session</th>
          <th>client</th>
          <th class='right'>how many<br/>offers</th>
          <th>Actions</th>
        </tr>
        <% ready_emails.each do |email| %>
            <tr>
              <% if current_user.admin? %>
                  <td><%= email.my_studio_session.studio.name %></td>
              <% end %>
              <td><%= link_to email.my_studio_session.name, my_studio_session_path(session) %></td>
              <td><%= email.my_studio_session.try(:client).try(:name) %> <%= '<br/>(unsubscribed from emails)'.html_safe if Unsubscribe.exists?(email: email.my_studio_session.client.email) %></td>
              <td style='text-align:right;'><%= email.try(:offers).try(:count) %></td>
              <td><%= link_to 'Send email', send_offers_admin_customer_email_url(email), confirm: 'xxx', remote: true %></td>
            </tr>
        <% end %>
      </table>
      <br/>
      <%= link_to 'Send all ready emails', 'xxx' %>
  <% else %>
      <p>None</p>
  <% end %>
</div>