<div class='container'>
  <div class='motivation'>
    <table style='margin-bottom:0px;width:auto;'>
      <tr>
        <td>
          <%= new_sessions_days_ago_text %>
        </td>
        <td align='left'>
          <%= button_to 'Create new session and upload portraits now!', new_my_studio_session_path, method: :get, style: 'font-size:10pt' %>
        </td>
      </tr>
    </table>
  </div>

  <div class='motivation'>
    Total revenue so far: <%= number_to_currency @sum_purchases %> Your commmission (at <%= @commission_rate %>%):
    <%= number_to_currency @total_commissions %>
  </div>
</div>

<div class='container'>
  <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
</div>

<div class='container'>
  <%= render 'my_studio/dashboards/emails', sessions: @sessions %>
</div>

<div class='span-6 last ar-widget'>
  powered by
  <%= image_tag 'kimbra_logo.png' %>
</div>