<div class='container'>

  <div class='page-header'>

    <h4>
      <%= new_sessions_days_ago_text %>
      <%= form_tag new_my_studio_session_path, method: :get do %>
          <button type="submit" class="btn btn-success">
            <i class="icon-plus icon-white"></i>
            <%= t('.create_photo_session') %>...
          </button>
      <% end %>
    </h4>


    <h4>
      Total revenue so far: <%= number_to_currency @sum_purchases %> Your commission (at <%= @commission_rate %>
      %):
      <%= number_to_currency @total_commissions %>
    </h4>

    <div class='container'>
      <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
    </div>

    <div class='container'>
      <%= render 'my_studio/dashboards/emails', sessions: @sessions %>
    </div>
  </div>
  <div class='span2'>
    <%= image_tag 'kimbra_logo.png' %>
  </div>
</div>