<div class='container'>

  <div class='motivation'>

    <table class='table'>
      <tbody>
      <tr>
        <td>
          <%= new_sessions_days_ago_text %>
        </td>
        <td align='left'>
          <%= form_tag new_my_studio_session_path, :method => :get do %>
              <button type="submit" class="btn btn-success">
                <i class="icon-plus icon-white"></i>
                Create new photo session and upload portraits now!...
              </button>
          <% end %>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <% if @sessions.present? %>
      <div class='motivation'>
        Total revenue so far: <%= number_to_currency @sum_purchases %> Your commmission (at <%= @commission_rate %>%):
        <%= number_to_currency @total_commissions %>
      </div>
  <% end %>
</div>

<% if @sessions.present? %>
    <div class='container'>
      <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
    </div>

    <div class='container'>
      <%= render 'my_studio/dashboards/emails', sessions: @sessions %>
    </div>
<% end %>

<div class='span2'>
  <%= image_tag 'kimbra_logo.png' %>
</div>