<div class='container'>
  <div class='motivation'>
    <%= portrait_uploaded_days_ago_text %>
  </div>
  <%= button_to 'Upload some now!', new_my_studio_session_path, method: :get, form: {id: 'upload_more_portraits_button'} %>

  <div class='motivation'>
    Total revenue so far: <%= number_to_currency @sum_purchases %> Your commmission (at <%= @commission_rate %>%):
    <%= number_to_currency @total_commissions %>
  </div>
</div>

<div class='container'>
  <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
</div>

<div class='container'>
  <%= render 'my_studio/dashboards/emails', sessions: @sessions %>
</div>

<div class='span-6 last ar-widget'>
  <!-- This is groovy and I think we'll use it for something. -->
  <%= image_tag 'kimbra_logo.png' %>
</div>