<h1>Welcome <%= @name %>!</h1>

<p>
  to Kimbra's ClickPLUS program for professional photography studios. Our mission is to help you:
  <ul>
    <li>have a whole new marketing program with your clients and their most influential friends and family</li>
    <li>make reliable commissions with gorgeous products that you already trust and consumers love</li>
    <li>your clients show off heirloom quality jewelry pieces <i>from your studio</i></li>
    <li>it's all about your studio's image and artistic credentials</li>
    <li>with ridiculously little effort for you</li>
  </ul>
</p>

<h2>Go to <%= link_to 'KimbraClickPLUS.com', 'https://KimbraClickPLUS.com' %> to get started.</h2>

<p>
  You'll login with your email address: <%= @email %> and your password: <%= @password %>. You can change your password
  once you login.
</p>

<p>
  After you login, you'll probably want to cruise around the site to check it out. There's not much to see until you
  create a session for a recent client photo shoot and upload about a half dozen portraits. We'll review your
  portraits and create a gorgeous personalized offer for your client and sent it to them within a day. We take care of
  everything for you. A couple weeks after your clients purchase an offer, we send you a commission check for 15% of the
  total (excluding shipping and tax).
</p>

<p>
  Even more exciting, as your clients forward the email to their friends (and post on Facebook and Twitter), and they go
  to your branded minisite and make purchases, you continue to receive the marketing benefits and a full commission on
  every sale.
</p>

<p>
<ul>
  <li>
    KimbraClickPLUS helps photography studios offer their clients gorgeous photo jewelry in a super easy way.
  </li>
  <li>
    You upload choice portraits from a client's photo session, and we create a direct email offer for them with your
    branding.
  </li>
  <li>
    It's gorgeous and compelling. Clients want to forward these emails to all their friends (and post to FB and Twitter)
    - and share their excitement about the work your studio has done.
  </li>
</ul>
</p>

<p>Call or email us any time with any questions. We also have a chatbox on every page for you to contact us.</p>

<p>
  Call us direct 9am - 7pm Eastern<br/>
  (303) 586-1371 or Skype us at KimbraClickPLUS<br/>
  <%= mail_to 'Support@KimbraClickPLUS.com', 'Support@KimbraClickPLUS.com', encode: :javascript %><br/>
  <%= link_to 'Kimbra Studios', 'http://KimbraStudios.com' %>
</p>


<p>(Sent to <%= @studio.name %> by Candi James at KimbraClickPLUS.)</p>