<!DOCTYPE HTML>
<html>
<head><title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      @media only screen and (max-device-width: 480px) {
      }

      @import url(http://fonts.googleapis.com/css?family=Bad+Script);
  </style>
</head>
<body>

<!-- pale gray background -->
<table cellspacing='0' cellpadding='0' border='0' style="color: #333; background: #fff; padding: 0; margin: 0; width: 100%; height: 100%">
  <tbody>
  <tr width='100%'>
    <td valign='top' align="left" style="background: #EEF0F1; font: 15px/19px 'Helvetica Neue', Arial, Helvetica;">
      <!-- main panel of email - 460px width -->
      <table style="border: none; padding: 10px; margin: 10px auto; width: 460px;" cellspacing='0' cellpadding='0' border='0'>
        <tbody>
        <!-- top rounded corners -->
        <tr width='100%'>
          <td style='border-top-left-radius: 6px; border-top-right-radius: 6px; text-align: center;' bgcolor='<%= @studio.minisite.bgcolor %>' colspan='3' height='5px'>
          </td>
        </tr>
        <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
          <td colspan='3' valign='top' align='left' style='text-align: center; padding: 10px;'>
            <%= image_tag @studio.minisite.image_url,
                          alt: "#{@studio.name} logo",
                          title: "#{@studio.name} logo",
                          width: studio_logo_max_460_width(@studio),
                          height: studio_logo_max_460_height(@studio),
                          id: 'studio_logo',
                          style: 'display:inline;',
                          border: 0,
                          align: 'top',
                          vertical_align: 'top' %>
            <br>

            <p style="font: 18px/20px 'Bad Script','Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; ">
              We kick-started your 2013!
            </p>
            <p style="font: 12px/16px ' Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>;">
              Sorry to send this to you again - we omitted your login information in the last one! Ack!
            </p>
          </td>
        </tr>

        <tr bgcolor='<%= @studio.minisite.bgcolor %>'>
          <td colspan='3' height='10' valign='top' bgcolor='<%= @studio.minisite.bgcolor %>'>
            &nbsp;
          </td>
        </tr>

        <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
          <td valign='top' align='right' width='220' style='width: 220px;'>
            <%= image_tag 'love.png',
                          title: 'love',
                          alt: 'love',
                          width: 200,
                          class: 'img-rounded',
                          border: 0,
                          style: 'margin-top: 10px; text-decoration: none; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;'
            %>
          </td>
          <td valign='top' align='center' width='20' style='width: 20px;' bgcolor='<%= @studio.minisite.bgcolor %>'>

          </td>
          <td valign='top' align='left' width='220' style='width: 220px; padding: 10px;'>
            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica;
                    color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              We sent a fresh offer email to each of your clients to remind them about the beauty and value of your
              photography sessions. Each offer has been retooled with fresh jewelry pieces and stylish recropping of
              your portraits. We also selected the more inexpensive jewelry pieces in recognition that many of us will
              be paying holiday bills for a few months to come!
            </p>
          </td>
        </tr>

        <tr>
          <td colspan='3' height='10' bgcolor='<%= @studio.minisite.bgcolor %>'>
            &nbsp;
          </td>
        </tr>

        <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
          <td valign='top' align='right' width='220' style='width: 220px; padding: 10px;'>
            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica;
                    color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              Savvy studios may already market to their existing clients, but are your emails <i>viral</i>? Are your
              emails completely customized and personalized to each client? Our email marketing campaigns are subtle and
              perfectly complimentary to your other efforts.
            </p>
          </td>
          <td valign='top' align='center' width='20' style='width: 20px;' bgcolor='<%= @studio.minisite.bgcolor %>'>

          </td>
          <td valign='top' align='left' width='220' style='width: 220px;'>
            <%= image_tag 'my_love.png',
                          title: 'love',
                          alt: 'love',
                          width: 200,
                          class: 'img-rounded',
                          border: 0,
                          style: 'margin-top: 10px; text-decoration: none; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;'
            %>
          </td>
        </tr>

        <tr>
          <td colspan='3' height='10' bgcolor='<%= @studio.minisite.bgcolor %>'>
            &nbsp;
          </td>
        </tr>


        <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
          <td valign='top' align='left' colspan='3' style='padding: 10px;'>
            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica;
                    color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              Start by creating a new session today and leverage the work we do for you. Add existing clients from last
              year, and get in the habit of creating a ClickPLUS session for each new session you have. Our work is fast
              and free! Amazing.
            </p>

            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              To get started go to
              <%= link_to 'KimbraClickPLUS.com', root_url(studio_email: 'studio_kick_start_2013', studio_id: @studio.id), style: "color: #{@studio.minisite.font_color};" %>
              .
              It's free. In fact, we pay you.
            </p>

            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              <b>Sign-in with your email address and password (if you haven't already changed it):</b>
                <br>
                &nbsp;&nbsp;<span style='color:<%=@studio.minisite.font_color%>;'><%= @email %></span>
                <br>
                &nbsp;&nbsp;<%= @password %>
                <br><b>(note they are lowercase and not the same as your current login on Kimbra's site).</b>
            </p>

            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; margin-top: 0px;">
              We're here to answer your questions.<br/>
              Call: (303) 586­1371<br/>
              Skype: KimbraClickPLUS<br/>
              Email: <%= mail_to 'Support@KimbraClickPLUS.com', 'Support@KimbraClickPLUS.com', style: "color: #{@studio.minisite.font_color};" %>
            </p>

            <p style="font: 12px/16px ' Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; margin-top: 10px;">
              Photos courtesy <%= link_to 'Kelly Sudduth Photography', 'http://www.kellyhighbyphotography.com' %>. Thank
              you!
            </p>
          </td>

        </tr>


        <tr width='100%'>
          <td style='border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; text-align: center;' bgcolor='<%= @studio.minisite.bgcolor %>' colspan='3'>
            &nbsp;
          </td>
        </tr>

        <tr>
          <td valign='top' width='220px'>
            <p align='left' style="color: #333; font-size: 0.8em; margin-top: 10px;">
              We sent you this email this because <%= @studio.name -%> is a partner of Kimbra Studios.<br/>
              <%= @studio.address_1 -%><br/>
              <%= @studio.city %>, <%= @studio.state.abbreviation -%><br/>
              <%= number_to_phone @studio.phone_number, area_code: true -%>
            </p>

            <p align='left' style="color: #333; font-size: 0.8em;">
              <unsubscribe><%= link_to 'Unsubscribe instantly', unsubscribe_studio_url(@studio, @studio.owner.email), style: "color: #{@studio.minisite.font_color}" %></unsubscribe>
            </p>
          </td>
          <td width='20px'></td>
          <td valign='top' width='220px'>
            <p align='right' style="color: #333; font-size: 0.8em; margin-top: 10px;">
              Kimbra Studios
              <br/>5788 South Rapp Street
              <br/>Littleton, Colorado 80120
              <br>
              <br>
              1856 Stevenson Ave
              <br>Clearwater, Florida 33755
            </p>
          </td>
        </tr>

        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

</body>
</html>