<h3><%= t(:admin_merchandise_pieces_show_title, name: @admin_merchandise_piece.name) %></h3>

<div class="row">

  <div class="span7">
    <p>
      <span>Current Status:</span>
      <%= current_status(@admin_merchandise_piece.active) %>
      <span>Featured:</span>
      <%= @admin_merchandise_piece.featured %>
    </p>

    <p>
      <span>Parts:</span>
      <%= link_to 'Parts', admin_merchandise_piece_parts_path(@admin_merchandise_piece) %>
    </p>

    <% if is_admin? %>
        <p>
          <span>Size:</span>
          <% to_size(@admin_merchandise_piece) %>
        </p>
    <% end %>
    <p>
      <span>Name:</span>
      <%= @admin_merchandise_piece.name %>
    </p>

    <p>
      <span>Short description:</span>
      <%= @admin_merchandise_piece.short_description %>
    </p>

    <p>
      <span>Long description:</span>
      <%= @admin_merchandise_piece.description_markup %>
    </p>

    <p>
      <span>Price:</span>
      <%= number_to_currency(@admin_merchandise_piece.price) %>
    </p>

    <p>
      <span>Deleted at:</span>
      <%= @admin_merchandise_piece.deleted_at %>
    </p>

    <%= link_to t(:edit), edit_admin_merchandise_piece_path(@admin_merchandise_piece), class: "btn btn-success" %> |
    <%= link_to t(:back), admin_merchandise_pieces_path, class: "btn btn-primary" %>\
  </div>

  <div class="span3">
    <%= render 'admin/merchandise/pieces/side_menu', :piece => @admin_merchandise_piece %>
  </div>

</div>




