<h1 style='text-align:left;'> <%= t(:admin_overview_title) %> </h1>

<div class='span-18 column' style='width:708px;'>
  <div class='container'>
    <%= render 'my_studio/dashboards/sessions', sessions: @sessions %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> <%= t(:admin_overview_label_emails) %> </h3>
    <%= link_to t(:admin_overview_link_emails), admin_customer_emails_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> <%= t(:admin_overview_label_merchandise) %> </h3>
    <%= link_to t(:admin_overview_link_merchandise), admin_merchandise_pieces_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> <%= t(:admin_overview_label_studios) %> </h3>
    <%= link_to t(:admin_overview_link_studios), studios_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> <%= t(:admin_overview_label_users) %> </h3>
    <%= link_to t(:admin_overview_link_users), users_path %>
  </div>
</div>
<div class='span-6 last ar-widget'>
  <%= link_to image_tag('kimbra_logo.png') %>
</div>