<%= form_for(@phone_type) do |f| %>

    <%= render 'shared/error_messages', record: @phone_type %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
