<h4><%=t(:my_studio_staffers_index_title)%></h4>

<%= link_to t(:my_studio_staffers_new_link), new_my_studio_staffer_path %>
<br/>
<%= link_to t(:my_studio_overview_link), my_studio_overview_path %>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @my_studio_staffers.each do |my_studio_staffer| %>
  <tr>
    <td><%= link_to t(:show), my_studio_staffer %></td>
    <td><%= link_to t(:edit), edit_my_studio_staffer_path(my_studio_staffer) %></td>
    <td><%= link_to t(:destroy), my_studio_staffer, confirm: t(:link_destroy_confirm), method: :delete %></td>
  </tr>
<% end %>
</table>

