<div class="show">

  <h3><%= t(:my_studio_portraits_session, :name => @admin_customer_email.try(:my_studio_session).try(:name)) %></h3>

  <%= form_for(@admin_customer_email) do |f| %>

      <%= render 'shared/error_messages', record: @admin_customer_email %>

      <div class="field">
        <%= f.label :message %>
        <br/>
        <%= f.text_area :message %>
      </div>
      <div class="field">
        <%= f.label :generated_at %>
        <%= f.text_field :generated_at, :readonly => 'readonly' %>
      </div>

      <div class="field ui-widget">
        <%= f.label :sent_at %>
        <br/>
        <%= f.text_field :sent_at %>
      </div>
      <div class="field">
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>

      <% if @admin_customer_email.id %>
          <% (0..2).each do |index| %>
              <div class='field'>
                <% unless @admin_customer_email.offers[index] %>
                    <%= link_to "New Offer #{index+1}", new_admin_customer_email_offer_path(@admin_customer_email) %>
                <% end %>
              </div>
          <% end %>
      <% end %>
      <div class="actions">
        <%= f.submit :id => 'my_submit' %>
        <span id="spinner" style="display:none"></span>
      </div>
  <% end %>
</div>

<% if @admin_customer_email.id %>
    <%= render 'admin/customer/emails/side_menu', :offers => @admin_customer_email.offers %>
<% end %>