<%= form_for(@admin_customer_email) do |f| %>
    <% if @admin_customer_email.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@admin_customer_email.errors.count, "error") %> prohibited this admin_customer_email from
            being saved:</h2>

          <ul>
            <% @admin_customer_email.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :message %>
      <br/>
      <%= f.text_area :message %>
    </div>
    <div class="field">
      <%= f.label :sent_at %>
      <br/>
      <%= f.datetime_select :sent_at %>
    </div>
    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %>
    </div>

    <% if @admin_customer_email.id %>
        <% (0..2).each do |index| %>
            <div class='field'>
              <% if @admin_customer_email.offers[index] %>
                  email offer id
              <% else %>
                  <%= link_to "New Offer #{index+1}", new_admin_customer_email_offer_path(@admin_customer_email) %>
              <% end %>
            </div>
        <% end %>
    <% end %>


    <div class="field">
      Pick list for a Shoot??
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
