<h2>
  <%= t(:admin_customer_emails_index_title) %>
  <span class="hint">
      record set count: <%= number_to_human @record_count %>
  </span>
</h2>

<div class="paginate">
<%= paginate @admin_customer_emails %>
</div>

<table>
  <tr>
    <th>Message</th>
    <th>Generated</th>
    <th>Sent at</th>
    <th>Active</th>
    <th>Offers</th>
    <th></th>
    <th></th>
  </tr>

  <% @admin_customer_emails.all.each do |admin_customer_email| %>
      <tr>
        <td><%= admin_customer_email.message %></td>
        <td><%= time_short(admin_customer_email.generated_at) %></td>
        <td><%= sent_or_queue(admin_customer_email) %></td>
        <td><%= admin_customer_email.active %></td>
        <td><%= link_to t(:offers), admin_customer_email_offers_path(admin_customer_email.tracking) %></td>
        <td><%= link_to t(:show), admin_customer_email %></td>
        <td><%= link_to t(:edit), edit_admin_customer_email_path(admin_customer_email) %></td>
        <td><%= link_to t(:destroy), admin_customer_email, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
</table>
<div class="paginate">
<%= paginate @admin_customer_emails %>
</div>
