<div class="row span12">

  <h2>
    <%= t('.title') %>
  </h2>

  <table class="table table-striped table-bordered" id='emails_table'>
    <thead>
    <tr>
      <th colspan="<%= is_admin? ? 4 : 1 %>">Actions</th>
      <th>Studio</th>
      <th>Client</th>
      <th>Generated</th>
      <th>Sent at</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    <% @admin_customer_emails.all.each do |admin_customer_email| %>
        <tr>
          <% if is_admin? %>
              <td>
                <%= link_to "#{admin_customer_email.offers.size.to_i.to_words} #{t(:offers)}", admin_customer_email_offers_path(admin_customer_email.tracking), title: 'View All Offers for this Email' %>
                <br>
                <%= link_to('Edit Portraits', minisite_email_offers_path(admin_customer_email.tracking)) %>
              </td>
          <% end %>
          <td><%= link_to t(:show), admin_customer_email_path(admin_customer_email.tracking) %></td>
          <% if is_admin? %>
              <td><%= link_to t(:edit), edit_admin_customer_email_path(admin_customer_email) %></td>
              <td><%= link_to t(:destroy), admin_customer_email, confirm: t(:link_destroy_confirm), method: :delete %></td>
          <% end %>
          <td><%= admin_customer_email.my_studio_session.studio.name %></td>
          <td><%= admin_customer_email.my_studio_session.client.name %></td>
          <td><%= admin_customer_email.generated_at.to_s %></td>
          <td><%= sent_or_queue(admin_customer_email) %></td>
          <td><%= admin_customer_email.active %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<%= javascript_tag do %>
    $(document).ready(function(){
    setUpDataTable($('#studios_table'), 5);
    });
<% end %>