<h1>
  <%= t(:admin_customer_emails_index_title) %>
  <span class="hint">
      record set count: <%= number_to_human @record_count %>
  </span>
</h1>

<div class="paginate">
  <%= paginate @admin_customer_emails %>
</div>

<table>
  <thead>
  <tr>
    <th>Studio</th>
    <th>Client</th>
    <th>Generated</th>
    <th>Sent at</th>
    <th>Active</th>
    <% if current_user.admin? %>
        <th>Offers</th>
    <% end %>
    <th colspan="4">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @admin_customer_emails.all.each do |admin_customer_email| %>
      <tr>
        <td><%= admin_customer_email.my_studio_session.studio.name %></td>
        <td><%= admin_customer_email.my_studio_session.client.name %></td>
        <td><%= time_short(admin_customer_email.generated_at) %></td>
        <td><%= sent_or_queue(admin_customer_email) %></td>
        <td><%= admin_customer_email.active %></td>
        <% if current_user.admin? %>
            <td><%= link_to t(:offers), admin_customer_email_offers_path(admin_customer_email.tracking), title: 'View All Offers for this Email' %></td>
        <% end %>
        <td><%= link_to t(:show), show_collection_my_studio_minisite_path(admin_customer_email.tracking) %></td>
        <% if current_user.admin? %>
            <td><%= link_to t(:edit), edit_admin_customer_email_path(admin_customer_email) %></td>
            <td><%= link_to t(:destroy), admin_customer_email, confirm: t(:link_destroy_confirm), method: :delete %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @admin_customer_emails %>
</div>