<h2>
  <%= t(:admin_customer_emails_index_title) %>
  <small>result set count: <%= number_to_human @record_count %></small>
</h2>

<div class="paginate">
  <%= paginate @admin_customer_emails %>
</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th colspan="<%= is_admin? ? 4 : 1 %>">Actions</th>
    <th>Studio</th>
    <th>Client</th>
    <th>Generated</th>
    <th>Sent at</th>
    <th>Active</th>
  </tr>
  </thead>
  <tbody>
  <% @admin_customer_emails.all.each do |admin_customer_email| %>
      <tr>
        <% if is_admin? %>
            <td><%= link_to t(:offers), admin_customer_email_offers_path(admin_customer_email.tracking), title: 'View All Offers for this Email' %></td>
        <% end %>
        <td><%= link_to t(:show), show_collection_my_studio_minisite_path(admin_customer_email.tracking) %></td>
        <% if is_admin? %>
            <td><%= link_to t(:edit), edit_admin_customer_email_path(admin_customer_email) %></td>
            <td><%= link_to t(:destroy), admin_customer_email, confirm: t(:link_destroy_confirm), method: :delete %></td>
        <% end %>
        <td><%= admin_customer_email.my_studio_session.studio.name %></td>
        <td><%= admin_customer_email.my_studio_session.client.name %></td>
        <td><%= time_short_index(admin_customer_email.generated_at) %></td>
        <td><%= sent_or_queue(admin_customer_email) %></td>
        <td><%= admin_customer_email.active %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @admin_customer_emails %>
</div>