<p>
  <b>Email</b>
  <%= @studio.info_studio.email %>
</p>
<p>
  <b>Email info</b>
  <%= @studio.info_studio.email_info %>
</p>
<p>
  <b>Website</b>
  <%= @studio.info_studio.website %>
</p>
<p>
  <b>Tax ID/EIN</b>
  <%= @studio.info_studio.tax_id %>
</p>
<p>
  <b>Active</b>
  <%= @studio.info_studio.active %>
</p>
<p>
  <b>Pictage Member</b>
  <%= @studio.info_studio.pictage_member %>
</p>
<p>
  <b>Mac User</b>
  <%= @studio.info_studio.mac_user %>
</p>
<p>
  <b>Windows User</b>
  <%= @studio.info_studio.windows_user %>
</p>
<p>
  <b>Notification emails</b>
  <%= @studio.info_studio.ping_email %>
</p>

