<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      .left {
          text-align: left;
      }

      .right {
          text-align: right;
      }

      table {
          border: 1px solid black;
          border-collapse: collapse;
      }

      td, th {
          padding: 10px;
      }

  </style>

<p>Hi Kimbra Studios,</p>

<p>
  <%= t(:company) %> order number is <%= @cart.tracking %><br/>
  You can view the
  <%= link_to 'ClickPLUS order at any time', order_status_minisite_email_url(id: @cart.email.id, cart: @cart, show_status_only: true) %>.
</p>

<div>
  Ship to:
  <%= render 'shopping/addresses/show', address: @cart.address %>
</div>

<div>
  From Partner Studio:
  <% studio = @cart.email.my_studio_session.studio %>
  <%= studio.name %>
  <br> <%= number_to_phone studio.phone_number, area_code: true %>
  <%= render 'shared/addresses/show', resource: studio %>
</div>

<%= render 'shared/mailers/cart_items' %>

<p>
  STRIPE CREDIT CARD
  RESPONSE: <%= link_to @cart.purchase.stripe_response_id, "https://manage.stripe.com/#test/payments/#{@cart.purchase.stripe_response_id}" %>
</p>

<% if (@cart.purchase.tax > 0) %>
    <p>
      TAXES<br/>
      <%= tax_text(@cart.purchase.tax_description) %>
      <br/>
    </p>
<% end %>

<% @cart.items.each_with_index do |shopping_item, idx| %>

    <%= "ITEM: #{idx + 1}" %>
    <% @admin_customer_offer = shopping_item.offer %>
    <%= render 'minisite/offers/show',
               admin_customer_offer: @admin_customer_offer,
               admin_customer_email: @admin_customer_email,
               shopping_item: shopping_item %>

    <% @admin_customer_offer.items.each do |admin_customer_item| %>
        <% @item = admin_customer_item %>
        <%= render 'admin/customer/items/show' %>
    <% end %>

    <% @admin_customer_offer.portrait_list.each do |portrait| %>
        <p><%= link_to "Original portrait", portrait.image_url(:face) %></p>
    <% end %>

<% end %>

<p>
  <%= link_to 'Add the UPS tracking number to this order when shipping.', shopping_edit_delivery_tracking_url(shopping_cart: {tracking: @cart.tracking}) %>
</p>

<p>
  <%= link_to 'Add UPS tracking number to any order.', delivery_url %>
</p>

</body>
</html>