<%# This layout is for email as well and must retain primitive email-based layout and styles. %>
<layout label="Wide image">
  <table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
    <tbody>
    <tr>
      <td class="w580" valign="top" width="580">
        <table class="w580" border="0" cellpadding="0" cellspacing="0"
               width="580">
          <tbody>
          <tr>
            <td class="w580" align="center" width="580">
              <% klass = offer.frozen_offer? ? "frozen" : "" %>
              <%= link_to image_tag(attachments['offer_image.jpg'].url,
                                    :title => offer.name,
                                    :alt => offer.name,
                                    :width => constrain_to_500_px_wide(offer, :width),
                                    :height => constrain_to_500_px_wide(offer, :height),
                                    :class => "w280 img-rounded #{klass}",
                                    :editable => "true",
                                    :label => "Image",
                                    :border => 0),
                          minisite_email_offers_url(email),
                          {:style => "text-decoration: none;"} %>
            </td>
          </tr>
          <tr>
            <td class="w580" width="580">
              <div class="article-content" align="center">
                <p style="color: <%= studio.minisite.font_color %>;">
                  <% if offer.frozen_offer? %>
                      <b><%= t('in_shopping_cart') %></b><br>
                  <% end %>
                  <b><%= offer.name %></b><br/>
                  <%= offer.piece.short_description %>
                  <span class="price"><%= number_to_currency(offer.price) %></span> •
                  <%= link_to "Details...", minisite_email_offers_url(email), {:style => "color: #{studio.minisite.font_color}; text-decoration: dotted;"} %>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w580" height="10" width="580"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</layout>