<%# This layout is for email as well and must retain primitive email-based layout and styles. %>
<layout label="Wide image">
  <table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
    <tbody>
    <tr>
      <td class="w580" valign="top" width="580">
        <table class="w580" border="0" cellpadding="0" cellspacing="0"
               width="580">
          <tbody>
          <tr>
            <td class="w580" align="center" width="580">
              <%= image_tag(attachments['offer_image.jpg'].url,
                            :title => piece.name,
                            :alt => piece.name,
                            :width => constrain_to_500_px_wide(piece, :width),
                            :height => constrain_to_500_px_wide(piece, :height),
                            :class => "w280 img-rounded",
                            :editable => "true",
                            :label => "Image",
                            :border => 0) %>
            </td>
          </tr>
          <tr>
            <td class="w580" width="580">
              <div class="article-content" align="center">
                <p style="color: <%= studio.minisite.font_color %>;">
                  <b><%= piece.name %></b><br/>
                  <%= piece.short_description %>
                  <span class="price"><%= number_to_currency(piece.price) %></span>

                  <% unless @show_status_only %>
                      <% if is_client? %>
                          <%= form_for(@shopping_item, :remote => true) do |f| %>
                            <p>
                              <%= f.hidden_field :piece_id %>
                              <%= f.hidden_field :cart_id %>
                              <%= submit_tag 'Add to Cart', :id => "my_submit_#{@shopping_item.piece_id}", :class => 'likeabutton multi-submits' %>
                              <span id='<%= "spinner_#{@shopping_item.piece_id}" %>' style='display:none' class='spinner'></span>
                            </p>
                        <% end %>
                    <% end %>
                <% end %>
                <p class="shopping-item">
                  <span id='<%= "shopping_item_#{@shopping_item.piece_id}" %>'></span>
                </p>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w580" height="10" width="580"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</layout>