<%= form_for(@studio_shoot) do |f| %>
    <% if @studio_shoot.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@studio_shoot.errors.count, "error") %> prohibited this studio_shoot from being saved:</h2>

          <ul>
            <% @studio_shoot.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :date, 'Photo Shoot Date:' %>
      <br/>
      <%= f.datetime_select :date %>
    </div>

    <div class="field">
      <%= f.label :category_name %>
      <%= f.select :category_id, @categories %>

    </div>

    <%= render "studio/clients/form", :f => f %>

    <div class="actions">
      <%= f.submit 'Create Photo Shoot' %>
    </div>
<% end %>
