<h1>Listing studio_shoots</h1>

<%= link_to 'New Shoot', new_studio_shoot_path %>
<br/>
<%= link_to 'My Studio', studio_overview_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Category</th>
    <th>Client</th>
    <th>Active?</th>
    <th>Pictures</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studio_shoots.each do |studio_shoot| %>
  <tr>
    <td><%= studio_shoot.name %></td>
    <td><%= studio_shoot.date %></td>
    <td><%= studio_shoot.category_name %></td>
    <td><%= studio_shoot.client.try(:name) %></td>
    <td><%= studio_shoot.client.try(:active) %></td>
    <td><%= link_to 'Pictures', studio_shoot_pictures_path(studio_shoot) %></td>
    <td><%= link_to 'Show', studio_shoot %></td>
    <td><%= link_to 'Edit', edit_studio_shoot_path(studio_shoot) %></td>
    <td><%= link_to 'Destroy', studio_shoot, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

