<% if @user and @user.errors.present? %>
   <%= render 'shared/error_messages', record: @user %>
<% end %>
<%= form_for(@user) do |f| %>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </div>

    <div class="field">
      <%= f.label :friendly_name %>
      <%= f.text_field :friendly_name %>
    </div>
    <div class="field">
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>

    <%= render 'shared/addresses/form', f: f %>

    <div class="actions">
      <%= f.submit %>
    </div>

<% end %>
