<%= render 'shared/error_messages', record: @user %>

<%= form_for(@user, validate: true, html: {class: "form-horizontal"}) do |f| %>

    <div class="control-group">
      <%= f.label :email, class: "control-label" %>
      <div class="controls">
        <%= f.email_field :email %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :first_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :first_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :last_name %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :friendly_name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :friendly_name %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :phone_number, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :phone_number %>
      </div>
    </div>

    <%= render 'shared/addresses/form', f: f %>

    <div class="actions controls">
      <%= f.submit %>
    </div>

<% end %>
