<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/users' %>

<div class="row span12">

  <h2>
    <%= t('.title') %>
  </h2>

  <div class="row">
    <div class="span3 dataTables_filter">
      <%= form_tag new_user_path, method: :get do %>
          <button type="submit" class="btn btn-success">
            <i class="icon-plus icon-white"> </i>
            <%= t('.new') %>...
          </button>
      <% end %>
    </div>
  </div>

  <table class="table table-striped table-bordered datatables-hidden" id='users_table'>
    <thead>
    <tr>
      <th>setup</th>
      <th>last sign in at for datatables</th>
      <th title="send a user email">Name</th>
      <th title="send a studio email">Studio</th>
      <th>Phone</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @users.all.each do |user| %>
        <tr>
          <td><%= "#{time_short_index(user.last_sign_in_at)} (#{user.try(:first_pass)})" %></td>
          <td><%= user.last_sign_in_at.to_s(:javascript) if user.last_sign_in_at %></td>
          <td><%= user_email_link(user) %></td>
          <td><%= studio_email_link(user.try(:studio)) %></td>
          <td><%= number_to_phone user.phone_number_display, area_code: true %></td>
          <td><%= user.try(:city_state_name) %></td>
          <td>
            <%= link_to 'Impersonate', "/switch_user?scope_identifier=user_#{user.id}" %>
            <br>
            <%= link_to t(:show), user %>
            <br>
            <%= link_to t(:edit), edit_user_path(user) %>
            <br>
            <%= link_to t(:destroy), user, confirm: 'Are you sure?', method: :delete %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>