<h1><%= t(:users_index_title) %></h1>

<div class="dd-form">
  <fieldset class='search'>
    <%= form_tag users_path, :method => :get do %>
        <p>
          By Name or Email or Studio Name
          <%= text_field_tag(:search, session[:search_users]) %>
          <%= submit_tag "Search", name: nil %>
          <span class="hint">
              Record Set Count:<%= @record_count %>
          </span>
        </p>
    <% end %>
  </fieldset>
</div>

<%= link_to 'New User', new_user_path %>

<div class="paginate">
  <%= paginate @users %>
</div>

<table>
  <thead>
  <tr>
    <th>Actions</th>
    <th>setup</th>
    <th>Name</th>
    <th>Studio</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Location</th>
  </tr>
  </thead>
  <tbody>
  <% @users.all.each do |user| %>
      <tr>
        <td>
          <%= link_to 'Impersonate', "/switch_user?scope_identifier=user_#{user.id}" %>
          <br>
          <%= link_to t(:show), user %>
          <br>
          <%= link_to t(:edit), edit_user_path(user) %>
          <br>
          <%= link_to t(:destroy), user, confirm: 'Are you sure?', method: :delete %>
        </td>
        <td><%= "#{time_short_index(user.last_sign_in_at)} (#{user.try(:first_pass)})" %></td>
        <td><%= full_name(user) %></td>
        <td><%= user.try(:studio).try(:name) %></td>
        <td><%= user.email %></td>
        <td><%= number_to_phone user.phone_number, area_code: true %></td>
        <td><%= user.try(:city_state_name) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @users %>
</div>
