<div class="platypus-show-container">

  <p>
    <b>Name: </b>
    <%= full_name(@user) %>
  </p>

  <p>
    <b>last sign in: </b>
    <%= time_short(@user.last_sign_in_at) %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Studio:</b>
    <%= @user.try(:studio).try(:name) %>
  </p>

  <p>
    <b>Friendly Name: </b>
    <%= @user.friendly_name %>
  </p>

  <p>
    <b>Phone: </b>
    <%= @user.phone_number %>
  </p>
  <p>
    <b>Address:</b>
    <%= "#{@user.try(:address_1)} #{@user.try(:address_2)}" %><br>
    <%= "#{@user.try(:city)} #{@user.try(:state).try(:abbreviation)}, #{@user.try(:zip_code)}" %>
    <% if @user.addresses.present? %>
        <%= render 'shared/addresses/show', resource: @user %>
    <% else %>
        no addresses
    <% end %>
  </p>


  <%= link_to translate(:edit), edit_user_path(@user) %> |
  <% url = current_user.admin? ? users_path : my_studio_overview_path %>
  <%= link_to translate(:back), url %>
</div>