<h3><%= t('.title') %></h3>

<p>
  <span>Last sign in:</span>
  <%= time_short(@user.last_sign_in_at) %>
</p>

<p>
  <span>Email/Username:</span>
  <%= @user.email %>
</p>

<p>
  <span>Studio:</span>
  <%= @user.try(:studio).try(:name) %>
</p>

<p>
  <span>Name:</span>
  <%= full_name(@user) %>
</p>

<p>
  <span>Friendly Name:</span>
  <%= @user.friendly_name %>
</p>

<p>
  <span>Phone:</span>
  <%= number_to_phone @user.phone_number, area_code: true %>
</p>

<p>
  <span>Address:</span>
  <%= @user.address_array.join(", ").html_safe %>
</p>

<%= link_to translate(:edit), edit_user_path(@user), class: "btn btn-success" %> |
<% url = is_admin? ? users_path : my_studio_overview_path %>
<%= link_to translate(:back), url, class: "btn btn-primary" %>
