<div class="platypus-show-container">

  <p>
    <b>Name: </b>
    <%= full_name(@user) %>
  </p>

  <p>
    <b>Email:</b>
    <%= @user.email %>
  </p>

  <p>
    <b>Studio:</b>
    <%= @user.try(:studio).try(:name) %>
  </p>

  <p>
    <b>Friendly Name: </b>
    <%= @user.friendly_name %>
  </p>

  <p>
    <b>Phone: </b>
    <%= @user.phone_number %>
  </p>

  <p>Address:</p>
  <% if addresses.present? %>
      <%= render 'shared/addresses/show', :resource => @user %>
  <% else %>
      no addresses
  <% end %>

  <%= link_to translate(:edit), edit_user_path(@user) %> |
  <% url = current_user.admin? ? users_path : my_studio_overview_path %>
  <%= link_to translate(:back), url %>
</div>