<% selected = '' if selected.nil? %>
<div id="header_wrapper">
  <div class="container logged-in" id="header">

    <div id='login_display'>
      <% if user_signed_in? %>
          <strong><%= current_user.try(:email) %></strong>
          <br/>
          <%= link_to "Edit account", edit_user_registration_path %>
          <span>(<%= link_to translate(:not_you), destroy_user_session_path, method: :delete %>)</span>
          <%= coffee_script_tag do %>
              $ ->
                olark('api.chat.updateVisitorNickname',
                  snippet:'<%= current_user.name %>, <%= current_user.studio.try(:name) %>')
          <% end %>
      <% else %>
          <strong><%= link_to translate(:sign_in), new_user_session_path %></strong>
          <!--
          or
          <span><%= link_to translate(:sign_up), new_user_registration_path %></span>
          -->
          or <span><%= link_to translate(:sign_up), signup_about_path %></span>
      <% end %>
    </div>

    <% display_h1 = t(:company_brand) %>
    <% if user_signed_in? %>
        <% if is_admin? %>
            <% display_h1 = t(:admin_overview_title) %>
        <% else %>
            <% display_h1 = @my_studio.try(:name) || 'KimbraClickPLUS' %>
        <% end %>
    <% end %>

    <h1 class='logo' style='text-align:left;'> <%= link_to display_h1, root_path %> </h1>

    <% if current_user %>
        <div id="main_nav">
        <ul class='nav nav-pills'>
          <% if is_admin? %>
              <%= link_to_nav_pill t(:admin_menu_overview), admin_overview_url, selected == 'admin/overviews' %>
              <%= link_to_nav_pill t(:admin_menu_emails), admin_customer_emails_path, selected == 'admin/customer/emails' %>
              <%= link_to_nav_pill t(:admin_menu_studios), studios_path, selected == 'studios' %>
              <%= link_to_nav_pill t(:admin_menu_users), users_path, selected == 'users' %>
              <%= link_to_nav_pill t(:admin_menu_merchandise), admin_merchandise_pieces_path, selected == 'admin/merchandise/pieces' %>
              <%= link_to_nav_pill t(:my_studio_info_label_samples), samples_my_studio_infos_path, selected == 'my_studio/infos/samples' %>
              <%= link_to_nav_pill t(:admin_menu_stories), admin_stories_path, selected == 'admin/stories' %>
              <%= link_to_nav_pill t(:my_studio_info_label_faq), faq_my_studio_infos_path, selected == 'my_studio/infos/faqs' %>
          <% else %>
              <% if current_user and current_user.studio? %>
                  <%= link_to_nav_pill t(:my_studio_overview_link), my_studio_dashboard_path, selected == 'my_studio/dashboards' %>
                  <%= link_to_nav_pill t(:my_studio_overview_label_session), my_studio_sessions_path, (selected == 'my_studio/sessions' or selected=='my_studio/portraits') %>
                  <%= link_to_nav_pill t(:my_studio_info_label_samples), samples_my_studio_infos_path, (selected == 'my_studio/infos' and params[:action] == 'samples') %>
                  <% unless @my_studio.new_record? %>
                      <%= link_to_nav_pill t(:my_studio_minisite_label), my_studio_minisite_path(@my_studio), selected == 'my_studio/minisites' %>
                  <% end %>
                  <%= link_to_nav_pill t(:my_studio_info_label_faq), faq_my_studio_infos_path, (selected == 'my_studio/infos' and params[:action] == 'faq') %>
              <% end %>
          <% end %>
        </ul>
        </div>

    <% end %>
  </div>
</div>