<div id="header_wrapper" class='bp'>
  <div class="container logged-in" id="header">
    <div id='login'>
      <% if user_signed_in? %>
          <strong><%= current_user.try(:email) %></strong>
          <span>(<%= link_to translate(:not_you), destroy_user_session_path, method: :delete %>)</span>
          <script type="text/javascript">
              $(document).ready(function () {
                  olark('api.chat.updateVisitorNickname', {
                      snippet:'<%= current_user.name %>'
                  });
              });
          </script>
      <% else %>
          <strong><%= link_to translate(:sign_in), new_user_session_path %></strong> or
          <span><%= link_to translate(:sign_up), new_user_registration_path %></span>
      <% end %>
    </div>

    <% if user_signed_in? %>
        <h1 style='text-align:left;'> <%= @my_studio.try(:name) %> </h1>
    <% end %>

    <div id='main_nav'>
      <% if is_admin? %>
          <div class='menu_item'>
            <%= link_to 'ClickPLUS Admin', admin_overview_url %>
          </div>
          <div class='menu_item'>
            <%= link_to 'Emails', admin_customer_emails_path %>
          </div>
          <div class='menu_item'>
            <%= link_to 'Merchandise', admin_merchandise_pieces_path %>
          </div>
          <div class='menu_item'>
            <%= link_to 'Studios', studios_path %>
          </div>
          <div class='menu_item'>
            <%= link_to 'Users', users_path %>
          </div>
      <% else %>
          <div class='menu_item'>
            <%= link_to t(:my_studio_overview_link), my_studio_dashboard_path %>
          </div>
          <div class='menu_item'>
            <%= link_to t(:myaccount_overview_link), myaccount_overview_path %>
          </div>
      <% end %>

    </div>

  </div>
</div>