<style type="text/css">
    body {
        background-color: <%= studio.try(:minisite).try(:bgcolor) %>;
        font-family: <%= studio.try(:minisite).try(:font_family) %>;
        color: <%= studio.try(:minisite).try(:font_color) %>;
    }

    .likeabutton {
        background: ButtonFace;
        color: ButtonText;
        border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    }

    .likeabutton.selected,
    .likeabutton:hover {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
        background: #FFDA75;
    }

    .likeabutton:active {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
    }

    a {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
        border-bottom: 1px dotted;
    }

    a.link {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.visited {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.focus, a.hover {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.active {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.no_border {
        text-decoration: none;
        border-bottom: none;
    }

</style>

<% content_for :page_title, "#{studio.name} Photo Jewelry Offer" %>

<img id="logo" src="<%= studio.minisite.image %>" title="<%= studio.name %>">

<div class="bp">
  <%= raw "<p class='flash_notice'> #{notice}</p>" if notice %>
  <%= raw "<p class='flash_error'>#{alert}</p>" if alert %>
</div>

<%# do not show the navigation bar if Kimbra is entering the delivery tracking number  %>
<% unless controller_name == 'carts' && action_name == 'edit_delivery_tracking' %>
    <div id="nav_minisite_wrapper" class='bp'>
      <div class="centered_container">
        <ul id='main-header-tabs'>
          <li>
            <%= link_to_unless_current t(:minisite_menu_collection_link),
                                       minisite_email_offers_path(admin_customer_email.tracking) %>
          </li>
          |
          <li>
            <%= link_to_unless_current t(:minisite_menu_about_link, :studio_name => studio.name),
                                       about_minisite_email_path(admin_customer_email.tracking) %>
          </li>
          |
          <li>
            <%= link_for_shopping_cart_nav %>
          </li>
        </ul>
      </div>
    </div>
<% end %>