<style type="text/css">
    body {
        background-color: <%= studio.try(:minisite).try(:bgcolor) %>;
        font-family: <%= studio.try(:minisite).try(:font_family) %>, Arial, sans-serif;
        color: <%= studio.try(:minisite).try(:font_color) %>;
        padding: 60px;
        padding-top: <%=studio.try(:minisite).try(:body_padding)%>px;
    }

    .hero-unit, .navbar {
        background-color: <%= studio.try(:minisite).try(:bgcolor) %>;
        font-family: <%= studio.try(:minisite).try(:font_family) %>, Arial, sans-serif;
        color: <%= studio.try(:minisite).try(:font_color) %>;
    }

    .likeabutton {
        background: ButtonFace;
        color: ButtonText;
        border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    }

    .likeabutton.selected,
    .likeabutton:hover {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
        background: #FFDA75;
    }

    .likeabutton:active {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
    }

    a {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
        border-bottom: 1px dotted;
    }

    a.link {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.visited {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.focus, a.hover {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.active {
        color: <%= studio.try(:minisite).try(:font_color) %>;
        text-decoration: none;
    }

    a.no_border {
        text-decoration: none;
        border-bottom: none;
    }
    div.row div.media{
        padding: 10px;
        text-align: left;
    }
    .media-object{
        padding-right: 10px;
    }
    h4.media-heading{
        text-align: left;
    }
    .centered{
        text-align: center;
    }
    span.price {
        display: block;
    }
</style>


<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="row">
    <img id="logo" src="<%= studio.minisite.image %>" title="<%= studio.name %>">
  </div>

  <div class="navbar-inner">

    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <ul class="nav pull-right">
        <% if current_user_facebook %>

            <%= image_tag current_user_facebook.image_url, class: "rounded" %>
            Signed in as <strong><%= current_user_facebook.name %></strong>!
            <li>
              <%= link_to "Sign out Facebook", facebook_signout_path, id: "sign_out" %>
            </li>
        <% else %>
            <li>
              <%= link_to "Sign into Facebook...", '/auth/facebook', {:style => "color: #{@studio.minisite.font_color}; text-decoration: dotted;"} %>
            </li>
        <% end %>
      </ul>

<%# do not show the navigation bar if Kimbra is entering the delivery tracking number  %>
      <% unless controller_name == 'carts' && action_name == 'edit_delivery_tracking' %>
          <!-- Everything you want hidden at 940px or less, place within here -->

          <div class="nav-collapse collapse">

            <ul class='nav'>
              <li>
              <a class="brand" href="#"><%= studio.name%></a>
              </li>


              <li>
                <%= link_to_your_collection_or_not(admin_customer_email) %>
              </li>
              <li>
                <%= link_to_your_charms_or_not(admin_customer_email) %>
              </li>
              <li>
                <%= link_to_your_chains_or_not(admin_customer_email) %>
              </li>
              <li>
                <%= link_to_unless_current t('.menu_about', studio_name: studio.name),
                                           about_minisite_email_path(admin_customer_email.tracking) %>
              </li>
              <li>
                <% if is_admin? %>
                    <%= link_to t('.menu_sessions'), admin_overview_path %>
                <% elsif is_studio? %>
                    <%= link_to t('.menu_sessions'), my_studio_sessions_path %>
                <% else %>
                    <%= link_for_shopping_cart_nav %>
                <% end %>
              </li>

            </ul>
          </div>
      <% end %>
    </div>

  </div>
</div>

