<div class="navbar navbar-inverse navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <% text = user_signed_in? ? is_admin? ? t(:company_brand) : t('.menus.brand.name') : t(:company_brand) %>
      <%= link_to text, root_path, class: "brand", title: nav_bar_title %>

      <ul class='nav pull-right'>
        <!-- devise signup, logout, edit account -->
        <% if user_signed_in? %>
            <li><%= link_to "Edit account", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
            <%= javascript_tag do %>
                window.currentUserName = '<%= current_user.name %>'
                window.currentUserStudio = '<%= current_user.studio.try(:name) %>'
                $(document).ready(function() {
                    setOlarkUser();
                });
            <% end if user_signed_in? && Rails.env.production? %>
        <% else %>
            <li><%= link_to translate(:sign_in), new_user_session_path %></li>
            <!-- <li>> link_to translate(:sign_up), new_user_registration_path %></li>-->
            <li><%= link_to translate(:sign_up), signup_about_path %></li>
        <% end %>

      </ul>

      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">

        <ul class='nav'>

          <% if is_admin? %>
              <%= li_navbar :overview, admin_overview_url %>
              <%= li_navbar :offer_emails, admin_customer_emails_path %>
              <%= li_navbar :studios, studios_path %>
              <%= li_navbar :users, users_path %>
              <%= li_navbar_misc %>

          <% elsif is_studio? %>
              <%= li_navbar(:photo_sessions, my_studio_sessions_path) %>
              <%= li_navbar(:infos_samples, samples_my_studio_infos_path) %>
              <% unless @my_studio.new_record? %>
                  <%= li_navbar(:minisite, edit_studio_path(@my_studio)) %>
              <% end %>
              <%= li_navbar(:infos_faqs, faq_my_studio_infos_path) %>
              <%= li_navbar(:dashboard, my_studio_dashboard_path) %>

          <% end %>
          <%= li_navbar(:blog, blog_path) %>

        </ul>

        <!-- nav-collapse -->
      </div>


      <!-- container navbar-inner -->
    </div>

    <!-- navbar-inner -->
  </div>
  <!-- navbar-fixed-top -->
</div>

