<style type="text/css">
    body {
        background-color: <%= studio.try(:minisites).try(:bgcolor) %>;
        font-family: <%= studio.try(:minisites).try(:font_family) %>, Arial, sans-serif;
        color: <%= studio.try(:minisites).try(:font_color) %>;
    }

    .likeabutton {
        background: ButtonFace;
        color: ButtonText;
        border-color: ButtonHighlight ButtonShadow ButtonShadow ButtonHighlight;
    }

    .likeabutton.selected,
    .likeabutton:hover {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
        background: #FFDA75;
    }

    .likeabutton:active {
        border-color: ButtonShadow ButtonHighlight ButtonHighlight ButtonShadow;
    }

    a {
        color: <%= studio.try(:minisites).try(:font_color) %>;
        text-decoration: none;
        border-bottom: 1px dotted;
    }

    a.link {
        color: <%= studio.try(:minisites).try(:font_color) %>;
        text-decoration: none;
    }

    a.visited {
        color: <%= studio.try(:minisites).try(:font_color) %>;
        text-decoration: none;
    }

    a.focus, a.hover {
        color: <%= studio.try(:minisites).try(:font_color) %>;
        text-decoration: none;
    }

    a.active {
        color: <%= studio.try(:minisites).try(:font_color) %>;
        text-decoration: none;
    }

    a.no_border {
        text-decoration: none;
        border-bottom: none;
    }

</style>

<% content_for :page_title, "#{studio.name} Photo Jewelry Offer" %>
<img id="logo" src="<%= studio.minisite.image %>" title="<%= studio.name %>">

<% unless Rails.env.production? %>
    <div class="span12">
      <div class="span10" style="text-align: center;">
        <div id="user_facebook_nav" class="span2 close" style=padding-top:10px;>
          <% if current_user_facebook %>
              <%= image_tag current_user_facebook.image_url, class: "rounded" %>
              Signed in as <strong><%= current_user_facebook.name %></strong>!
              <%= link_to "Sign out Facebook", facebook_signout_path, id: "sign_out" %>
          <% else %>
              <%= link_to "Sign into Facebook...", '/auth/facebook', {:style => "color: #{@studio.minisite.font_color}; text-decoration: dotted;"} %>
          <% end %>
        </div>
      </div>
    </div>
<% end %>

<%# do not show the navigation bar if Kimbra is entering the delivery tracking number  %>
<% unless controller_name == 'carts' && action_name == 'edit_delivery_tracking' %>
    <div id="nav_minisite_wrapper" class='row bp'>
      <div class="centered_container">
        <ul id='main-header-tabs'>
          <li>
            <%= link_to_your_collection_or_not(admin_customer_email) %>
          </li>
          |
          <li>
            <%= link_to_your_charms_or_not(admin_customer_email) %>
          </li>
          |
          <li>
            <%= link_to_your_chains_or_not(admin_customer_email) %>
          </li>
          |
          <li>
            <%= link_to_unless_current t('.menu_about', studio_name: studio.name),
                                       about_minisite_email_path(admin_customer_email.tracking) %>
          </li>
          |
          <li>
            <% if is_admin? %>
                <%= link_to t('.menu_sessions'), admin_overview_path %>
            <% elsif is_studio? %>
                <%= link_to t('.menu_sessions'), my_studio_sessions_path %>
            <% else %>
                <%= link_for_shopping_cart_nav %>
            <% end %>
          </li>

        </ul>
      </div>
    </div>
<% end %>
