<% content_for :head do %>
    <%= stylesheet_link_tag 'orbit-1.2.3' %>
<% end %>

<div class='row'>

  <div class='span12'>

    <h3>you make beautiful pictures -- we make beautiful jewelry.</h3>

    <h3>let's get together and make delighted clients.</h3>

  </div>
</div>

<div class='row'>
  <div class='span7 overflow-hidden'>
    <div id='slides'>
      <%= image_tag 'new1.png' %>
      <%= image_tag 'new2.png' %>
      <%= image_tag 'new3.png' %>
    </div>

  </div>

  <div class='span5'>
    <p class="">
      Kimbra ClickPLUS helps photography studios offer their clients gorgeous photo jewelry in a super easy way.
    </p>

    <p class=''>
      You upload choice portraits from a client's photo session,
      and we create a direct email offer for them with your branding.
    </p>

    <p class=''>
      It's gorgeous and compelling. Clients want to forward these emails to all their friends
      (and post to FB and Twitter) - and share their excitement about the work your studio has done.
    </p>

    <p class=''>
      <%= link_to t('.submit'), new_user_session_path, class: 'btn btn-primary' %>
    </p>
  </div>

</div>

