<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @piece.string %>
</p>

<p>
  <b>String:</b>
  <%= @piece.string %>
</p>

<p>
  <b>String:</b>
  <%= @piece.string %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
