<div class='sub-form' title='Client Info'>

    <%= f.fields_for :client, client do |g| %>

        <div class="field">
          <%= g.label :name, 'First and Last Name' %><br/>
          <%= g.text_field :name, placeholder: 'Sue Ellen Ewing' %> Enter the name as you'd like it to appear in emails.
        </div>

        <div class="field">
          <%= g.label :email %><br/>
          <%= g.email_field :email %>
        </div>

        <% unless action_name == 'new' %>
            <div class="field">
              <%= g.label :active, 'Client active?' %>
              <%= g.check_box :active %> Uncheck this to remove all sessions for this client from active email
              marketing.
            </div>
        <% end %>

    <% end %>

</div>