<div class='sub-form' title='Client Info'>

    <%= f.fields_for :client, client do |g| %>

        <div class="field">
          <%= g.label :name, 'Client first and last name' %><br/>
          <%= g.text_field :name %> Enter the name as you'd like it to appear in emails. Eg, Mary Smith
        </div>

        <div class="field">
          <%= g.label :email %><br/>
          <%= g.email_field :email %>
        </div>

        <% unless %w(new create).include? action_name %>
            <div class="field">
              <%= g.label :active, 'Client active?' %>
              <%= g.check_box :active %> Uncheck this to remove all sessions for this client from active email
              marketing.
            </div>
        <% end %>

    <% end %>

</div>