<div class='sub-form' title='Client Info'>

  <%= f.fields_for :client, client do |g| %>

      <div class="control-group">
        <%= g.label :name, 'Client first and last name', class: "control-label" %>
        <div class="controls">
          <%= g.text_field :name %>
        </div>
        <span class="help-block">Enter the name as you'd like it to appear in emails. Eg, Mary Smith</span>
      </div>

      <div class="control-group">
        <%= g.label :email, class: "control-label" %>
        <div class="controls">
          <%= g.email_field :email %>
        </div>
      </div>

      <% unless %w(new create).include? action_name %>
          <div class="control-group">
            <%= g.label :active, 'Client active?' %>
            <div class="controls">
              <%= g.check_box :active %>
            </div>
            <span class="help-block"> Uncheck this to remove all sessions for this client from active email marketing.</span>
          </div>
      <% end %>

  <% end %>

</div>