<h3><%=t(:my_studio_clients_show_title)%></h3>
<p>
  <b>Name:</b>
  <%= client.name %>
  <b>Email:</b>
  <%= client.email %>
  <b>Phone number:</b>
  <%= client.phone_number %>
</p>

<p>
  <b>Client Active:</b>
  <%= client.active %>
</p>

