<h3><%=t(:my_studio_clients_show_title)%></h3>
<p>
  <span>Name:</span>
  <%= client.name %>
  <span>Email:</span>
  <%= client.email %>
  <span>Phone number:</span>
  <%= client.phone_number %>
</p>

<p>
  <span>Current Status:</span>
  <%= current_status(client.active) %>
</p>