<h2>Listing my_studio_clients</h2>

<%= link_to 'New Client', new_my_studio_client_path %>
<br/>
<%= link_to t(:my_studio_overview_link), my_studio_overview_path %>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Phone number</th>
    <th>Active</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @my_studio_clients.each do |my_studio_client| %>
      <tr>
        <td><%= my_studio_client.name %></td>
        <td><%= email_display(my_studio_client.email) %></td>
        <td><%= my_studio_client.phone_number %></td>
        <td><%= my_studio_client.active %></td>
        <td><%= my_studio_client.address %></td>
        <td><%= link_to t(:show), my_studio_client %></td>
        <td><%= link_to t(:edit), edit_my_studio_client_path(my_studio_client) %></td>
        <td><%= link_to t(:destroy), my_studio_client, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

