<div class="hero-unit">

<p id="notice"><%= notice %></p>

<p>
  <span>Name:</span>
  <%= @my_studio_client.name %>
</p>

<p>
  <span>Email:</span>
  <%= @my_studio_client.email %>
</p>

<p>
  <span>Phone number:</span>
  <%= @my_studio_client.phone_number %>
</p>

<p>
  <span>Active:</span>
  <%= @my_studio_client.active %>
</p>

<p>
  <b>Address:</b>
  <%= @my_studio_client.address %>
</p>


<%= link_to t(:edit), edit_my_studio_client_path(@my_studio_client), class: 'btn btn-success' %> |
<%= link_to t(:back), my_studio_clients_path, class: 'btn btn-primary' %>

</div>

