<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @my_studio_client.name %>
</p>

<p>
  <b>Email:</b>
  <%= @my_studio_client.email %>
</p>

<p>
  <b>Phone number:</b>
  <%= @my_studio_client.phone_number %>
</p>

<p>
  <b>Active:</b>
  <%= @my_studio_client.active %>
</p>

<p>
  <b>Address:</b>
  <%= @my_studio_client.address %>
</p>


<%= link_to t(:edit), edit_my_studio_client_path(@my_studio_client), class: "btn btn-success" %> |
<%= link_to t(:back), my_studio_clients_path, class: "btn btn-primary" %>
