<h1 style='text-align:left;'> My Studio </h1>
<p>
  <b>Name:</b>
  <%= current_user.studio.name %>
  <b>Phone number:</b>
  <%= current_user.studio.phone_number %>
</p>


<div class='span-18 column' style='width:708px;'>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Shoots </h3>
    <%= link_to 'View My Shoots', studio_shoots_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Addresses </h3>
    <%= link_to 'View My Addresses', studio_addresses_path %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Info </h3>
    <%= link_to 'View My Info', studio_user_path(current_user) %>
  </div>
  <div class='ar-widget'>
    <h3 style='text-align:left;'> My Profile </h3>
    <%= link_to 'View My Profile', studio_path(current_user.studio) %>
  </div>
</div>
<div class='span-6 last ar-widget'>
  <!--<%= image_tag 'home.png' %>-->
</div>

<%= link_to 'Back', studio_overview_path %>
