<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @order.number %>
</p>

<p>
  <b>Ip address:</b>
  <%= @order.ip_address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>User:</b>
  <%= @order.user %>
</p>

<p>
  <b>Bill address:</b>
  <%= @order.bill_address %>
</p>

<p>
  <b>Ship address:</b>
  <%= @order.ship_address %>
</p>

<p>
  <b>Coupon:</b>
  <%= @order.coupon %>
</p>

<p>
  <b>Active:</b>
  <%= @order.active %>
</p>

<p>
  <b>Shipped:</b>
  <%= @order.shipped %>
</p>

<p>
  <b>Shipment counter:</b>
  <%= @order.shipment_counter %>
</p>

<p>
  <b>Calculated at:</b>
  <%= @order.calculated_at %>
</p>

<p>
  <b>Completed at:</b>
  <%= @order.completed_at %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
