<div class='sub-form' title='Portrait Info'>
  <div>

    <%= f.fields_for :portrait, portrait do |g| %>

        <div class="field">
          <%= g.label :id %>
          <%= g.text_field :id %>
        </div>
        <div class="field">
          <%= g.label :active, 'Portrait active?' %>
          <%= g.check_box :active %>
        </div>
    <% end %>
  </div>
</div>
