<h2><%= t(:my_studio_portraits_index_title, name: @my_studio_session.name) %></h2>

<%= button_to t(:my_studio_portraits_new_link), new_my_studio_session_portrait_path(@my_studio_session), remote: true, method: :get %>
<br/>
<div id='new_portrait'>&nbsp;</div>

<table>
  <thead>
  <tr>
    <th>Description</th>
    <th>Active?</th>
    <th>Width</th>
    <th>Height</th>
    <th>Faces</th>
    <th>Thumb</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @my_studio_portraits.each do |my_studio_portrait| %>
      <tr>
        <td><%= my_studio_portrait.description %></td>
        <td><%= my_studio_portrait.active %></td>
        <td><%= my_studio_portrait.width %></td>
        <td><%= my_studio_portrait.height %></td>
        <td><%= link_to my_studio_portrait.faces.size, my_studio_session_portrait_faces_path(@my_studio_session, my_studio_portrait) %></td>
        <td><%= link_to image_tag_list(my_studio_portrait), my_studio_session_portrait_path(@my_studio_session, my_studio_portrait) %></td>
        <!--
        <td><%= link_to t(:show), my_studio_session_portrait_path(@my_studio_session, my_studio_portrait) %></td>
        <td><%= link_to t(:edit), edit_my_studio_session_portrait_path(@my_studio_session, my_studio_portrait) %></td>
        -->
        <td><%= link_to t(:destroy), my_studio_session_portrait_path(@my_studio_session, my_studio_portrait), confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

