<div class="show">
  <p>
    <b>Session:</b>
    <%= @my_studio_portrait.try(:my_studio_session).try(:name) %>
  </p>

  <p>
    <b>Description:</b>
    <%= @my_studio_portrait.description %>
  </p>

  <p>
    <b>Active:</b>
    <%= @my_studio_portrait.active %>
  </p>

  <%= link_to t(:edit), edit_my_studio_session_portrait_path(@my_studio_session, @my_studio_portrait) %> |
  <%= link_to t(:back), my_studio_session_portraits_path(@my_studio_session) %>

</div>
<%= render 'my_studio/portraits/side_menu', :portrait => @my_studio_portrait %>