<div class="platypus-form span8">

  <% url = @shipping.new_record? ? shopping_cart_shippings_path(@cart) : shopping_cart_shipping_path(@cart, @shipping) %>

  <%= form_for(@shipping, url: url) do |f| %>

      <%= render 'shared/error_messages',
                 record: @shipping,
                 h2_msg: 'stopped this shipping selection from being saved:' %>

      <div class="control-group">
        <div class="controls">
          <% @shipping_options.each do |so| %>
              <% desc = so.last.downcase %>
              <% name = so.first %>
              <label class="radio" for="<%= "shopping_shipping_shipping_option_#{desc}" %>">
                <%= f.radio_button :shipping_option_name, so.last %>
                <%= " #{name}" %>
              </label>
          <% end %>
        </div>
      </div>

      <p>
        Each piece is made by hand in Littleton, Colorado. Please allow us 10 - 15 business days to complete the
        work on your order. We'll email you as soon as your order ships with tracking details.
        <br/>You can check the status of your order at any time from a link on your emailed receipt, or contact
        us
        directly.
      </p>

      <div class="control-group">
        <%= f.hidden_field :cart_id, :value => @cart.id %>
      </div>

      <div class="form-actions">
        <%= f.submit_spinner t(:shopping_submit_shipping), id: 'my_submit', class: 'btn btn-success' %>
        <%= link_to_spinner 'Back', edit_shopping_cart_address_path(@cart, @cart.address), id: 'back', class: 'btn' %>
      </div>

  <% end %>
</div>