<div class="platypus-form span8">

  <%= form_for(@shipping) do |f| %>

      <%= render 'shared/error_messages',
                 record: @shipping,
                 h2_msg: 'stopped this shipping selection from being saved:' %>

      <div class="control-group">
        <% @shipping_options.each do |so| %>
            <%= label_tag "shopping_shipping_shipping_option_#{so.last.downcase}", '', class: 'radio' %>
            <div class="controls">
              <%= f.radio_button :shipping_option, so.last %>
              <%= " #{so.first}" %>
            </div>
        <% end %>
      </div>

      <p>
        Each piece is made by hand in Littleton, Colorado. Please allow us 10 - 15 business days to complete the
        work on your order. We'll email you as soon as your order ships with tracking details.
        <br/>You can check the status of your order at any time from a link on your emailed receipt, or contact
        us
        directly.
      </p>

      <div class="control-group">
        <%= f.hidden_field :cart_id, :value => @cart.id %>
      </div>

      <div class="form-actions">
        <%= f.submit t(:shopping_submit_shipping), :id => 'my_submit' %>
        <%= spinner %>
        <%= link_to 'Back', edit_shopping_address_path(@cart.address.id), class: 'btn' %>
      </div>

  <% end %>
</div>