<%= form_for(@shipping) do |f| %>

    <%= render 'shared/error_messages',
               record: @shipping,
               h2_msg: 'stopped this shipping selection from being saved:' %>

    <div class="field">
      <table align='center'>
        <% @shipping_options.each do |so| %>
            <tr>
              <td class='left'>
                <%= f.radio_button :shipping_option, so.last %>
                <%= label_tag "shopping_shipping_shipping_option_#{so.last.downcase}", so.first %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>

    <div class="field">
      <table align='center'>
        <tr>
          <td>
            <p>
              Each piece is made by hand in Littleton, Colorado. Please allow us 10 - 15 business days to complete the
              work on your order.
              <br/>You can check the status of your order at any time from a link on your emailed receipt, or contact us
              directly.
            </p>
          </td>
        </tr>
      </table>
    </div>

    <div class="field">
      <%= f.hidden_field :cart_id, :value => @cart.id %>
    </div>

    <div class="actions">
      <%= f.submit t(:shopping_submit_shipping), :id => 'my_submit' %>
      <span id="spinner" style="display:none"></span>
    </div>

<% end %>