<div class='row'>
  <h2><%= t('shopping.addresses.title') %></h2>
  <div class="row span6">
    <%= render 'shopping/addresses/show', address: @cart.address %>
  </div>
</div>

<div class='row'>
  <h2><%= t('shopping.shippings.title') %></h2>
  <%= render 'form' %>
</div>

<div class='row'>
  <h2><%= t('shopping.purchases.title') %></h2>
</div>

<div class='row'>
  <h2><%= t('shopping.finished.title') %></h2>
</div>