<%= form_for(@address_type) do |f| %>

    <% if @address_type and @address_type.errors.present? %>
       <%= render 'shared/error_messages', record: @address_type %>
   <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
