<div class='wrapper signup'>
  <div class='body-wrapper'>

    <div class='signup-box shadow openid'>
      <div class='box-header private-labeled'></div>
      <div class='box-body'>

        <div class='signup-headline'>
          <h2 class='custom-header'> <%= translate(:sessions_new_title) %></h1>
          <%= t(:welcome) %>
        </div>
        <div class='latest-features login-area'>

        </div>
        <div id='login' class='signup-form login-area'>

          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

              <div class='logins-wrapper'>

                <div class='standard-login'>
                  <fieldset>
                    <%= f.label :email, 'Email Address' %>
                    <br/>
                    <%= f.email_field :email, :size => 30 %>
                  </fieldset>

                  <fieldset>
                    <%= f.label :password, 'Password' %>
                    <br/>
                    <%= f.password_field :password %>
                  </fieldset>

                </div>
              </div>

              <fieldset class='agreement'>
                <div class='form-buttons spinner-replacement no-float'>
                  <%= f.submit translate(:sessions_new_submit) %>
                </div>

                <div class='remember'>
                  <% if devise_mapping.rememberable? -%>
                      <%= f.check_box :remember_me %> <%= f.label :remember_me, 'Remember me for 2 weeks' %>
                  <% end -%>
                  <br>
                  <%= render :partial => "devise/shared/links" %>
                </div>
              </fieldset>

              <div class='openid-separator'></div>
          <% end %>

        </div>

      </div>
    </div>

  </div>
</div>