<div class='wrapper signup'>
  <div class='body-wrapper'>

    <div class='signup-box shadow openid'>
      <div class='box-header private-labeled'></div>
      <div class='box-body'>

        <div class='signup-headline'>
          <h2><%= translate(:sessions_new_title) %></h2>

          <p class="lead"><%= t('.welcome') %></p>
        </div>

        <div class='latest-features login-area'>
          <p class="lead">
            <%= t(:sign_in_lead) %>
        </div>
        <div id='login' class=''>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>

              <div class='logins-wrapper'>

                <div class='standard-login'>
                  <fieldset>
                    <%= f.label :email, 'Email Address' %>
                    <%= f.email_field :email, :size => 30 %>
                  </fieldset>
                  <br>
                  <fieldset>
                    <%= f.label :password, 'Password' %>
                    <%= f.password_field :password %>
                  </fieldset>

                </div>
              </div>

              <fieldset class='agreement'>
                <div class='form-buttons spinner-replacement no-float'>
                  <%= f.submit translate(:sessions_new_submit) %>
                </div>

                <% if devise_mapping.rememberable? -%>
                    <div class="control-group">
                      <label class="checkbox inline">
                        <%= f.check_box :remember_me %><%= t(:sign_in_remember_me) %>
                      </label>
                    </div>
                <% end -%>
                <%= render partial: "devise/shared/links" %>
              </fieldset>

              <div class='openid-separator'></div>
          <% end %>

        </div>

      </div>
    </div>
  </div>
</div>