<% if Rails.env.development? %>
<h3>devise/sessions/new.html</h3>
<% end %>
<h2> <%= translate(:sessions_new_title) %></h2>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit translate(:sessions_new_submit) %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>