<%= render :partial => '/shared/showroom_header', :locals => {:studio => @studio} %>

<p><%= @client.name %>,</p>
<p>
  <%= @email.message %>
</p>
<p>
  Brought to you by:<br>
  <%= @studio.name %>
</p>
<p>
  Visit us again <%= root_url %>
</p>

<table border='0'>
  <% @email.offers.each do |offer| %>
      <tr>
        <td>
          Offers at <%= offer_minisite_showroom_url(offer) %>
        </td>
        <td>
          <%= render 'admin/customer/offers/show', :offer => offer%>
        </td>
      </tr>
  <% end %>
</table>