<%= render :partial => '/shared/minisite_header', :locals => {:studio => @studio} %>

<p>
  <%= link_to "Email not displaying nicely? Click here to view as web page.", minisite_email_url(@email) %>
</p>

<p><%= @client.name %>,</p>
<p>
  <%= @email.message %>
</p>
<p>
  Brought to you by:<br>
  <%= @studio.name %>
</p>
<p>
  Visit us again <%= root_url %>
</p>

<table border='0'>
  <% @email.offers.each do |offer| %>
      <tr>
        <td>
          Offers at <%= minisite_offer_url(offer) %>
        </td>
        <td>
          <%= render 'admin/customer/offers/show', :offer => offer%>
        </td>
      </tr>
  <% end %>
</table>

<p>
  <%= link_to "Email not displaying nicely? Click here to view as web page.", minisite_email_url(@email) %>
</p>

<table background="https://www.google.com/intl/en_com/images/srpr/logo3w.png" width="275" height="95" border="1">
  <tr>
    <td>
      Email Content...
    </td>
  </tr>
</table>