<!DOCTYPE HTML>
<html>
<head><title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      @media only screen and (max-device-width: 480px) { }
      @import url(http://fonts.googleapis.com/css?family=Bad+Script);
  </style>
</head>
<body>

<!-- pale gray background -->
<table cellspacing='0' cellpadding='0' border='0' style="color: #333; background: #fff; padding: 0; margin: 0; width: 100%; height: 100%">
<tbody>
<tr width='100%'>
<td valign='top' align="left" style="background: #EEF0F1; font: 15px/19px 'Helvetica Neue', Arial, Helvetica;">
<!-- main panel of email - 460px width -->
  <table style="border: none; padding: 10px; margin: 10px auto; width: 460px;" cellspacing='0' cellpadding='0' border='0'>
    <tbody>
    <!-- top rounded corners -->
    <tr width='100%'>
      <td style='border-top-left-radius: 6px; border-top-right-radius: 6px; text-align: center;' bgcolor='<%= @studio.minisite.bgcolor %>' colspan='3' height='5px'>
      </td>
    </tr>
    <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
      <td colspan='3' valign='top' align='left' style='text-align: center;'>
        <%= image_tag @studio.minisite.image_url,
                      alt: "#{@studio.name} logo",
                      title: "#{@studio.name} logo",
                      width: studio_logo_max_460_width(@studio),
                      height: studio_logo_max_460_height(@studio),
                      id: 'studio_logo',
                      style: 'display:inline;',
                      border: 0,
                      align: 'top',
                      vertical_align: 'top' %>
        <br>

        <p style="font: 18px/20px 'Bad Script','Helvetica Neue', Arial, Helvetica; color: <%= @studio.minisite.font_color %>; ">
          <%= two_line_intro(@email) %>
        </p>
      </td>
    </tr>

    <tr bgcolor='<%= @studio.minisite.bgcolor %>'>
      <td colspan='3' height='10' valign='top' bgcolor='<%= @studio.minisite.bgcolor %>'>
        &nbsp;
      </td>
    </tr>

    <% @offers[0,2].each do |offer| %>
        <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
          <td valign='top' align='right' width='220' style='width: 220px;'>
            <%= link_to image_tag(offer.image.url_cache_buster,
                                  title: offer.name,
                                  alt: offer.name,
                                  width: offer.width,
                                  class: "img-rounded",
                                  border: 0,
                                  style: 'text-decoration: none; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;'),
                        minisite_email_offers_url(@email) %>
          </td>
          <td valign='top' align='center' width='20' style='width: 20px;' bgcolor='<%= @studio.minisite.bgcolor %>'>

          </td>
          <td valign='top' align='left' width='220' style='width: 220px;'>
            <p style="font: 15px/19px ' Helvetica Neue', Arial, Helvetica;
                    color: <%= @studio.minisite.font_color %>; margin-top: 10px;">
              <% if offer.frozen_offer? %>
                  <b><%= t('in_shopping_cart') %></b><br>
              <% end %>
              <b><%= offer.name %></b><br/>
              <%= offer.piece.short_description %><br/>
              <span class="price"><%= number_to_currency(offer.price) %></span><br/>
              <%= link_to "View", minisite_email_offers_url(@email), {:style => "color: #{@studio.minisite.font_color}; text-decoration-style: dotted;"} %>
              <br>
            </p>
          </td>

        </tr>
        <tr>
          <td colspan='3' height='10' bgcolor='<%= @studio.minisite.bgcolor %>'>
            &nbsp;
          </td>
        </tr>
    <% end %>

    <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
      <td valign='top' align='right' width='220' style='width: 220px;'>
        <a href="<%= minisite_email_offers_url(@email) %>"
           style="border-radius: 3px;
                   -moz-border-radius: 3px;
                   -webkit-border-radius: 3px;
                   background: #3AA54C;
                   color: #fff;
                   cursor:pointer;
                   display: block;
                   font-weight: 500;
                   font-size: 16px;
                   line-height: 20px;
                   padding: 10px 18px;
                   text-decoration: underline;
                   width: 164px;
                   text-align: center;">
          View your collection
        </a>
      </td>
      <td valign='top' align='center' width='20' style='width: 20px;'>
        &nbsp;
      </td>
      <td valign='top' align='right' width='220' style='width: 220px;'>
        &nbsp;
      </td>
    </tr>

    <tr bgcolor='<%= @studio.minisite.bgcolor %>'>
      <td colspan='3' height='40px' align='center'>
        <p style="font: 18px/20px 'Bad Script', 'Helvetica Neue', Arial, Helvetica;
                color: <%= @studio.minisite.font_color %>;
                margin-top: 10px;">
          Or create your own from more than 50 jewelry pieces.
        </p>
      </td>
    </tr>

    <tr bgcolor='<%= @studio.minisite.bgcolor %>'>
      <td colspan='3'>

        <table bgcolor="<%= @studio.minisite.bgcolor %>" style="border: none; padding: 0px; width: 100%; background-color: <%= @studio.minisite.bgcolor %>;" cellspacing='0' cellpadding='0' border='0'>
          <tbody>
          <tr width='100%' bgcolor="<%= @studio.minisite.bgcolor %>">
            <td width='30px' style='width:30px;'>&nbsp;</td>
            <td width='80px' style='width:80px'>
              <%= image_tag @offers[2].piece.parts.first.item.front.portrait.image.thumb,
                            title: @offers[2].name,
                            alt: @offers[2].name,
                            class: "img-rounded",
                            border: 0, style: 'width: 80px;' %>
            </td>
            <td width='80px' style='width:80px'>
              <%= image_tag (@studio.background_dark? ? 'plus_dark.gif' : 'plus_light.gif'), style: 'width: 80px' %>
            </td>
            <td width='80px' style='width:80px'>
              <%= image_tag @offers[2].piece.image.thumb,
                            title: @offers[2].name,
                            alt: @offers[2].name,
                            class: "img-rounded",
                            border: 0, style: 'width: 80px; height: 80px;' %>
            </td>
            <td width='80px' style='width:80px'>
              <%= image_tag (@studio.background_dark? ? 'equals_dark.gif' : 'equals_light.gif'), style: 'width: 80px' %>
            </td>
            <td width='80px' style='width:80px'>
              <%= image_tag @offers[2].image.url_cache_buster,
                            title: @offers[2].name,
                            alt: @offers[2].name,
                            class: "img-rounded",
                            border: 0, style: 'width: 80px; height: 80px;' %>
            </td>
            <td width='30' style='width:30px;'>&nbsp;</td>
          </tr>
          <tr>
            <td colspan='7' height='10px'>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td colspan='4'></td>
            <td colspan='2' align='right'>
              <a href="<%= minisite_email_offers_url(@email) %>"
                 style="border-radius: 3px;
                         -moz-border-radius: 3px;
                         -webkit-border-radius: 3px;
                         background: #3AA54C;
                         color: #fff;
                         cursor:pointer;
                         display: block;
                         font-weight: 500;
                         font-size: 16px;
                         line-height: 20px;
                         text-decoration: underline;
                         padding: 10px 18px;
                         width: 100px;
                         text-align: center;">
                Build now
              </a>
            </td>
            <td></td>
          </tr>
          <tr>
            <td colspan='7' height='10px'>
              &nbsp;
            </td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>

    <tr width='100%'>
      <td style='border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; text-align: center;' bgcolor='<%= @studio.minisite.bgcolor %>' colspan='3'>
        &nbsp;
      </td>
    </tr>

    <tr>
      <td valign='top' width='220px'>
        <p align='left' style="color: #333; font-size: 0.8em; margin-top: 10px;">
          We sent you this email this because you are a customer of <%= @studio.name -%>.
          If you would like to schedule a photo session with us,
          <% msg = 'My name is ... I am interested in a new photo session. Would you please contact me to discuss arrangements.' %>
          <u>
            <%= mail_to @studio.info.email,
                        'please send us a note!',
                        subject: 'Interested in new photo session!',
                        body: msg,
                        style: "color: #333; text-decoration-style: none;" %>
          </u>
        </p>
        <p align='left' style="color: #333; font-size: 0.8em;">
          <unsubscribe>
            <%= link_to 'Unsubscribe instantly',
                        unsubscribe_minisite_email_url(@email.tracking),
                        style: "color: #333" %>
          </unsubscribe>
          <%= image_tag tracking_image_url(@email), alt: '', title: '' %>
        </p>
      </td>
      <td width='20px'></td>
      <td valign='top' width='220px'>
        <p align='right' style="color: #333; font-size: 0.8em; margin-top: 10px;">
          <%= @studio.name %><br>
          <%= @studio.address_1 %><br>
          <%= @studio.city %>, <%= @studio.state.abbreviation %><br>
          <%= number_to_phone @studio.phone_number, area_code: true %>
        </p>
      </td>
    </tr>

    </tbody>
  </table>
</td>
</tr>
</tbody>
</table>

</body>
</html>