<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head><title></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style type="text/css">
      .left {
          text-align: left;
      }

      .right {
          text-align: right;
      }

      table {
          border: 1px solid black;
          border-collapse: collapse;
      }

      td, th {
          padding: 10px;
      }

  </style>

<p>Hi <%= @cart.address.name %>,</p>

<p>Your order number <%= @cart.tracking %> has been completed and shipped. You can check the status
  of <%= link_to 'your order at any time', order_status_minisite_email_url(id: @cart.email.id, cart: @cart,  show_status_only: true ) %>.</p>

<div>
  Shipping to:
  <%= render 'shopping/addresses/show', address: @cart.address %>
</div>

<table width="500" cellspacing="0" cellpadding="4" border="0" align="center">
  <tbody>
  <tr>
    <td align=center>
      <div style="text-align:center;width:100%">
        <p>
          Would you like to schedule another photography session?
          Or would you like a different piece of custom photo jewelry prepared?
          We look forward to chatting with you about it.
        </p>

        <p>
          <%= @studio.name %><br/>
          <%= @studio.owner.name %> (<%= mail_to @studio.owner.email, nil, {:encode => :javascript} %>)<br/>
          <%= number_to_phone @studio.phone_number, area_code: true %><br/>
          <%= @studio.address_1 %><br/>
          <%= "#{@studio.address_2}<br/>".html_safe if @studio.address_2 %>
          <%= @studio.city %>, <%= @studio.state.abbreviation %> <%= @studio.zip_code %>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td align=center>
      <div style="text-align:center;width:100%">
        <p>
          If you have any questions about your order or any technical questions about the pieces in our offer,
          please go straight to the people who are hand-making the pieces!
        </p>

        <p>
          Kimbra's ClickPLUS program for professional photography studios.<br/>
          Call us direct 9am - 7pm Eastern<br/>
          (303) 586-1371 or Skype us at KimbraClickPLUS<br/>
          <%= mail_to 'Support@KimbraClickPLUS.com' %><br/>
          <%= link_to 'Kimbra Studios', 'http://KimbraStudios.com' %>
        </p>

        <p>
          <%= link_to image_tag("http://badge.facebook.com/badge/333860214613.6156.966267155.png", width: '120', height: 195, style: 'border:0px;'),
                      'http://www.facebook.com/pages/Littleton-CO/Kimbra-Studios-Custom-Photo-Jewelry/333860214613', title: 'Kimbra Studios : Custom Photo Jewelry', target: '_top' %>
        </p>
      </div>
    </td>
  </tr>
  </tbody>
</table>


</body>
</html>