<%= form_for(@my_studio_session, validate: true) do |f| %>

    <%= render 'shared/error_messages', record: @my_studio_session %>

    <%= render "my_studio/clients/form", :f => f, :client => @my_studio_session.client %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name, placeholder: 'Son Tom\'s graduation' %> Short descriptive text when you have multiple
      sessions with one client.
    </div>

    <div class="field ui-widget">
      <%= f.label :session_at, 'Session Date:' %>
      <br/>
      <%= f.text_field :session_at, class: :datepicker %>
    </div>

    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active %> Uncheck this to remove all pictures for this Session from active email marketing.
    </div>

    <div class="field">
      <%= f.label :category_id %>
      <%= f.select :category_id, @categories %> This helps us find candidate pictures for special event marketing, such
      as Mothers Day, Christmas, etc.
    </div>

    <div class="actions">
      <%= f.submit :id => 'my_submit' %>
      <span id="spinner" style="display:none"></span>
    </div>
<% end %>