<div class="panel_contents">
  <table id='dashboard_sessions'>
    <thead>
    <tr>
      <% if current_user.admin? %>
          <th><span class='explainer' title='Need at least 2 portraits to generate an email.'>Actions</span></th>
          <th>New Portrait?</th>
      <% end %>
      <th>Photo Session</th>
      <th>Client</th>
      <th>Offer Emails</th>
      <th>Portraits</th>
      <th>Session Date</th>
    </tr>
    </thead>
    <tbody>
    <% sessions.each do |session| %>
        <tr>
          <% if current_user.admin? %>
              <td><span id="generate_email_<%= session.id %>"><%= actions_for_session(session) %></span></td>
              <td><%= session.portraits.last_day.count > 0 ? '&#x2713;'.html_safe : '&#x2718;'.html_safe %></td>
          <% end %>
          <td><%= link_to session.display_name(current_user.admin?), edit_my_studio_session_path(session), title: t(:my_studio_sessions_edit_link) %></td>
          <td><%= session.try(:client).try(:name) %></td>
          <td><%= (session.emails.count > 0) ? link_to(session.emails.count.to_words, session_list_admin_customer_email_path(session), title: 'View All Offer Emails') : 'none yet' %></td>
          <td><%= upload_link(session) %></td>
          <td><%= session.session_at.to_s(:short) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to('all sessions...', my_studio_sessions_path) if MyStudio::Session.count > sessions.length %>
</div>