<div class="panel_contents">
  <table id='dashboard_sessions'>
    <thead>
    <tr>
      <% if is_admin? %>
          <th><span class='explainer' title='Need at least 2 portraits to generate an email.'>Actions</span></th>
          <th>New Portrait?</th>
          <th>Studio</th>
      <% end %>
      <th>Photo Session</th>
      <th>Client</th>
      <th>Email</th>
      <th>Session Date</th>
      <th>Portraits</th>
      <th>Complete?</th>
      <th>Offer Emails</th>
    </tr>
    </thead>
    <tbody>
    <% sessions.each do |session| %>
        <tr>
          <% if is_admin? %>
              <td><span id="generate_email_<%= session.id %>"><%= actions_for_session(session) %></span></td>
              <td><%= session.portraits.last_day.count > 0 ? '&#x2713;'.html_safe : '&#x2718;'.html_safe %></td>
              <td><%= link_to session.try(:studio).try(:name), studio_path(session.studio), title: t(:studios_show_link) %></td>
          <% end %>
          <td><%= link_to session.try(:name), edit_my_studio_session_path(session), title: t(:my_studio_sessions_edit_link) %></td>
          <td><%= session.try(:client).try(:name) %></td>
          <td><%= session.try(:client).try(:email) %></td>
          <td><%= date_short session.session_at %></td>
          <td><%= upload_link(session) %></td>
          <td><%= session.finished_uploading_at? ? '&#x2713;'.html_safe : button_to(t(:my_studio_portraits_new_link), new_my_studio_session_portrait_path(session), remote: true, method: :get) %></td>
          <td><%= session.emails.last ? link_to('View', show_collection_my_studio_minisite_path(session.emails.last.tracking)) : 'not sent yet' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>