<div class="panel-container">
  <table class="table table-striped table-bordered" id='sessions_table'>
    <thead>
    <tr>
      <% created_column_index =  4 %>
      <% if is_admin? %>
          <% created_column_index =  8 %>
          <th><span class='explainer' title='Need at least 2 portraits to generate an email.'>Actions</span></th>
          <th>New Portrait?</th>
          <th>Complete?</th>
      <% end %>
      <th>Step 1.<br/>Photo Session</th>
      <th>Step 2.<br/>Portraits <i class="icon-camera"> </i></th>
      <th>Offer Email <i class="icon-envelope"> </i></th>
      <% if is_admin? %>
          <th>Studio</th>
      <% end %>
      <th>Session Date</th>
      <th>Created</th>
    </tr>
    </thead>
    <tbody>

    <% sessions.each do |session| %>
        <tr>
          <% if is_admin? %>
              <td><span id="generate_email_<%= session.id %>"><%= actions_for_session(session) %></span></td>
              <td title="portraits have been uploaded in last 2 days"><%= session.portraits.last_day.count > 0 ? '&#x2713;'.html_safe : '&#x2718;'.html_safe %></td>
              <td class="first span2"><%= complete?(session) %></td>
          <% end %>
          <td><%= link_to session.try(:title), edit_my_studio_session_path(session), title: t(:my_studio_sessions_edit_link) %></td>
          <td><%= upload_link(session) %></td>
          <td>
            <% if session.emails.last %>
                <%= link_to(t('.offer_email.name'), minisite_email_offers_path(session.emails.last.tracking), title: t('.offer_email.title')) %>
            <% elsif session.finished_uploading_at %>
                <%= t('.offer_email.queue', length: time_ago_in_words(session.finished_uploading_at)) %>
            <% else %>
                <%= t('.offer_email.waiting') %>
            <% end %>
          </td>
          <% if is_admin? %>
              <td><%= link_to session.try(:studio).try(:name), studio_path(session.studio), title: t(:studios_show_link) %></td>
          <% end %>
          <td><%= date_short session.session_at %></td>
          <td><%= date_short session.created_at %></td>
        </tr>
    <% end %>

    <!-- if no sessions yet, display a placeholder row -->

    <% if sessions.empty? %>
        <tr>
          <% if is_admin? %>
              <td></td>
              <td></td>
              <td></td>
              <td>Placeholder row</td>
          <% else %>
              <td><%= render 'my_studio/sessions/new_session_button' %></td>
          <% end %>

          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>

<%= javascript_tag do %>
    $(document).ready(function(){
    setUpDataTable($('#sessions_table'), <%= created_column_index %>);
    });
<% end %>