<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/sessions' %>

<div class="panel-container">
  <table class="table table-striped table-bordered datatables-hidden" id='sessions_table'>
    <thead>
    <tr>
      <th>Step 1.<br/>Photo session <i class="icon-user"> </i></th>
      <th>Step 2.<br/>Portraits <i class="icon-camera"> </i></th>
      <th>Offer email <i class="icon-envelope"> </i></th>
      <th>Session date</th>
      <th>Session date for datatables</th>
      <th>Created</th>
      <th>Created for datatables</th>
      <% if is_admin? %>
          <th>Studio</th>
          <th>New portrait?</th>
          <th>Complete?</th>
          <th><span class='explainer' title='Need at least 2 portraits to generate an email.'>Actions</span></th>
          <th class='id'>Id</th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% sessions.each do |session| %>
        <tr>
          <td><%= link_to session.try(:title), edit_my_studio_session_path(session), title: t(:my_studio_sessions_edit_link) %></td>
          <td><%= upload_link(session) %></td>
          <td>
            <% if session.emails.last %>
                <%= link_to(t('.offer_email.name'), minisite_email_offers_path(session.emails.last.tracking), title: t('.offer_email.title')) %>
            <% elsif session.finished_uploading_at %>
                <%= t('.offer_email.queue', length: time_ago_in_words(session.finished_uploading_at)) %>
            <% else %>
                <%= t('.offer_email.waiting') %>
            <% end %>
          </td>
          <td><%= date_short session.session_at %></td>
          <td><%= session.session_at.to_s(:javascript) if session.session_at %></td>
          <td><%= date_short session.created_at %></td>
          <td><%= session.created_at.to_s(:javascript) %></td>
          <% if is_admin? %>
              <td><%= link_to session.try(:studio).try(:name), studio_path(session.studio), title: t(:studios_show_link) %></td>
              <td title="portraits have been uploaded in last 2 days"><%= session.portraits.last_day.count > 0 ? '&#x2713;'.html_safe : '&#x2718;'.html_safe %></td>
              <td class="first span2"><%= complete?(session) %></td>
              <td><span id="generate_email_<%= session.id %>"><%= actions_for_session(session) %></span></td>
              <td class='id'><%= session.id %></td>
          <% end %>
        </tr>
    <% end %>

    <!-- if no sessions yet, display a placeholder row -->

    <% if sessions.empty? %>
        <tr>
          <td><%= render 'my_studio/sessions/new_session_button' %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <% if is_admin? %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          <% end %>
        </tr>
    <% end %>

    </tbody>
  </table>
</div>
