<div class="panel-container">
  <table class="table table-striped table-bordered">
    <thead>
    <tr>
      <% if is_admin? %>
          <th><span class='explainer' title='Need at least 2 portraits to generate an email.'>Actions</span></th>
          <th>New Portrait?</th>
      <% end %>
      <th>Complete?</th>
      <th>Portraits</th>
      <th>Offer Email</th>
      <% if is_admin? %>
          <th>Studio</th>
      <% end %>
      <th>Photo Session</th>
      <th>Client</th>
      <th>Session Date</th>
    </tr>
    </thead>
    <tbody>
    <% sessions.each do |session| %>
        <tr>
          <% if is_admin? %>
              <td><span id="generate_email_<%= session.id %>"><%= actions_for_session(session) %></span></td>
              <td title="portraits have been uploaded in last 2 days"><%= session.portraits.last_day.count > 0 ? '&#x2713;'.html_safe : '&#x2718;'.html_safe %></td>
          <% end %>
          <td class="first span2"><%= complete?(session) %></td>
          <td><%= upload_link(session) %></td>
          <td>
            <% if session.emails.last %>
                <%= link_to(t(:view), show_collection_my_studio_minisite_path(session.emails.last.tracking)) %>
                <i class="icon-envelope"> </i>
            <% elsif session.finished_uploading_at %>
                <%= t(:my_studio_sessions_offer_email_link, length: time_ago_in_words(session.finished_uploading_at)) %>
            <% else %>
                &nbsp;
            <% end %>
          </td>
          <% if is_admin? %>
              <td><%= link_to session.try(:studio).try(:name), studio_path(session.studio), title: t(:studios_show_link) %></td>
          <% end %>
          <td><%= link_to session.try(:name), edit_my_studio_session_path(session), title: t(:my_studio_sessions_edit_link) %></td>
          <td><%= mail_to session.client.email, session.client.name, {title: session.client.email} %></td>
          <td><%= date_short session.session_at %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>