<h1><%= t(:my_studio_sessions_index_title, name: '') %></h1>

<%= link_to t(:my_studio_sessions_new_link), new_my_studio_session_path %>

<table>
  <tr>
    <th>Name</th>
    <th>When</th>
    <th>Active?</th>
    <th>Category</th>
    <th>Client</th>
    <th>Portraits</th>
    <th colspan="4">Actions</th>
  </tr>

  <% @my_studio_sessions.each do |my_studio_session| %>
      <tr>
        <td><%= my_studio_session.name %></td>
        <td><%= time_short(my_studio_session.session_at)%></td>
        <td><%= my_studio_session.active %></td>
        <td><%= my_studio_session.category_name %></td>
        <td><%= my_studio_session.client.try(:name) %></td>
        <td><%= my_studio_session.portraits.size.to_s%></td>
        <td><%= link_to "Upload Now!", my_studio_session_portraits_path(my_studio_session) %></td>
        <td><%= link_to t(:show), my_studio_session %></td>
        <td><%= link_to t(:edit), edit_my_studio_session_path(my_studio_session) %></td>
        <td><%= link_to_destroy(my_studio_session) %></td>
      </tr>
  <% end %>
</table>
