<h2>
  <%= t(:my_studio_sessions_index_title, name: '') %>
</h2>

<form class="form-search">
  <span class="medium">
    By Photo Session or Client or Email
  </span>
  <%= text_field_tag(:search, session[:search_my_studio_sessions], class: "input-medium search-query") %>
  <%= submit_tag "Search", name: nil, class: "btn" %>
  <span class="small">
      Record Set Count:<%= @record_count %>
  </span>
</form>

<% unless is_admin? %>
    <%= form_tag new_my_studio_session_path, :method => :get do %>
        <button type="submit" class="btn btn-success">
          <i class="icon-plus icon-white"></i>
          <%= t(:my_studio_sessions_new_link) %>...
        </button>
    <% end %>
<% end %>

<div class="paginate">
  <%= paginate @sessions %>
</div>

<%= render 'my_studio/sessions/index', sessions: @sessions %>

<div class="paginate">
  <%= paginate @sessions %>
</div>
