<p>
  <b>Session Active:</b>
  <%= @my_studio_session.active %>
</p>

<p>
  <b>Name:</b>
  <%= @my_studio_session.name %>
</p>

<p>
  <b>Session at:</b>
  <%= @my_studio_session.session_at %>
</p>

<p>
  <b>Category:</b>
  <%= @my_studio_session.category_name %>
</p>

<% @my_studio_client = @my_studio_session.client %>
<%= render 'my_studio/clients/show' %>

<%= link_to t(:edit), edit_my_studio_session_path(@my_studio_session) %> |
<%= link_to t(:back), my_studio_sessions_path %>
