<h2><%= t '.title', name: @offer.name %></h2>

<%= render "minisite/offers/dev_debug" if Rails.env.development? %>

<% items_by_order = @items.sort_by(&:order) %>
<table class="table">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="<%= @items.size %>">
      <h4><%= t('.title_front') %></h4>
    </td>
  </tr>
  <tr>
    <% items_by_order.each do |item| %>
        <td class="td-center">
          <%= link_to_spinner item.front.image_custom.to_image_cache_buster(:list),
                              edit_minisite_item_side_path(item.front),
                              id: item.id,
                              title: t('minisite.offers.buttons.adjust_photo.title')%>
          <br>
          <%= link_to_spinner t('minisite.offers.buttons.adjust_photo.name'),
                              edit_minisite_item_side_path(item.front),
                              id: "edit#{item.id}",
                              title: t('minisite.offers.buttons.adjust_photo.title'),
                              icon_class: 'icon-edit icon-white',
                              class: 'btn btn-small btn-success'
                               %>
        </td>
    <% end %>
  </tr>

  <% has_back = false %>
  <% @items.each do |item| %>
      <% has_back = true if item.back.present? %>
  <% end %>

  <% if has_back %>
      <tr>
        <td colspan="<%= @items.size %>">
          <h4><%= t('.title_back') %></h4>
        </td>
      </tr>
      <tr>
        <% @items.each do |item| %>
            <% if item.back.present? %>
                <td class="td-center">
                  <%= item.back.image_custom.to_image_cache_buster(:list) %>
                  <br>
                  <%= link_to_spinner t(:edit), edit_minisite_item_side_path(item.back), id: "editback#{item.id}" %>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>