<h2><%= t'.title' %></h2>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td colspan="<%= @items.size %>">
      <h4><%= t('.title_front') %></h4>
    </td>
  </tr>
  <tr>
    <% @items.each do |item| %>
        <td>
          <%= link_to item.front.image_custom.to_image_cache_buster(:list), edit_minisite_item_side_path(item.front) %>
          <br>
          <%= link_to t(:edit), edit_minisite_item_side_path(item.front) %>
        </td>
    <% end %>
  </tr>

  <% has_back = false %>
  <% @items.each do |item| %>
      <% has_back = true if item.back.present? %>
  <% end %>

  <% if has_back %>
      <tr>
        <td colspan="<%= @items.size %>">
          <h4><%= t('.title_back') %></h4>
        </td>
      </tr>
      <tr>
        <% @items.each do |item| %>
            <% if item.back.present? %>
                <td>
                  <%= item.back.image_custom.to_image_cache_buster(:list) %>
                  <br>
                  <%= link_to t(:edit), edit_minisite_item_side_path(item.back) %>
                </td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
  </tbody>
</table>