<p id="notice"><%= notice %></p>

<p>
  <b>Address type:</b>
  <%= @address.address_type %>
</p>

<p>
  <b>Addressable type:</b>
  <%= @address.addressable_type %>
</p>

<p>
  <b>Addressable:</b>
  <%= @address.addressable %>
</p>

<p>
  <b>Line1:</b>
  <%= @address.line1 %>
</p>

<p>
  <b>Line2:</b>
  <%= @address.line2 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state.abbreviation %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Default:</b>
  <%= @address.default %>
</p>

<p>
  <b>Billing default:</b>
  <%= @address.billing_default %>
</p>

<p>
  <b>Active:</b>
  <%= @address.active %>
</p>


<%= link_to 'Edit', edit_address_path(@address), class: "btn btn-success" %> |
<%= link_to 'Back', addresses_path, class: "btn btn-primary" %>
