<h2>Listing shopping_stripe_cards</h2>

<table>
  <tr>
    <th>Purchase</th>
    <th>Country</th>
    <th>Cvc check</th>
    <th>Exp month</th>
    <th>Exp year</th>
    <th>Last4</th>
    <th>Stripe type</th>
    <th>Stripe object</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stripe_cards.each do |shopping_stripe_card| %>
  <tr>
    <td><%= shopping_stripe_card.purchase %></td>
    <td><%= shopping_stripe_card.country %></td>
    <td><%= shopping_stripe_card.cvc_check %></td>
    <td><%= shopping_stripe_card.exp_month %></td>
    <td><%= shopping_stripe_card.exp_year %></td>
    <td><%= shopping_stripe_card.last4 %></td>
    <td><%= shopping_stripe_card.stripe_type %></td>
    <td><%= shopping_stripe_card.stripe_object %></td>
    <td><%= link_to 'Show', shopping_stripe_card %></td>
    <td><%= link_to 'Edit', edit_shopping_stripe_card_path(shopping_stripe_card) %></td>
    <td><%= link_to 'Destroy', shopping_stripe_card, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stripe card', new_shopping_stripe_card_path %>
