<p>
  <b>Purchase:</b>
  <%= @stripe_card.purchase %>
</p>

<p>
  <b>Country:</b>
  <%= @stripe_card.country %>
</p>

<p>
  <b>Cvc check:</b>
  <%= @stripe_card.cvc_check %>
</p>

<p>
  <b>Exp month:</b>
  <%= @stripe_card.exp_month %>
</p>

<p>
  <b>Exp year:</b>
  <%= @stripe_card.exp_year %>
</p>

<p>
  <b>Last4:</b>
  <%= @stripe_card.last4 %>
</p>

<p>
  <b>Stripe type:</b>
  <%= @stripe_card.stripe_type %>
</p>

<p>
  <b>Stripe object:</b>
  <%= @stripe_card.stripe_object %>
</p>


<%= link_to 'Edit', edit_shopping_stripe_card_path(@stripe_card) %> |
<%= link_to 'Back', shopping_stripe_cards_path %>
