<% address_active ||= '' %>
<% shipping_active ||= '' %>
<% purchase_active ||= '' %>
<ul class="breadcrumb">
  <% if @cart.address %>
      <li class="<%= address_active %>">
        <%= link_breadcrumb_or_not(:address) %>
        <% if @cart.shipping %>
            <span class="divider">/</span>
        <% end %>
      </li>
  <% end %>
  <% if @cart.shipping %>
      <li class="<%= shipping_active %>">
        <%= link_breadcrumb_or_not(:shipping) %>
        <% if @cart.purchase %>
            <span class="divider">/</span>
        <% end %>
      </li>
  <% end %>
  <% if @cart.purchase %>
      <li class="<%= purchase_active %>">
        <%= link_breadcrumb_or_not(:purchase) %>
      </li>
  <% end %>
</ul>
