<%= form_for(@order_item) do |f| %>
  <% if @order_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_item.errors.count, "error") %> prohibited this order_item from being saved:</h2>

      <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :tax_rate %><br />
    <%= f.text_field :tax_rate %>
  </div>
  <div class="field">
    <%= f.label :shipping_rate %><br />
    <%= f.text_field :shipping_rate %>
  </div>
  <div class="field">
    <%= f.label :shipment %><br />
    <%= f.text_field :shipment %>
  </div>
  <div class="actions">
    <%= f.submit :id => 'my_submit' %>
    <span id="spinner" style="display:none">
      <%= image_tag 'ajax-loader.gif' %>
    </span>
  </div>
<% end %>
