<h2>Listing order_items</h2>

<table>
  <tr>
    <th>Price</th>
    <th>Total</th>
    <th>Order</th>
    <th>State</th>
    <th>Tax rate</th>
    <th>Shipping rate</th>
    <th>Shipment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.price %></td>
    <td><%= order_item.total %></td>
    <td><%= order_item.order %></td>
    <td><%= order_item.state %></td>
    <td><%= order_item.tax_rate %></td>
    <td><%= order_item.shipping_rate %></td>
    <td><%= order_item.shipment %></td>
    <td><%= link_to 'Show', order_item %></td>
    <td><%= link_to 'Edit', edit_order_item_path(order_item) %></td>
    <td><%= link_to 'Destroy', order_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order item', new_order_item_path %>
