<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @order_item.price %>
</p>

<p>
  <b>Total:</b>
  <%= @order_item.total %>
</p>

<p>
  <b>Order:</b>
  <%= @order_item.order %>
</p>

<p>
  <b>State:</b>
  <%= @order_item.state %>
</p>

<p>
  <b>Tax rate:</b>
  <%= @order_item.tax_rate %>
</p>

<p>
  <b>Shipping rate:</b>
  <%= @order_item.shipping_rate %>
</p>

<p>
  <b>Shipment:</b>
  <%= @order_item.shipment %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
