<%= form_for(@country) do |f| %>

    <%= render 'shared/error_messages', record: @country %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
