<h1>Listing countries</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @countries.each do |country| %>
  <tr>
    <td><%= country.name %></td>
    <td><%= link_to t(:show), country %></td>
    <td><%= link_to t(:edit), edit_country_path(country) %></td>
    <td><%= link_to t(:destroy), country, confirm: t(:link_destroy_confirm), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Country', new_country_path %>
