<div class="media">
  <%= image_tag(piece.image.url_cache_buster,
                :title => piece.name,
                :alt => piece.name,
                :class => "img-rounded media-object pull-left",
                :editable => "true",
                :label => "Image") %>

  <div class="media-body pull-left">

    <h4 class="media-heading"><%= piece.name %></h4>

    <%= piece.short_description %>
    <span class="price"><%= number_to_currency(piece.price) %></span>

    <% unless @show_status_only %>
        <% if is_client? %>
            <%= form_for(@shopping_item, :remote => true) do |f| %>
                <p>
                  <%= f.hidden_field :piece_id %>
                  <%= f.hidden_field :cart_id %>
                  <%= submit_tag 'Add to Cart', :id => "my_submit_#{@shopping_item.piece_id}", :class => 'btn btn-primary multi-submits' %>
                  <span id='<%= "spinner_#{@shopping_item.piece_id}" %>' style='display:none' class='spinner'></span>
                </p>
            <% end %>
        <% end %>
    <% end %>

    <p class="shopping-item">
      <span id='<%= "shopping_item_#{@shopping_item.piece_id}" %>'></span>
    </p>

  </div>
</div>