<%# This layout is for email as well and must retain primitive email-based layout and styles. %>
<layout label="Narrow image">
  <table class="w580" border="0" cellpadding="0" cellspacing="0" width="580">
    <tbody>
    <tr>
      <td class="w280" valign="top" width="280">
        <table class="w280" border="0" cellpadding="0" cellspacing="0"
               width="280">
          <tbody>
          <tr>
            <td class="w280" align="right" width="280">
              <%= image_tag(piece.image.url_cache_buster,
                            :title => piece.name,
                            :alt => piece.name,
                            :width => piece.width,
                            :height => piece.height,
                            :class => "w280 img-rounded",
                            :editable => "true",
                            :label => "Image",
                            :border => 0) %>
            </td>
          </tr>
          <tr>
            <td class="w280" height="10" width="280"></td>
          </tr>
          </tbody>
        </table>
      </td>
      <td width="20"></td>
      <td class="w280" valign="middle" width="280">
        <table class="w280" border="0" cellpadding="0" cellspacing="0"
               width="280">
          <tbody>
          <tr>
            <td class="w280" height="10" width="280"></td>
          </tr>
          <tr>
            <td class="w280" width="280">
              <div class="article-content" align="left">
                <p style="color: <%= studio.minisite.font_color %>;">
                  <b><%= piece.name %></b><br/>
                  <%= piece.short_description %><br/>
                  <span class="price"><%= number_to_currency(piece.price) %></span><br/>

                  <% unless @show_status_only %>
                      <% if is_client? %>
                          <%= form_for(@shopping_item, :remote => true) do |f| %>
                            <p>
                              <%= f.hidden_field :piece_id %>
                              <%= f.hidden_field :cart_id %>
                              <%= submit_tag 'Add to Cart', :id => 'my_submit', :class => 'likeabutton' %>
                              <span id='<%= "spinner_#{@shopping_item.piece_id}" %>' style="display:none"></span>
                            </p>
                        <% end %>
                    <% end %>
                <% end %>
                <p class="shopping-item">
                  <span id='<%= "shopping_item_#{@shopping_item.piece_id}" %>'></span>
                </p>
                </p>
              </div>
            </td>
          </tr>
          <tr>
            <td class="w280" height="10" width="280"></td>
          </tr>
          </tbody>
        </table>
      </td>
    </tr>
    </tbody>
  </table>
</layout>