<div class="media">

  <% klass = offer.frozen_offer? ? "frozen" : "" %>
  <%= link_to image_tag(offer.image.url_cache_buster,
                        :title    => offer.name,
                        :alt      => offer.name,
                        :class    => "img-rounded #{klass} media-object",
                        :editable => "true",
                        :label    => "Image",
                        :border   => 0),
              url_for_offer_or_not_image(offer),
              class: "pull-left" %>
  <div class="media-body pull-left">

    <h4 class="media-heading">
      <%= link_to_facebook(offer) %>
      <%= link_to_pinterest(offer) %>
      <%= offer.name %>
    </h4>
    <% if offer.frozen_offer? %>
        <b><%= icon_minisite('icon-shopping-cart')%>&nbsp;<%= t('in_shopping_cart') %></b><br>
    <% end %>
    <%= offer.piece.short_description %>
    <br>
    <%= link_to "Details...", url_for_offer_or_not(offer), style: "color: #{@studio.minisite.font_color};", class: 'text_anchor_emphasis' %>
    <br/><br/>
    <span class="price"><%= number_to_currency(offer.price) %></span>
  </div>
</div>