<h3> Studio Info</h3>
<%= f.fields_for :info, info do |g| %>

    <div class="field">
      <%= g.label :active %>
      <br/>
      <%= g.check_box :active %>
    </div>
    <div class="field">
      <%= g.label :website %>
      <br/>
      <%= g.text_field :website %>
    </div>
    <div class="field">
      <%= g.label :email, "Studio's Email" %>
      <br/>
      <%= g.email_field :email %>
    </div>
    <div class="field">
      <%= g.label :email_notification %>
      <br/>
      <%= g.email_field :email_notification %>
    </div>
    <div class="field">
      <%= g.label :tax_ein, 'Tax ID/EIN xx' %>
      <br/>
      <%= g.text_field :tax_ein %>
    </div>
    <% if current_user.admin? %>
        <div class="field">
          <%= g.label :commission_rate, 'Commission rate (%)' %>
          <br/>
          <%= g.text_field :commission_rate %>
        </div>
    <% end %>
    <div class="field">
      <%= g.label :pictage_member %>
      <%= g.check_box :pictage_member %>
    </div>
    <div class="field">
      <%= g.label :smug_mug_member %>
      <%= g.check_box :smug_mug_member %>
    </div>
    <div class="field">
      <%= g.label :mac_user %>
      <%= g.check_box :mac_user %>
    </div>
    <div class="field">
      <%= g.label :windows_user %>
      <%= g.check_box :windows_user %>
    </div>
    <div class="field">
      <%= g.label :ping_email, 'Would you like email notifications?' %>
      <%= g.check_box :ping_email %>
    </div>
<% end %>
