<h3> Studio Info</h3>
<p>
  <span>Active:</span>
  <%= info.try(:active) %>
</p>

<p>
  <span>Website:</span>
  <%= info.try(:website) %>
</p>

<p>
  <span>Studio Email:</span>
  <%= info.try(:email) %>
</p>

<p>
  <span>Studio Email notification:</span>
  <%= info.try(:email_notification) %>
</p>

<p>
  <span>Tax ID/EIN:</span>
  <%= info.try(:tax_ein) %>
</p>

<p>
  <span>Pictage member:</span>
  <%= info.try(:pictage_member) %>
  <span>SmugMug member:</span>
  <%= info.try(:smug_mug_member) %>
  <span>Mac user:</span>
  <%= info.try(:mac_user) %>
  <span>Windows user:</span>
  <%= info.try(:windows_user) %>
  <span>Ping email:</span>
  <%= info.try(:ping_email) %>
</p>
