<p>
  <b>Active:</b>
  <%= info.try(:active) %>
</p>

<p>
  <b>Website:</b>
  <%= info.try(:website) %>
</p>

<p>
  <b>Studio Email:</b>
  <%= info.try(:email) %>
</p>

<p>
  <b>Studio Email notification:</b>
  <%= info.try(:email_notification) %>
</p>

<p>
  <b>Tax ID/EIN:</b>
  <%= info.try(:tax_ein) %>
</p>

<div class='container'>
  <b>Pictage member:</b>
  <%= info.try(:pictage_member) %>
  <b>SmugMug member:</b>
  <%= info.try(:smug_mug_member) %>
  <b>Mac user:</b>
  <%= info.try(:mac_user) %>
  <b>Windows user:</b>
  <%= info.try(:windows_user) %>
  <b>Ping email:</b>
  <%= info.try(:ping_email) %>
</div>
