<p>
  <b>Active:</b>
  <%= @my_studio_info.active %>
</p>

<p>
  <b>Website:</b>
  <%= @my_studio_info.website %>
</p>

<p>
  <b>Studio Email:</b>
  <%= @my_studio_info.email %>
</p>

<p>
  <b>Studio Email notification:</b>
  <%= @my_studio_info.email_notification %>
</p>

<p>
  <b>Tax ID/EIN:</b>
  <%= @my_studio_info.tax_ein %>
</p>

<div class='container'>
  <b>Pictage member:</b>
  <%= @my_studio_info.pictage_member %>
  <b>SmugMug member:</b>
  <%= @my_studio_info.smug_mug_member %>
  <b>Mac user:</b>
  <%= @my_studio_info.mac_user %>
  <b>Windows user:</b>
  <%= @my_studio_info.windows_user %>
  <b>Ping email:</b>
  <%= @my_studio_info.ping_email %>
</div>
