<div class="faq">
<h1 id="faq"><%= image_tag 'desktop/faq32.png' %>Frequently Asked Questions</h1>

<h3>
  <%= link_to "What kind of portraits should I upload?", "#faq_1", title: 'Click to view answer', class: 'menu-item' %>
</h3>

<h3>
  <%= link_to "Should I crop the portraits in preparation for the jewelry?", "#faq_2", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "What happens when my client forwards their email to their friends and family?", "#faq_3", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "How many portraits should I upload for a client session?", "#faq_4", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "How long does it take you to send the personalized offer email?", "#faq_5", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "I do NOT want to spam my client with unwanted email. What do you do to prevent that?", "#faq_6", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "Can I view the email offers sent to my client?", "#faq_7", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "How do I know when my client has received their email?", "#faq_8", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "What if my client wants to use a different photo for their jewelry?", "#faq_9", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "This is a good start, but what about ongoing marketing campaigns for my clients?", "#faq_10", title: 'Click to view answer' %>
</h3>

<h3>
  <%= link_to "What if I have other questions or suggestions?", "#faq_11", title: 'Click to view answer' %>
</h3>

----

<div class="container">
  <h3 id="faq_1">
    <%= image_tag 'desktop/faq.png' %>
    What kind of portraits should I upload?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Soon, we'll have special processing for pets, memorials, and holiday ornaments - until then please upload portraits
    of babies, children and adults. Any portrait with a single subject or several subjects can work well because we can
    zoom in and create compositions with drama and graphic impact.
  </p>
</div>

<div class="container">
  <h3 id="faq_2">
    <%= image_tag 'desktop/faq.png' %>
    Should I crop the portraits in preparation for the jewelry?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    No need! We really want to make the process as simple and easy as possible for you. We will take care of selecting
    the right jewelry pieces for the portraits you upload and attractively cropping the portraits -- especially useful
    for taking group shots and creating bracelets with multiple related single portraits. When your client clicks
    through to your branded mini website, they can adjust the cropping of the portrait in the pieces they select, and
    select from any of the portraits you have uploaded. This can dramatically change the piece and make it irresistable
    to their friends and families.
  </p>
</div>

<div class="container">
  <h3 id="faq_3">
    <%= image_tag 'desktop/faq.png' %>
    What happens when my client forwards their email to their friends and family?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    A couple things: you brand is being marketed by word of mouth - priceless! Also you gain commissions from all of
    those referral sales. Interestingly, when your client makes changes to the framing and composition of their offer
    pieces, those changes are automatically incorporated in the emails that are forwarded.
  </p>
</div>

<div class="container">
  <h3 id="faq_4">
    <%= image_tag 'desktop/faq.png' %>
    How many portraits should I upload for a client session?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    6 is a great number or you can add more. We won't send an offer email until you have uploaded at least 5 portraits
    for a client.
  </p>
</div>

<div class="container">
  <h3 id="faq_5">
    <%= image_tag 'desktop/faq.png' %>
    How long does it take you to send the personalized offer email?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    We personalize the offer email, do all the cropping and send the offer email within a day of you uploading your
    fifth portrait for a client.
  </p>
</div>

<div class="container">
  <h3 id="faq_6">
    <%= image_tag 'desktop/faq.png' %>
    I do NOT want to spam my client with unwanted email. What do you do to prevent that?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Every email has an instant unsubscribe link and we follow all anti-spam best practices. Everyone hates spam,
    including us!
  </p>
</div>

<div class="container">
  <h3 id="faq_7">
    <%= image_tag 'desktop/faq.png' %>
    Can I view the email offers sent to my client?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Yes! Go to your Photo Sessions page and click on the Offer Email column entry. This will show you the details of
    when the offer was created and sent. Then click on the Show link to view exact minisite that your client sees. The
    Your Collection page is what the email looks like. You can click around except you can't select offers or purchase
    them.
  </p>
</div>

<div class="container">
  <h3 id="faq_8">
    <%= image_tag 'desktop/faq.png' %>
    How do I know when my client has received their email?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Check your dashboard. It will show you when your client received their email, opened it, clicked through, and
    purchased items. We are working on my statistics to track your clients forwarding their emails to their friends and
    family, and other useful items.
  </p>
</div>

<div class="container">
  <h3 id="faq_9">
    <%= image_tag 'desktop/faq.png' %>
    What if my client wants to use a different photo for their jewelry?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    We want your clients to use <i>your</i> portraits! We allow your client to replace the portrait in a jewelry piece
    with any of the portraits you have uploaded - that's a lot of choice available right there.
  </p>
</div>

<div class="container">
  <h3 id="faq_10">
    <%= image_tag 'desktop/faq.png' %>
    This is a good start, but what about ongoing marketing campaigns for my clients?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Yep, we're working on that! The next step will probably be an automated campaign for Chriskwanzakkah (Ilove that
    holiday!). Then we'll work on anniversary offers for your clients and then a rolling set for campaigns for major
    holidays. These are the gifts that keep giving -- to you and your clients. We recognize the very delicate balance
    between maximizing your returns versus bugging your clients too much.
  </p>
</div>

<div class="container">
  <h3 id="faq_11">
    <%= image_tag 'desktop/faq.png' %>
    What if I have other questions or suggestions?
    <%= link_to image_tag('desktop/faq_back.png'), "#faq", title: 'Back to top' %>
  </h3>

  <p>
    Tell us!! We are building this platform for <i>you</i> -- the professional photography studio. Please tell us what
    works well for you and how we can make it better.
  </p>
</div>

</div>
