<% content_for :head do %>
    <script type="text/javascript" src="http://gettopup.com/releases/latest/top_up-min.js"></script>
<% end %>

<h1>How it works</h1>

<p>
<ul>
  <li>
    You upload a half dozen portraits for a client and we imediately send a <i>herald email</i> to your client
    announcing that they will soon receive an offer from you.
  </li>
  <li>
    After you have finished uploading at least 5 portraits, we create the personalized <i>offer email</i> and send it.
  </li>
  <li>Your client receives the email, opens it, and clicks on an offer that interests them.</li>
  <li>
    They go to your <i>minisite</i>. Your minisite is a branded website that contains just the offers that were created
    for your client and nothing else. It's a special little world dedicated to your brand, your portraits, and their
    offers.
  </li>
  <li>Your client can forward their offer email or links to your minisite to their friends and family for them to admire
    your portraits composed into Kimbra's jewelry.
  </li>
  <li>If your client likes what they see, they can purchase on the minisite and we take care of all the details.</li>
  <li>
    We also take care of answering questions, handling issues and returns... everything! Your client or their friends
    can contact you at any time to set up their next photo session.
  </li>
  <li>
    You can contact us any time with questions, advice on portraits for jewelry, anything!
  </li>
</ul>
</p>

<h2>Minisite pages</h2>

<p>
  These samples show the main minisite pages for a dummy studio called Studio One and illustrate how the key pieces of
  client communication use your branding (your logo, your website colors, your website fonts, your website font colors)
  and with your contact details. For now, the samples show Studio One's branding but all your client communications show
  <i><b>your branding</b></i>.
</p>

<p>
  Here is <%= link_to 'a mockup of the <i>Your Collection</i> page'.html_safe, mock_collection_my_studio_infos_path %>
  that uses your branding. Click on the <u>Back to Samples</u> link to return here.
</p>

<p>
  You can view exactly the email and minisite for each of the offers sent to your clients from the Photo Sessions page.
</p>

<h2>Samples</h2>

<table class='plain'>
  <thead></thead>
  <tbody>
  <tr>
    <td class='top'>
      <%= link_to image_tag('sample_herald_t.png', alt: 'sample herald email'), '/assets/sample_herald.png', class: 'lb_sample' %>
      <br/>
      Herald emails are sent to your client after you upload some portraits but before the personalized offer email is
      sent.
    </td>
    <td class='top'>
      <%= link_to image_tag('sample_email_t.png', alt: 'sample personalized offer email'), '/assets/sample_email.png', class: 'lb_sample' %>
      <br/>
      Personalized offer email is sent after you have uploaded at least 5 portraits and we have custom cropped and
      positioned each portrait into selected jewelry pieces.
    </td>
    <td class='top'>
      <%= link_to image_tag('sample_collection_t.png', alt: 'sample collections page'), '/assets/sample_collection.png', class: 'lb_sample' %>
      <br/>
      Your client clicks through their email offer to a specific piece on your branded minisite. The <i>Your Collection</i> page
      displays all of the pieces in the current offer email.
      Clients can <%= link_to 'adjust the cropping', '/assets/sample_adjust.png', class: 'lb_sample' %> of any portrait
      into their selected jewelry piece.
    </td>
    <td class='top'>
      <%= link_to image_tag('sample_cart_t.png', alt: 'sample shopping cart'), '/assets/sample_cart.png', class: 'lb_sample' %>
      <br/>
      Your client adds items to their cart. KimbraClickPLUS takes care of all credit card processing, coordinating the
      crafting of the pieces, handling any questions from your client, and delivery direct to your client.
    </td>
    <td class='top'>
      <%= link_to image_tag('sample_about_t.png', alt: 'sample About page'), '/assets/sample_about.png', class: 'lb_sample' %>
      <br/>
      We describe the exact relationship between your studio and the KimbraClickPLUS program for your clients. This
      eliminates any confusion and makes it easy for them to make their purchase.
    </td>
    <td class='top'>
      <%= link_to image_tag('sample_contact_t.png', alt: 'sample Contact page'), '/assets/sample_contact.png', class: 'lb_sample' %>
      <br/>
      Your client (and all their friends they forward their offer emails to) should contact you directly to set up
      new sessions, inquire about your services, etc. They will contact KimbraClickPLUS directly to ask questions about
      their order.
    </td>
  </tr>
  </tbody>
</table>

<p>
  <br/>All the delightful wedding photographs on these sample pages are by
  <%= link_to 'Sean Choe', 'http://www.flickr.com/photos/bogomo/' %> and used under Creative Commons license.
  <br/>StudioOne Photography is a fictional photography studio.
</p>