<p id="notice"><%= notice %></p>

<p>
  <b>Studio:</b>
  <%= @my_studio_info.studio %>
</p>

<p>
  <b>Active:</b>
  <%= @my_studio_info.active %>
</p>

<p>
  <b>Website:</b>
  <%= @my_studio_info.website %>
</p>

<p>
  <b>Email:</b>
  <%= @my_studio_info.email %>
</p>

<p>
  <b>Email notification:</b>
  <%= @my_studio_info.email_notification %>
</p>

<p>
  <b>Tax ein:</b>
  <%= @my_studio_info.tax_ein %>
</p>

<p>
  <b>Picatage member:</b>
  <%= @my_studio_info.pictage_member %>
</p>

<p>
  <b>Smug mug member:</b>
  <%= @my_studio_info.smug_mug_member %>
</p>

<p>
  <b>Mac user:</b>
  <%= @my_studio_info.mac_user %>
</p>

<p>
  <b>Windows user:</b>
  <%= @my_studio_info.windows_user %>
</p>

<p>
  <b>Ping email:</b>
  <%= @my_studio_info.ping_email %>
</p>


<%= link_to t(:edit), edit_my_studio_info_path(@my_studio_info) %> |
<%= link_to t(:back), my_studio_infos_path %>
