<%= form_for(@category) do |f| %>

    <%= render 'shared/error_messages', record: @category %>

    <div class="field">
      <%= f.label :string %>
      <br/>
      <%= f.text_field :string %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
