<div class="show">

  <% url = @admin_customer_offer.id.nil? ? admin_customer_email_offers_path(@email) : admin_customer_email_offer_path(@email, @admin_customer_offer) %>
  <%= form_for(@admin_customer_offer, :url => url, :html => {:multipart => true}) do |f| %>
      <% if @admin_customer_offer.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_customer_offer.errors.count, "error") %> prohibited this admin_email_offer from
              being
              saved:</h2>

            <ul>
              <% @admin_customer_offer.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="field">
        <%= f.label :name %>
        <br/>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :image, 'Final Piece image' %>
        <%= f.file_field :image %>
        <%= f.label :remote_image_url, 'or image URL' %>
        <%= f.text_field :remote_image_url %>
      </div>
      <div class="field">
        <%= f.label :description %>
        <br/>
        <%= f.text_area :description, :rows => 4 %>
      </div>
      <div class="field">
        Studio Portrait
        <%= f.label :width %>
        <%= f.number_field :width %>
        <%= f.label :height %>
        <%= f.number_field :height %>
      </div>
      <div class="field">
        <%= f.label :activation_code %>
        <br/>
        <%= f.text_field :activation_code %>
      </div>
      <div class="field">
        <%= f.label :active %>
        <%= f.check_box :active %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
  <% end %>
</div>

<%= render 'admin/customer/offers/side_menu', :offer => @admin_customer_offer %>