<% content_for :head do %>
    <%= javascript_include_tag 'platypus_dd' %>
<% end %>

<% select_id = "admin_customer_offer_piece_id" %>
<% select_portrait_id = "admin_customer_offer_portrait_id" %>

<div class="platypus-form span7">


  <%= render 'shared/error_messages', record: @admin_customer_offer %>

  <% url = @admin_customer_offer.id.nil? ?
          admin_customer_email_offers_path(@email) :
          admin_customer_email_offer_path(@email, @admin_customer_offer) %>
  <%= form_for(@admin_customer_offer, :url => url, :html => {multipart: true, class: "form-horizontal"}) do |f| %>

      <div class="control-group">
        <%= f.label :active, t("helpers.label.admin_customer_offer.active"), class: "checkbox inline" %>
        <%= f.check_box :active %>
      </div>

      <div class="control-group">
        <%= f.label :name, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :name, class: "input-xlarge", placeholder: 'customize or auto-filled on Create' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :description, rows: 4, class: "input-xlarge", placeholder: 'customize or auto-filled on Create' %>
        </div>
      </div>

      <%= f.hidden_field :frozen_offer %>
      <% if is_admin? %>
          <fieldset title="<%= t("helpers.label.fieldset.admin") %>">
            <legend><%= t("helpers.label.fieldset.admin") %></legend>

            <%= f.hidden_field :piece_id %>
            <div class="control-group">
              <%= f.label :piece_id, 'Kimbra Piece', class: 'control-label' %>
              <div class="controls">
                <div id="myDropdown"></div>
              </div>
            </div>

            <%= f.hidden_field :portrait_id %>
            <div class="control-group">
              <%= f.label :portrait_id, 'Portrait', class: 'control-label' %>
              <div class="controls">
                <div id="myDropdownPortrait"></div>
              </div>
            </div>


            <!-- the layout is pulled from the Kimbra piece we are selecting -->
            <!--<div class="control-group">-->
              <!--<%= f.label :custom_layout, class: "control-label" %>-->
              <!--<div class="controls">-->
                <!--<%= f.select :custom_layout, [['order','order'],['composite','composite']] %>-->
              <!--</div>-->
            <!--</div>-->

            <% unless @admin_customer_offer.new_record? %>
            <div class="control-group">
              <%= f.label :activation_code, class: "control-label" %>
              <div class="controls">
                <%= f.text_field :activation_code %>
              </div>
            </div>
           <% end %>

          </fieldset>
      <% end %>

      <div class="form-actions">
        <%= f.submit id: 'my_submit', class: "btn btn-primary" %>
        <span id="spinner" style="display:none" class='spinner'></span>
      </div>
  <% end %>
  <!-- platypus-form -->
</div>

<div class="span3">
  <%= render 'admin/customer/offers/side_menu', :offer => @admin_customer_offer %>
</div>

<script type="text/javascript">
    //Code Starts

    var ddData =<%=kimbra_piece_ddslick_data(@admin_customer_offer)%>;
    var ddDataPortrait =<%=portrait_ddslick_data(@admin_customer_offer)%>;

    $('#myDropdown').ddslick({
        data:ddData,
        width:300,
        selectText:"Select your preferred Kimbra Piece",
        defaultSelectedIndex: <%=@ddslick_default_selected_index %>,
        imagePosition:"right",
        onSelected:function (selectedData) {
            //callback function: do something with selectedData;
            $('#<%=select_id%>').val(selectedData.selectedData.value);
            return;
        }
    });
    $('#myDropdownPortrait').ddslick({
        data:ddDataPortrait,
        width:300,
        selectText:"Select your preferred Portrait",
        imagePosition:"right",
        onSelected:function (selectedData) {
            //callback function: do something with selectedData;
            $('#<%=select_portrait_id%>').val(selectedData.selectedData.value);
            return;
        }
    });
    //Code Ends

</script>
