<div class='side-menu'>
  <table>
    <thead>
    <th colspan="2"><%= offer.try(:to_image_span) %></th>
    </thead>
    <tbody>
    <tr>
      <td>Kimbra Piece:</td>
      <td><%= cw_div_image_only(offer.piece) %></td>
    </tr>
    <tr>
      <td>Custom Kimbra Piece:</td>
      <td><%= offer.image.to_image_cache_buster(:thumb) %></td>
    </tr>
    <tr>
      <td>Custom Front Piece:</td>
      <td>
        <%= offer.image_front.to_image_cache_buster(:thumb) %>
      </td>
    </tr>
    <% if offer.back.present? %>
        <tr>
          <td>Custom Piece Side 2:</td>
          <td><%= offer.image_back.to_image_cache_buster(:thumb) %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
