<div class='side-menu'>
  <table>
    <thead>
    <th colspan="2"><%= offer.try(:to_image_span) %></th>
    </thead>
    <tbody>
    <tr>
      <td>Kimbra Piece:</td>
      <td><%= cw_div_image_only(offer.piece) %></td>
    </tr>
    <tr>
      <td>Custom Piece:</td>
      <td>
        <%= hidden_field_tag( "image_front_cache_#{offer.id}", offer.image_front_cache) %>
        <%= cw_div_image_only(offer, :image => 'image_front') %>
      </td>
    </tr>
    <% if offer.back.present? %>
        <tr>
          <td>Custom Piece Side 2:</td>
          <td><%= cw_div_image_only(offer, :image => 'image_back') %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
