<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/offers' %>
<%= coffee_script_tag do %>
    window.emailTrack = '<%= @email.tracking %>'
<% end %>

<h2>
  <%= t(:admin_customer_offers_index_title) %>
</h2>

<div class='row'>

  <% if is_admin? %>
      <div class='span2'>
        <small>Drag and drop rows to re-order.</small>
        <br>
        <%= button_to('Edit portraits', minisite_email_offers_path(@email.tracking), method: :get) %>
      </div>
      <div class='span3 dataTables_filter'>
        <%= form_tag new_admin_customer_email_offer_path(@email), method: :get do %>
            <button type='submit' class='btn btn-success'>
              <i class='icon-plus icon-white'></i>
              <%= t(:admin_customer_offers_new_link) %>...
            </button>
        <% end %>
      </div>
  <% end %>

</div>

<table id='offers_table' class='table table-striped table-bordered datatables-hidden'>
  <thead>
  <tr>
    <th>Sort</th>
    <th class='id'>Id</th>
    <th>Studio</th>
    <th>Name</th>
    <th>Kimbra Piece</th>
    <th>Custom Piece</th>
    <th>Description</th>
    <th>Activation code</th>
    <th>Active</th>
    <th>Frozen</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @admin_customer_offers.each do |offer| %>
      <tr id='<%= offer.id %>'>
        <td><%= offer.sort %></td>
        <td class='id'><%= offer.id %></td>
        <td><%= offer.try(:email).try(:my_studio_session).try(:studio).try(:name) %></td>
        <td><%= offer.name %></td>
        <td><%= image_tag_list(offer.piece) %></td>
        <td><%= image_tag_list(offer) %></td>
        <td><%= offer.description %></td>
        <td><%= offer.activation_code %></td>
        <td><%= offer.active %></td>
        <td><%= 'frozen' if offer.frozen_offer %></td>
        <td>
          <%= link_to t(:show), admin_customer_email_offer_path(@email, offer) %>
          <% unless offer.frozen_offer? %>
              <br>
              <%= link_to t(:edit), edit_admin_customer_email_offer_path(@email, offer) %>
              <br>
              <%= link_to t(:destroy), admin_customer_email_offer_path(@email, offer), confirm: t(:link_destroy_confirm), method: :delete %>
          <% else %>
              <i class='icon-shopping-cart' title='Offer is frozen (in cart maybe?)'></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>