<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/offers' %>

<h2>
  <%= t(:admin_customer_offers_index_title) %>
</h2>

<div class="row">

  <% if is_admin? %>
      <div class="span3 dataTables_filter">
        <%= form_tag new_admin_customer_email_offer_path(@email), method: :get do %>
            <button type="submit" class="btn btn-success">
              <i class="icon-plus icon-white"></i>
              <%= t(:admin_customer_offers_new_link) %>...
            </button>
        <% end %>
      </div>
  <% end %>

</div>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Studio</th>
    <th>Name</th>
    <th>Kimbra Piece</th>
    <th>Custom Piece</th>
    <th>Description</th>
    <th>Activation code</th>
    <th>Active</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @admin_customer_offers.each do |offer| %>
      <tr>
        <td><%= offer.id %></td>
        <td><%= offer.try(:email).try(:my_studio_session).try(:studio).try(:name) %></td>
        <td><%= offer.name %></td>
        <td><%= image_tag_list(offer.piece) %></td>
        <td><%= image_tag_list(offer) %></td>
        <td><%= offer.description %></td>
        <td><%= offer.activation_code %></td>
        <td><%= offer.active %></td>
        <td>
          <%= link_to t(:show), admin_customer_email_offer_path(@email, offer) %>
          <% unless offer.frozen_offer? %>
              <br>
              <%= link_to t(:edit), edit_admin_customer_email_offer_path(@email, offer) %>
              <br>
              <%= link_to t(:destroy), admin_customer_email_offer_path(@email, offer), confirm: t(:link_destroy_confirm), method: :delete %>
          <% else %>
              <i class="icon-shopping-cart"></i>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>