<h1>Listing admin_customer_offers</h1>

<%= link_to 'New Offer', new_admin_customer_email_offer_path(@email) %>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Image</th>
    <th>Description</th>
    <th>Width</th>
    <th>Height</th>
    <th>Activation code</th>
    <th>Active</th>
    <th>Piece</th>
    <th>Studio picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @admin_customer_offers.each do |admin_customer_offer| %>
  <tr>
    <td><%= admin_customer_offer.email %></td>
    <td><%= admin_customer_offer.name %></td>
    <td><%= image_tag_list(admin_customer_offer) %></td>
    <td><%= admin_customer_offer.description %></td>
    <td><%= admin_customer_offer.width %></td>
    <td><%= admin_customer_offer.height %></td>
    <td><%= admin_customer_offer.activation_code %></td>
    <td><%= admin_customer_offer.active %></td>
    <td><%= admin_customer_offer.piece %></td>
    <td><%= admin_customer_offer.studio_picture %></td>
    <td><%= link_to 'Show', admin_customer_email_offer_path(@email, admin_customer_offer) %></td>
    <td><%= link_to 'Edit', edit_admin_customer_email_offer_path(@email, admin_customer_offer) %></td>
    <td><%= link_to 'Destroy', admin_customer_email_offer_path(@email, admin_customer_offer), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Back', admin_customer_email_path(@email) %>
