<div class="show">

  <p>
    <b>Items:</b>
    <%= link_to 'Items', admin_customer_email_offer_items_path(@admin_customer_offer.email, @admin_customer_offer) %>
  </p>


  <% if @admin_customer_offer.back.present? %>

      <p>
        <b>Custom Piece Side 1</b>
        <%= image_tag @admin_customer_offer.image_front_url.to_s %>
      </p>

      <p>
        <b>Custom Piece Side 2</b>
        <%= image_tag @admin_customer_offer.image_back_url.to_s %>
      </p>
  <% else %>
      <p>
        <b>Custom Piece</b>
        <%= image_tag @admin_customer_offer.image_url.to_s, :title => "size #{@admin_customer_offer.width}x#{@admin_customer_offer.height}" %>
      </p>
  <% end %>

  <p>
    <b>Email:</b>
    <%= @admin_customer_offer.try(:email).try(:my_studio_session).try(:client).try(:email) %>
  </p>

  <p>
    <b>Name:</b>
    <%= @admin_customer_offer.name %>
  </p>

  <p style="width:400px;">
    <b>Description:</b>
    <%= @admin_customer_offer.description %>
  </p>

  <p>
    <b>Activation code:</b>
    <%= @admin_customer_offer.activation_code %>
  </p>

  <p>
    <b>Active:</b>
    <%= @admin_customer_offer.active %>
  </p>

  <%= link_to t(:edit), edit_admin_customer_email_offer_path(@email, @admin_customer_offer) %> |
  <%= link_to t(:back), admin_customer_email_offers_path(@email) %>
</div>

<%= render 'admin/customer/offers/side_menu', :offer => @admin_customer_offer %>