<%= form_for(@studio) do |f| %>
    <% if @studio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

          <ul>
            <% @studio.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :phone_number %>
      <br/>
      <%= f.text_field :phone_number %>
    </div>

    <%= render "shared/addresses/form", :f => f %>

    <% info = @studio.info.nil? ? MyStudio::Info.new : @studio.info %>
    <%= render "my_studio/infos/form", :f => f, :info => info %>

    <% ms = @studio.minisite.nil? ? MyStudio::Minisite.new : @studio.minisite %>
     <%= render "my_studio/minisites/form", :f => f, :minisite => ms %>

    <div class="actions">
      <%= f.submit :id => 'my_submit' %>
      <span id="spinner" style="display:none">
        <%= image_tag 'ajax-loader.gif' %>
      </span>
    </div>
<% end %>
