<style type="text/css">
    #iframe_mock {
        height:1100px;
        width: 1000px;
    }
</style>

<div class="row-fluid span12">

  <% ms = @studio.minisite.nil? ? MyStudio::Minisite.new : @studio.minisite %>
  <% info = @studio.info.nil? ? MyStudio::Info.new : @studio.info %>

  <div class="platypus-form span6">

    <%= render 'shared/error_messages', record: @studio %>

    <%= form_for(@studio, validate: true, html: {class: 'form-horizontal'}) do |f| %>

        <% if is_admin? %>
            <div class="control-group">
              <%= f.label 'Sales status', class: "control-label" %>
              <div class="controls">
                <%= f.text_field :sales_status %>
              </div>
            </div>
            <div class="control-group">
              <%= f.label 'Sales notes', class: "control-label" %>
              <div class="controls">
                <%= f.text_area :sales_notes, rows: 5, class: "input-xlarge" %>
              </div>
            </div>

        <% end %>

        <%= render "my_studio/minisites/form", :f => f, :minisite => ms %>

        <legend><%= t('.legend')%></legend>
        <div class="control-group">
          <%= f.label 'Studio name', class: "control-label" %>
          <div class="controls">
            <%= f.text_field :name %>
          </div>
        </div>

        <%= render "shared/addresses/form", :f => f %>

        <div class="control-group">
          <%= f.label :phone_number, class: "control-label" %>
          <div class="controls">
            <%= f.text_field :phone_number, {size: 15, maxlength: 15, value: number_to_phone(@studio.phone_number.to_s.gsub(/\D/, ''), area_code: true)} %>
            <span class="help-inline">for clients to contact</span>
          </div>
        </div>

        <%= f.fields_for :owner, @studio.owner do |g| %>
            <%= g.hidden_field :id %>
            <%= g.hidden_field :first_pass %>
            <div class="control-group">
              <%= g.label 'Owner\'s first and last name', class: "control-label" %>
              <div class="controls">
                <%= g.text_field :first_name, class: :short %>
                <%= g.text_field :last_name %>
                <span class="help-inline">clients see this on the studio's Contact page</span>
              </div>
            </div>
            <% if current_user.admin? %>
                <div class="control-group">
                  <%= g.label "Owner's email", class: "control-label" %>
                  <div class="controls">
                    <%= g.text_field :email %>
                    <span class="help-inline"> - can be different from the studio email</span>
                  </div>
                </div>
            <% end %>
        <% end %>

        <%= render "my_studio/infos/form", :f => f, :info => info %>

        <div class="actions controls">
          <%= f.submit :id => 'my_submit' %>
          <span id="spinner" style="display:none" class='spinner'></span>
        </div>


    <% end %>

  </div>

  <div class="span6">
    <iframe id="iframe_mock" src="<%= mock_collection_my_studio_infos_url %>">

    </iframe>
  </div>
</div>

