<%= form_for(@studio) do |f| %>
    <% if @studio.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@studio.errors.count, "error") %> prohibited this studio from being saved:</h2>

          <ul>
            <% @studio.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :phone_number %>
      <br/>
      <%= f.text_field :phone_number %>
    </div>

    <%= render "my_studio/infos/form", :f => f, :info => @studio.info %>
    <%= render "my_studio/mini_sites/form", :f => f, :mini_site => @studio.mini_site %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
