<p>
  <b>Name:</b>
  <%= studio.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= number_to_phone studio.phone_number, area_code: true %>
</p>

<%= render 'my_studio/infos/show', info: studio.info %>

<%= render 'shared/addresses/show', resource: studio %>

<%= render "my_studio/minisites/show", minisites: studio.minisite %>
