<h1>
  <%=t(:studios_index_title)%>
  <span class="hint">
      record set count: <%= number_to_human @record_count %>
  </span>
</h1>

<%= link_to t(:studios_new_link), new_studio_path %>

<div class="paginate">
  <%= paginate @studios %>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Owner</th>
    <th></th>
    <th>City</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @studios.all.each do |studio| %>
      <tr>
        <td><%= studio.name %></td>
        <td><%= number_to_phone studio.phone_number, area_code: true %></td>
        <td><%= email_or_link(studio) %></td>
        <td><%= link_to('Impersonate', "/switch_user?scope_identifier=user_#{studio.owner.id}") if studio.owner %></td>
        <td><%= studio.try(:city) %></td>
        <td><%= studio.try(:state).try(:abbrev_and_name) %></td>
        <td><%= link_to t(:show), studio %></td>
        <td><%= link_to t(:edit), edit_studio_path(studio) %></td>
        <td><%= link_to t(:destroy), studio, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @studios %>
</div>