<h1><%=t(:studios_index_title)%></h1>

<%= link_to t(:studios_new_link), new_studio_path %>
<br/>
<%= link_to t(:admin_overview_link), admin_overview_path %>

<table>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Owner</th>
    <th></th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @studios.each do |studio| %>
      <tr>
        <td><%= studio.name %></td>
        <td><%= studio.phone_number %></td>
        <td><%= studio.try(:owner).try(:email) %></td>
        <td><%= link_to 'Impersonate', "/switch_user?scope_identifier=user_#{studio.owner.id}" %></td>
        <td><%= studio.try(:city) %></td>
        <td><%= studio.try(:state).try(:abbrev_and_name) %></td>
        <td><%= link_to t(:show), studio %></td>
        <td><%= link_to t(:edit), edit_studio_path(studio) %></td>
        <td><%= link_to t(:destroy), studio, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
</table>

