<%# DANGER, WILL ROBINSON - this table's columns are referenced in the javascript - so consider your changes carefully.  %>
<%= javascript_include_tag 'data_tables/studios' %>

<div class='row span12'>

  <h2>
    <%= t(:studios_index_title) %>
  </h2>

  <div class='row'>
    <div class="span3 dataTables_filter">
      <%= form_tag new_studio_path, method: :get do %>
          <button type='submit' class='btn btn-success'>
            <i class='icon-plus icon-white'></i>
            <%= t(:studios_new_link) %>...
          </button>
      <% end %>
    </div>
    <div class="span3 dataTables_filter">
      <%= label_tag 'Studios branding' %> <%= select_tag :logoize, options_for_select([[:any,:all_studios], [:present,:ready_for_calls], [:missing,:not_ready]], @logoize), id: :logoize %>
    </div>
  </div>

  <table class='table table-bordered table-striped datatables-hidden' id='studios_table'>
    <thead>
    <tr>
      <th>Logo?</th>
      <th>Sessions</th>
      <th title='send studio an email'>Name</th>
      <th title='send owner an email'>Owner</th>
      <th>Website</th>
      <th>Phone number</th>
      <th>Location</th>
      <th>Sales<br/>status</th>
      <th>Created</th>
      <th>created for DataTable</th>
      <th>Updated</th>
      <th>updated for DataTable</th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @studios.each do |studio| %>
        <tr>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio.logoize ? 'logo' : 'nologo' %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio.sessions.count %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio_email_link(studio) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= user_email_link(studio.owner) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= link_from_site_short_name(studio.info.try(:website)) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= number_to_phone studio.phone_number, area_code: true %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio.try(:city_state_name) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'>
            <%= editable_field studio, :sales_status, {tooltip: 'Click me to edit in place!'} %>
            <br>
            <%= link_to 'notes', sales_notes_studio_path(studio), title: studio_sales_notes(studio) %>
          </td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= date_short studio.created_at %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio.created_at.to_s(:javascript) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= date_short studio.updated_at %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'><%= studio.updated_at.to_s(:javascript) %></td>
          <td class='<%= studio.inactive? ? 'inactive' : '' %>'>
            <%= link_to('Impersonate', "/switch_user?scope_identifier=user_#{studio.owner.id}") if studio.owner %>
            <br>
            <%= link_to 'Branding', show_branding_studio_path(studio) %>
            <br>
            <%= link_to t(:edit), edit_studio_path(studio) %>
            <br>
            <%= link_to t(:destroy), studio, confirm: t(:link_destroy_confirm), method: :delete %>
            <br>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>

</div>

<div class='row span2'>
    inactive: <span class='odd'><span class='inactive'>&nbsp;&nbsp;&nbsp;</span></span>
</div>

<%= coffee_script_tag do %>
->
    $('#logoize').on 'change', ->
      window.location.href = ""

<% end %>