<h1><%= t(:studios_index_title) %></h1>

<div class="dd-form">
  <fieldset class='search'>
    <%= form_tag studios_path, :method => :get do %>
        <p>
          Logo?
          <%= select_tag :search_logoize, options_for_select(%w(any present missing), @logo_search_value) %>
          AND By Name, Phone Number, City, or State
          <%= text_field_tag(:search, params[:search]) %>
          <%= submit_tag "Search", name: nil %>
          <span class="hint">
              Record Set Count:<%= @record_count %>
          </span>
        </p>
    <% end %>
  </fieldset>
</div>

<%= link_to t(:studios_new_link), new_studio_path %>

<div class="paginate">
  <%= paginate @studios %>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Owner</th>
    <th>Website</th>
    <th>City</th>
    <th>State</th>
    <th>Logo?</th>
    <th colspan="5">Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @studios.all.each do |studio| %>
      <tr>
        <td><%= studio.name %></td>
        <td><%= number_to_phone studio.phone_number, area_code: true %></td>
        <td><%= owner_link(studio) %></td>
        <td><%= link_from_site_short_name(studio.info.try(:website)) %></td>
        <td><%= studio.try(:city) %></td>
        <td><%= studio.try(:state).try(:abbreviation) %></td>
        <td><%= studio.try(:logoize) %></td>
        <td><%= eap_link(studio) %></td>
        <td><%= link_to('Impersonate', "/switch_user?scope_identifier=user_#{studio.owner.id}") if studio.owner %></td>
        <td><%= link_to 'Branding', show_branding_studio_path(studio) %></td>
        <td><%= link_to t(:edit), edit_studio_path(studio) %></td>
        <td><%= link_to t(:destroy), studio, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @studios %>
</div>