<h2>
  <%=t(:studios_index_title)%>
  <span class="hint">
      record set count: <%= number_to_human @record_count %>
  </span>
</h2>

<%= link_to t(:studios_new_link), new_studio_path %>
<br/>
<%= link_to t(:admin_overview_link), admin_overview_path %>

<div class="paginate">
<%= paginate @studios %>
</div>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone number</th>
    <th>Owner</th>
    <th></th>
    <th>City</th>
    <th>State</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @studios.all.each do |studio| %>
      <tr>
        <td><%= studio.name %></td>
        <td><%= studio.phone_number %></td>
        <td><%= studio.try(:owner).try(:email) %></td>
        <td><%= link_to 'Impersonate', "/switch_user?scope_identifier=user_#{studio.owner.id}" %></td>
        <td><%= studio.try(:city) %></td>
        <td><%= studio.try(:state).try(:abbrev_and_name) %></td>
        <td><%= link_to t(:show), studio %></td>
        <td><%= link_to t(:edit), edit_studio_path(studio) %></td>
        <td><%= link_to t(:destroy), studio, confirm: t(:link_destroy_confirm), method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<div class="paginate">
<%= paginate @studios %>
</div>

