<p>
  <b>Name:</b>
  <%= @studio.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @studio.phone_number %>
</p>

<%= render 'studios/info_studio/show' %>


<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
