<div class="row span12">
  <p>
    <b>Studio Name:</b>
    <%= @studio.name %> (studio_id: <%= @studio.id %>)
  </p>

  <p>
    <b>Phone number:</b>
    <%= number_to_phone @studio.phone_number, area_code: true %>
  </p>

  <p>
    <b>Owner:</b>
    <% if @studio.owner %>
        <%= @studio.owner.first_name %> <%= @studio.owner.last_name %> (user_id:<%= @studio.owner.id %>)
    <% else %>
        No owner created yet.
    <% end %>
  </p>

  <%= render 'my_studio/infos/show', :info => @studio.info %>

  <%= render "my_studio/minisites/show", :minisite => @studio.minisite %>

  <%= render 'shared/addresses/show', :resource => @studio %>

  <%= link_to translate(:edit), edit_studio_path(@studio), class:"btn btn-success" %> |
  <% url = current_user.admin? ? studios_path : my_studio_overview_path %>
  <%= link_to translate(:back), url, class: "btn btn-primary" %>
</div>