<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @studio.string %>
</p>

<p>
  <b>String:</b>
  <%= @studio.string %>
</p>

<p>
  <b>String:</b>
  <%= @studio.string %>
</p>


<%= link_to 'Edit', edit_studio_path(@studio) %> |
<%= link_to 'Back', studios_path %>
