<div class="platypus-form">

  <% url = @address.new_record? ? shopping_cart_addresses_path(@cart) : shopping_cart_address_path(@cart, @address) %>
  <%= render 'shopping/shared/breadcrumb', address_active: 'active' %>

  <%= form_for(@address, url: url, html: {class: 'form-horizontal'}) do |f| %>

      <%= render 'shared/error_messages', record: @address, h2_msg: 'stopped this delivery address from being saved:' %>

      <p><%= t('.instructions_html', button_label: t(:shopping_submit_address)) %></p>

      <div class="control-group">
        <%= f.label :first_name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :last_name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :email, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :email %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label 'Email again, please!', class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :email_confirmation %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :phone, class: 'control-label' %>
        <div class="controls">
          <%= f.phone_field :phone, value: number_to_phone(@address.phone, area_code: true), placeholder: 'for questions about your order' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address1, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :address1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address2, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :address2 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :city, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :city %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :state_id, class: "control-label" %>
        <div class="controls">
          <%= f.select :state_id, @states, prompt: '- Select State -', include_blank: true %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :zip_code, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :zip_code, size: 10 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :country, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :country %>
        </div>
      </div>

        <%= f.hidden_field :cart_id, value: @cart.id %>
      <div align="">
        <span id="QadBusy"></span>
      </div>

      <div class="form-actions">
        <%= f.submit_spinner t(:shopping_submit_address), id: 'my_submit', class: 'btn btn-success' %>
        <%= link_to_spinner 'Back', shopping_cart_path(@cart.tracking), id: 'back', class: 'btn' %>
      </div>

  <% end %>
</div>

<%= javascript_tag do %>
    QadApi(
    {timeout: 10, key: 99020784, busySubmit: false, autoClean: true},
    {busyId: 'QadBusy', busyText: 'Validating address...'},
    [{name: "Delivery Address",
    street: 'shopping_address_address1',
    unit: 'shopping_address_address2',
    city: 'shopping_address_city',
    state: 'shopping_address_state',
    zip: 'shopping_address_zip_code',
    country: 'shopping_address_country'}]);
<% end %>