<p style='text-align: left;'>
  <%= address.first_name %> <%= address.last_name %><br/>
  <% if address.email.present? %>
      <%= address.email %><br/>
  <% end %>
  <%= address.address1 %> <br/>
  <% if address.phone %>
      <%= number_to_phone address.phone, area_code: true %> <br/>
  <% end %>
  <% if address.address2.present? %>
      <%= address.address2 %><br/>
  <% end %>
  <%= address.city %>,
  <%= address.state.abbreviation %>
  <%= address.zip_code %>
</p>