<!-- class="navbar navbar-inverse navbar-fixed-top"-->
<div id='navbar' class="navbar navbar-inverse">

  <div class="row navbar-header-top-row">

    <div class="row">

      <div class="pull-left">
        <div class='studio-address'>
          <address>
            <strong><%= @studio.name %></strong><br>
            <% @studio.address_array.each do |line| %>
                <%= line %>
                <br>
            <% end %>
            <% if @studio.phone_number %>
                <abbr title="<%= t(:phone_abbr) %>"><%= icon_minisite("icon-volume-up") %></abbr> <%= number_to_phone @studio.phone_number, area_code: true %>
                <br>
            <% end %>
            <% if @studio.info and @studio.info.email %>
                <abbr title=""<%= t(:email_abbr) %>
                ""><%= icon_minisite("icon-envelope") %></abbr> <%= mail_to @studio.info.email, nil, {:encode => :javascript} %>
            <% end %>
          </address>
        </div>
      </div>

      <img src="<%= @studio.minisite.image_url %>" title="<%= @studio.name %>">

      <div class="pull-right">
        <% if current_user_facebook %>
            <%= image_tag current_user_facebook.image_url, class: "rounded" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="navbar-inner">

    <div class="container">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <ul class="nav pull-right">
        <li>
          <%= li_navbar_or_not(:facebook) %>
        </li>
      </ul>

<%# do not show the navigation bar if Kimbra is entering the delivery tracking number  %>
      <% unless controller_name == 'carts' && action_name == 'edit_delivery_tracking' %>
          <!-- Everything you want hidden at 940px or less, place within here -->

          <div class="nav-collapse collapse">

            <ul class='nav'>
              <%= li_navbar_or_not(:brand) %>
              <%= li_navbar_or_not(:suggestions) %>
              <%= li_navbar_or_not(:collection) %>
              <% if Rails.env.development? %>
                  <%= li_navbar_friends %>
              <% end %>
              <%= li_navbar_or_not(:charms) %>
              <%= li_navbar_or_not(:chains) %>
              <%= li_navbar_or_not(:shopping_cart) %>
              <%= li_navbar_photo_sessions %>
            </ul>
          </div>
      <% end %>
    </div>

  </div>
</div>