<div class="platypus-form">

  <% url = @purchase.new_record? ? shopping_cart_purchase_path(@cart) : shopping_cart_purchase_path(@cart) %>
  <% stripe_submit_klass = @purchase.new_record? ? 'new_shopping_purchase' : 'edit_shopping_purchase' %>
  <% submit_label = @purchase.new_record? ? t('.submit_new') : t('.submit_edit') %>

  <%= render 'shopping/shared/breadcrumb', purchase_active: 'active' %>

  <%= form_for(@purchase, url: url, html: {class: "#{stripe_submit_klass} form-horizontal"}) do |f| %>

      <%= render 'shared/error_messages', record: @purchase, h2_msg: 'stopped this purchase:' %>

      <p><%= t('.instructions_html', button_label: submit_label) %></p>

      <%= f.hidden_field :stripe_create_token_response %>
      <%= f.hidden_field :stripe_create_token_status %>
      <%= f.fields_for :cart, @purchase.cart do |g| %>
          <%= g.fields_for :address, @purchase.cart.address do |h| %>
              <%= h.hidden_field :name %>
              <%= h.hidden_field :address1 %>
              <%= h.hidden_field :address2 %>
              <%= h.hidden_field :state_stripe %>
              <%= h.hidden_field :zip_code %>
              <%= h.hidden_field :country_stripe %>
          <% end %>
      <% end %>

      <div class="row-fluid">
        <table align='center' class='field'>
          <tr>
            <td><%= "#{pluralize @cart.quantity, 'item'} in cart" %></td>
            <td class='right'><%= number_to_currency @cart.invoice_items_total %></td>
          </tr>

          <tr>
            <td>Tax: <%= @cart.tax_short_description %></td>
            <td class='right'>
              <%= number_to_currency @cart.invoice_tax_total %>
            </td>
          </tr>

          <tr>
            <td><%= @cart.try(:shipping).try(:shipping_option_name) %></td>
            <td class='right'><%= number_to_currency(@cart.invoice_shipping_total) %></td>
          </tr>

          <tr>
            <td style="border-top: 1px solid;"><%= f.label :total %></td>
            <td style="border-top: 1px solid;" class='right'><%= number_to_currency @cart.invoice_total %></td>
          </tr>

          <tr>
            <td colspan=2>&nbsp;</td>
          </tr>

        </table>
      </div>

      <div class="control-group">
        <%= label_tag :card_number, 'Credit Card Number', class: "control-label" %>
        <div class="controls">
          <%= text_field_tag :card_number, nil, name: nil, size: 18, placeholder: 'your card number' %>
        </div>
      </div>
      <div id="card_number_error"></div>

      <div class="control-group">
        <%= label_tag :card_code, 'Security Code on Card (CVV)', class: "control-label" %>
        <div class="controls">
          <%= text_field_tag :card_code, nil, name: nil, size: 3, autocomplete: 'off', placeholder: 'on back of card' %></td>
        </div>
      </div>

      <div class="control-group">
        <%= label_tag :card_month, 'Card Expiration', class: "control-label" %>
        <div class="controls">

          <%= select_month Date.today, {:add_month_numbers => true}, {:name => nil, :id => 'card_month'} %>
          <%= select_year nil, {:start_year => Date.today.year, :end_year => Date.today.year+15}, {name: nil, id: 'card_year', class: 'input-small'} %>

        </div>

      </div>

      <%= f.hidden_field :cart_id %>
      <%= f.hidden_field :stripe_card_token %>
      <%= f.hidden_field :invoice_amount %>

      <div class="field">
        <div id="stripe_error" class='flash_error'></div>
      </div>

      <div class="form-actions">
        <%= f.submit_spinner submit_label, id:'my_submit', class: 'btn btn-success' %>
        <%= link_to_spinner 'Back', edit_shopping_cart_shipping_path(@cart, @cart.shipping), id: 'back', class: 'btn' %>
      </div>

  <% end %>
</div>