<%= form_for(@shopping_purchase) do |f| %>
  <% if @shopping_purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopping_purchase.errors.count, "error") %> prohibited this shopping_purchase from being saved:</h2>

      <ul>
      <% @shopping_purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cart %><br />
    <%= f.text_field :cart %>
  </div>
  <div class="field">
    <%= f.label :tax %><br />
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total %><br />
    <%= f.text_field :total %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
