<%= render 'shopping/shared/breadcrumb', purchase_active: 'active' %>

<div class="row-fluid">

  <div class="span8">
    <%= render 'form' %>
  </div>

  <div class="span3">
    <div class="shopping-details">
      <h5><%= t('shopping.shared.breadcrumb.address.link') %></h5>
      <%= render 'shopping/addresses/show', address: @cart.address %>
      <h5><%= t('shopping.shared.breadcrumb.shipping.link') %></h5>
      <%= render 'shopping/shippings/show', shipping: @cart.shipping %>
    </div>
  </div>

</div>
