<p>
  <b>Bgcolor:</b>
  <%= @my_studio_mini_site.bgcolor %>
</p>
<p>
  <b>Font family:</b>
  <%= @my_studio_mini_site.font_family %>
</p>

<p>
  <b>Font color:</b>
  <%= @my_studio_mini_site.font_color %>
</p>

<p>
  <b>Theme:</b>
  <%= @my_studio_mini_site.theme %>
</p>

<div class='image-thumb'>
  <p>
    <b>Logo:</b>
    <%= image_tag_thumb(@my_studio_mini_site) %>
  </p>
</div>

