<h3> Studio Minisite</h3>
<p>
  <b>Bgcolor:</b>
  <%= minisite.bgcolor %>
</p>
<p>
  <b>Font family:</b>
  <%= minisite.font_family %>
</p>

<p>
  <b>Font color:</b>
  <%= minisite.font_color %>
</p>

<p>
  <b>Theme:</b>
  <%= minisite.theme %>
</p>

<div class='image-thumb'>
  <p>
    <b>Logo:</b>
    <%= image_tag_thumb(minisite) %>
  </p>
</div>

