<p id="notice"><%= notice %></p>

<p>
  <b>Studio:</b>
  <%= @my_studio_mini_site.studio %>
</p>

<p>
  <b>Bgcolor:</b>
  <%= @my_studio_mini_site.bgcolor %>
</p>

<p>
  <b>Logo:</b>
  <%= @my_studio_mini_site.image %>
</p>

<p>
  <b>Font family:</b>
  <%= @my_studio_mini_site.font_family %>
</p>

<p>
  <b>Font color:</b>
  <%= @my_studio_mini_site.font_color %>
</p>

<p>
  <b>Theme:</b>
  <%= @my_studio_mini_site.theme %>
</p>


<%= link_to t(:edit), edit_my_studio_mini_site_path(@my_studio_mini_site) %> |
<%= link_to t(:back), my_studio_mini_sites_path %>
