<h2>About <%= @studio.name %></h2>

<div class='row' style='margin:auto;'>
  <div style='text-align:center;'>
    <% @admin_customer_email.offers_by_suggestions.each do |offer| %>
        <div class='pull-left' style='text-align:center; margin:10px;'>
          <%= link_to_spinner image_tag_list(offer),
                      url_for_offer_or_not(offer),
                      id: offer.id,
                      class: :no_border %>
          <br>
          <%= link_to_spinner 'View', url_for_offer_or_not(offer), id: "view#{offer.id}"%>
        </div>
    <% end if @admin_customer_email.offers %>
  </div>
</div>

<div class='row'>
  <p>
    <%= t('.p1') %>
  </p>

  <p>
    <%= t('.p2', name: @studio.name) %>
  </p>

  <p>
    <%= link_to "Kimbra Studios", "http://kimbrastudios.com" %> <%= t('.p3') %>
  </p>
</div>