<h2>Contact us</h2>

<table width="500" cellspacing="0" cellpadding="4" border="0" align="center">
  <tbody>
  <tr>
    <td align=center>
      <div style="text-align:center;width:100%">
        <p>
          Would you like to schedule another photography session?
          Or would you like a different piece of custom photo jewelry prepared?
          We look forward to chatting with you about it.
        </p>
        <p>
          <%= @studio.name %><br/>
          <%= @studio.owner.name %> (<%= mail_to @studio.owner.email, nil, {:encode =>:javascript } %>)<br/>
          <%= @studio.phone_number %><br/>
          <%= @studio.address_1 %><br/>
          <%= "#{@studio.address_2}<br/>".html_safe if @studio.address_2 %>
          <%= @studio.city %>, <%= @studio.state %> <%= @studio.zip_code %>
        </p>
      </div>
    </td>
  </tr>
  </tbody>
</table>