<h2>Contact us</h2>

<p>
  Would you like to schedule another photography session?
  Or would you like a different piece of custom photo jewelry prepared?
  We look forward to chatting with you about it.
</p>

<p>
<address>
  <strong><%= @studio.name %></strong><br>
  <% @studio.address_array.each do |line| %>
      <%= line %>
      <br>
  <% end %>
  <% if @studio.phone_number %>
      <abbr title="<%=t(:phone_abbr)%>"><%= icon_minisite("icon-volume-up") %></abbr> <%= number_to_phone @studio.phone_number, area_code: true %>
      <br>
  <% end %>
  <% if @studio.owner_email_address_with_name.present? %>
      <abbr title="<%=t(:email_abbr)%>"><%= icon_minisite("icon-envelope") %></abbr> <%= mail_to @studio.info.email, nil, {:encode => :javascript} %>
  <% end %>
</address>

</p>

<p>
  If you have any questions about your order or any technical questions about the pieces in our offer,
  please go straight to the people who are hand-making the pieces!
</p>

<p>
  Kimbra's ClickPLUS program for professional photography studios.<br/>
  <abbr title="<%=t(:open_abbr)%>"><%= icon_minisite("icon-time") %></abbr> Call us direct 9am - 7pm Eastern<br/>
  <abbr title="<%=t(:phone_abbr)%>"><%= icon_minisite("icon-volume-up") %></abbr> (303) 586-1371 or Skype us at KimbraClickPLUS
  <br/>
  <abbr title="<%=t(:email_abbr)%>"><%= icon_minisite("icon-envelope") %></abbr> <%= mail_to 'Support@KimbraClickPLUS.com', 'Support@KimbraClickPLUS.com', {:encode => :javascript} %>
  <br/>
  <abbr title="<%=t(:site)%>"><%= icon_minisite("icon-globe") %></abbr> <%= link_to 'Kimbra Studios', 'http://KimbraStudios.com' %>
</p>

<p>
  <%= link_to image_tag("http://badge.facebook.com/badge/333860214613.6156.966267155.png", width: '120', height: 195, style: 'border:0px;'),
              'http://www.facebook.com/pages/Littleton-CO/Kimbra-Studios-Custom-Photo-Jewelry/333860214613', title: 'Kimbra Studios : Custom Photo Jewelry', target: '_top' %>
</p>
