<div class="page-header">
  <h2><%= t('.title') %></h2>
</div>

<p><%= t('.order_number', number: @cart_order.tracking) %></p>

<p><%= status_for_cart(@cart_order) %></p>

<%= render 'shopping/addresses/show', address: @cart_order.address %>

<%= render 'shopping/items/index', cart: @cart_order, show_status_only: @show_status_only %>

<p>Purchased
  on <%= @cart_order.purchase.purchased_at.in_time_zone("Eastern Time (US & Canada)").strftime("%a %b %d %I:%M%p") %>
  Eastern using credit card xxxx-xxxx-xxxx-<%= @cart_order.purchase.stripe_card.last4 %>.
</p>
