<h2>Order Status</h2>

<p>Your order number is <%= @cart_order.tracking %>.</p>

<p><%= status_for_cart(@cart_order) %></p>

<div>
  <div style='width:50%;margin:0px auto;'>
  <%= render 'shopping/addresses/show', address: @cart_order.address %>
  </div>
</div>

<div class='cart-show'>
  <%= render 'shopping/items/index', cart: @cart_order, show_status_only: @show_status_only %>
</div>

<div class='cart-show'>
  <p>Purchased on <%= @cart_order.purchase.purchased_at.in_time_zone("Eastern Time (US & Canada)").strftime("%a %b %d %I:%M%p") %> Eastern using credit card xxxx-xxxx-xxxx-<%= @cart_order.purchase.stripe_card.last4 %>.</p>
</div>