<!DOCTYPE html>
<html>
<head>
  <title>KimbraClickPLUS loves photographers!</title>
  <meta name='description' content="Kimbra Studio's photo jewelry platform for photography studios. You upload choice portraits and we take care of the rest.">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv='content-type' content='text/html;charset=UTF-8'>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/firefly' if Rails.env.production? %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <!--[if !IE 7]>
  <style type='text/css'>
      #wrap {
          display: table;
          height: 100%
      }
  </style>
  <![endif]-->
</head>
<body>

<div id='body_wrapper'>

  <%= render 'shared/main_header_bs', selected: params['controller'] %>

  <div class='hero-unit span12'>

    <% if notice || alert %>
        <div class="alert error rounded row">
          <i class="icon-hand-right"> </i>
          <button type="button" class="close" data-dismiss="alert">close x</button>
          <%= raw "<p> #{notice}</p>" if notice %>
          <%= raw "<p><strong>#{t(:snap)}</strong>#{alert}</p>" if alert %>
        </div>
    <% end %>

    <%= yield %>
  </div>
</div>

<div id='footer' class='bp'>
  <ul id='main-footer-tabs'>
    <li><%= link_to_unless_current 'Terms & Conditions', terms_path %></li>
    |
    <li><%= link_to_unless_current 'About', about_path %></li>
    |
    <li><%= link_to_unless_current t(:my_studio_infos_label_blog), blog_path %></li>
    |
    <li><%= link_to_unless_current 'Contact', contact_about_path %></li>
  </ul>
</div>

<%= render('shared/olark') if user_signed_in? && Rails.env.production? %>
</body>
</html>