<!DOCTYPE html>
<html>
<head>
  <title>Mindreading</title>

  <%= stylesheet_link_tag 'application', 'stories' %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <!--[if !IE 7]>
  	<style type='text/css'>
  		#wrap {display:table;height:100%}
  	</style>
  <![endif]-->
</head>
<body>

<div id='body_wrapper'>

  <div class='bp'>
    <%= raw "<p class='flash_notice'> #{notice}</p>" if notice %>
    <%= raw "<p class='flash_error'>#{alert}</p>" if alert %>
  </div>

  <%= render 'shared/main_header', selected: params['controller']%>

  <div id='content' class='container'>
    <%= yield %>
  </div>
</div>

<div id="footer" class='bp'>
  <ul id='main-footer-tabs'>
    <li><%= link_to_unless_current 'Terms & Conditions', terms_path %></li>
    |
    <li><%= link_to_unless_current 'About', about_path %></li>
  </ul>
</div>

<%= render 'shared/olark' %>
</body>
</html>